/* Font */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url(../font/Pretendard-Black.woff2) format('woff2'),
    url(../font/Pretendard-Black.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url(../font/Pretendard-ExtraBold.woff2) format('woff2'),
    url(../font/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url(../font/Pretendard-Bold.woff2) format('woff2'),
    url(../font/Pretendard-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url(../font/Pretendard-SemiBold.woff2) format('woff2'),
    url(../font/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url(../font/Pretendard-Medium.woff2) format('woff2'),
    url(../font/Pretendard-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url(../font/Pretendard-Regular.woff2) format('woff2'),
    url(../font/Pretendard-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url(../font/Pretendard-Light.woff2) format('woff2'),
    url(../font/Pretendard-Light.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url(../font/Pretendard-ExtraLight.woff2) format('woff2'),
    url(../font/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url(../font/Pretendard-Thin.woff2) format('woff2'),
    url(../font/Pretendard-Thin.woff) format('woff');
}

/* Noto Sans SC : 중문 */
@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 900;
  font-display: swap;
  src:
    local('Noto Sans SC Black'),
    url(../font/NotoSansSC-Black.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 800;
  font-display: swap;
  src:
    local('Noto Sans SC ExtraBold'),
    url(../font/NotoSansSC-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 700;
  font-display: swap;
  src:
    local('Noto Sans SC Bold'),
    url(../font/NotoSansSC-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 600;
  font-display: swap;
  src:
    local('Noto Sans SC SemiBold'),
    url(../font/NotoSansSC-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 500;
  font-display: swap;
  src:
    local('Noto Sans SC Medium'),
    url(../font/NotoSansSC-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 400;
  font-display: swap;
  src:
    local('Noto Sans SC Regular'),
    url(../font/NotoSansSC-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 300;
  font-display: swap;
  src:
    local('Noto Sans SC Light'),
    url(../font/NotoSansSC-Light.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 200;
  font-display: swap;
  src:
    local('Noto Sans SC ExtraLight'),
    url(../font/NotoSansSC-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 100;
  font-display: swap;
  src:
    local('Noto Sans SC Thin'),
    url(../font/NotoSansSC-Thin.woff) format('woff');
}

/*
Copyright (c) 2022 Kil Hyung-jin, with Reserved Font Name Pretendard JP.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/

@font-face {
  font-family:
    'Pretendard JP';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard JP Black'),
    url(../font/PretendardJP-Black.woff2) format('woff2'),
    url(../font/PretendardJP-Black.woff) format('woff');
}

@font-face {
  font-family:
    'Pretendard JP';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard JP ExtraBold'),
    url(../font/PretendardJP-ExtraBold.woff2) format('woff2'),
    url(../font/PretendardJP-ExtraBold.woff) format('woff');
}

@font-face {
  font-family:
    'Pretendard JP';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard JP Bold'),
    url(../font/PretendardJP-Bold.woff2) format('woff2'),
    url(../font/PretendardJP-Bold.woff) format('woff');
}

@font-face {
  font-family:
    'Pretendard JP';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard JP SemiBold'),
    url(../font/PretendardJP-SemiBold.woff2) format('woff2'),
    url(../font/PretendardJP-SemiBold.woff) format('woff');
}

@font-face {
  font-family:
    'Pretendard JP';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard JP Medium'),
    url(../font/PretendardJP-Medium.woff2) format('woff2'),
    url(../font/PretendardJP-Medium.woff) format('woff');
}

@font-face {
  font-family:
    'Pretendard JP';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard JP Regular'),
    url(../font/PretendardJP-Regular.woff2) format('woff2'),
    url(../font/PretendardJP-Regular.woff) format('woff');
}

@font-face {
  font-family:
    'Pretendard JP';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard JP Light'),
    url(../font/PretendardJP-Light.woff2) format('woff2'),
    url(../font/PretendardJP-Light.woff) format('woff');
}

@font-face {
  font-family:
    'Pretendard JP';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard JP ExtraLight'),
    url(../font/PretendardJP-ExtraLight.woff2) format('woff2'),
    url(../font/PretendardJP-ExtraLight.woff) format('woff');
}

@font-face {
  font-family:
    'Pretendard JP';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard JP Thin'),
    url(../font/PretendardJP-Thin.woff2) format('woff2'),
    url(../font/PretendardJP-Thin.woff) format('woff');
}
