/* scroll, sticky 적용되지않아 초기화하였음 */
body {overflow: auto;}
.wrap.sub_p.cyanogen {overflow: revert;}

.header-wrap {position: relative;}
.header-cont {max-width: 1920px; margin: 0 auto; background: #fff;}
.header-cont > img {width: 100%; height: 100%; object-fit: cover;}
.header-cont .default-img {height: 100px;}
.header-cont-active { background: #fff; border-top: 1px solid #C9CED1;  display: none;}
.header-cont-active .active-img  {width:100%; max-width:1920px; height:329px; margin:0 auto; display: flex;}
.header-wrap.on .header-cont-active {display:block;}

.page-map-wrap {font-size: 20px; line-height: 30px; font-weight: 600; z-index: 50; padding: 25px 0; margin-top:-79px; width: 100%; background: transparent;  top:-1px;}
.page-map-wrap.stuck {background:#fff;} /* sticky 붙었을경우 예외처리 클래스 */
.page-map-wrap::before {content:''; width: 1360px; height: 80px; background-color: #fff; position: absolute; top: 0; left: 0;}
.page-map-wrap:before + ul:not(.page-map) {position:absolute; top:0; left:0;}
.page-map-wrap ul:not(.page-map) {max-width: 1440px; margin: 0 auto;}
.page-map-wrap ul:not(.page-map) > li {position:relative; padding:0 24px; }
.page-map-wrap ul:not(.page-map) > li:first-child {padding-left: 0;}
.page-map-wrap ul:not(.page-map) > li:not(:first-child) button {min-width: 180px;}
.page-map-wrap ul:not(.page-map) > li:not(:first-child) button::before {content: ''; display: block; width: 24px; height: 24px; background: url(../../inc/images/icon/icon_arrow_down.svg) no-repeat center center / contain; position: absolute; right: 24px; top: 50%; transform: translateY(-50%);}
.page-map-wrap ul:not(.page-map) > li:not(:last-child)::after {content:''; width:1px; height:20px; background:#C9CED1; display: inline-block; position: absolute; right:0; top:50%; transform: translateY(-50%);}
.page-map-wrap ul:not(.page-map) > li > a,
.page-map-wrap ul:not(.page-map) > li > button {font-size: 20px; line-height: 30px; font-weight: 600; display: block; text-align: left;}
.page-map-wrap ul:not(.page-map) > li > a > img {margin-top: 3px;}

ul.page-map.on {display: block;}
ul.page-map {padding: 24px; width: 200px; position: absolute; top:34px; left:0; border-radius: 16px; background: #fff; box-shadow: 10px 20px 40px 0px rgba(16, 16, 16, 0.10);}
ul.page-map > li:not(:last-child) {padding-bottom: 20px;}
ul.page-map > li > a {color: #858889; font-size: calc(18 / 16 * 1rem); font-weight: 400; line-height: calc(28.8 / 16 * 1rem); display: block;}
ul.page-map > li > a.active,
ul.page-map > li > a:hover {color: #171819; font-weight: 600;}

.content-header {max-width: 1440px; margin: 0 auto; padding:100px 0 60px;}
.content-header .subp-tit {color:#171819; font-size: 32px; font-weight: 600; line-height: 48px;}
.content-area-head-tab {background-color: #fff; top: 79px; border-bottom: 1px solid #c9ced1;}
.content-area-head-tab > .tab-category {display: flex; align-items: center; gap: 60px; max-width: 1440px; height: 60px; margin: 0 auto;}
.content-area-head-tab > .tab-category > li button {font-size: 20px; line-height: 30px; font-weight: 500; color: #707273; position:relative; padding:16px 0;}
.content-area-head-tab > .tab-category > li.on button  {color:#171819; font-weight: 600;}
.content-area-head-tab > .tab-category > li.on button:after {content: ''; height: 4px; width: 100%; display:inline-block; background-color:#121212; position: absolute; bottom:0; left:0;}

.content-article {max-width: 1440px; margin: 0 auto; padding: 80px 0 220px;}
.tab-content-box .tab-content {display: none;  text-align: center; font-size: 24px; font-weight: 600; line-height: 36px;}
.tab-content-box .tab-content.on {display: block;}

.map-conts-area {display:flex; width: 100%; position: relative; overflow: hidden}
.map-conts-area .map-img {height: 860px; position:relative;}
.map-conts-area .map-img .active_img {display: none;}
.map-conts-area .map-img .active_mark {display: none; position:absolute; top:50%; left:40%; transform: translate(-50%, -50%);}
.map-conts-area .map-img.on .active_img{display: block;}
.map-conts-area .map-img.on .default_img{display: none;}
.map-conts-area .map-img.on .active_mark {display: block; }

.map-conts-area .map-info .map-info-list {width: 528px; height: 860px; padding: 40px 0; text-align: left; overflow-y: auto; position:absolute; background:#fff; top:0; right:0;}

.map-filter {position:absolute; left:32px; bottom: 32px;}
.map-filter .map-filter-list {display: flex; text-align:left; flex-direction: column; gap: 10px; align-items: center;}
.map-filter .map-filter-list > li {width:180px; height:56px; padding: 10px 16px 10px 20px; border-radius: 90px; box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10); background-color:#fff;  display:flex; align-items:center; justify-content: space-between;}
.map-filter .map-filter-list > li[class^=filter-]::after {content:''; display:block; min-width: 20px; height:20px; background-color:#f5f5f5; border-radius:100px;}
.map-filter .map-filter-list > li[class^=filter-][class*=type1]::after {background-color: #555758;}
.map-filter .map-filter-list > li[class^=filter-][class*=type2]::after {background-color: #276EF2;}
.map-filter .map-filter-list > li[class^=filter-][class*=type3]::after {background-color: #3EC2CF;}
.map-filter .map-filter-list > li[class^=filter-][class*=type4]::after {background-color: #E12991;}
.map-filter .map-filter-list > li > button {font-size: 16px; font-weight: 600; line-height: 25.6px; display: block; width: 100%; text-align: left;}

.map-info {display: flex; position: relative;}
.map-info .map-info-list .map-cate {position: relative; margin:0 40px;}
.map-info .map-info-list .map-cate > button {height: 64px; width:100%; max-width: 448px; border-radius: 16px; padding:16px 24px; border:1px solid #c9ced1; font-size: 20px; font-weight: 400; line-height: 30px; text-align: left; color:#555758;}
.map-info .map-info-list .map-cate > button:after {content: ''; display: block; width: 24px; height: 24px; background: url(../../inc/images/icon/icon_arrow_down.svg) no-repeat center center / contain; position: absolute; right: 24px; top: 50%; transform: translateY(-50%);}
.map-info .map-info-list .map-cate .page-map {top:70px; width: 100%;}

.map-info .map-info-list .map-info-item {margin-top: 16px;}
.map-info .map-info-list .map-info-item > li:not(:last-child) {border-bottom:1px solid #e1e7ea;}
.map-info .map-info-list .map-info-item > li > a {font-size: 18px; font-weight: 600; line-height: 28.8px; padding: 16px 40px; display:block;}
.map-info .map-info-list .map-info-item > li > a:hover,
.map-info .map-info-list .map-info-item > li > a:active,
.map-info .map-info-list .map-info-item > li.active > a {background-color:#3ec2cf; color:#fff;}
.map-info .map-info-content-box {position:absolute; top:0; right:-9999px; width:420px; height:860px; padding:40px; background:#fff; box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.10); backdrop-filter: blur(3px);}
.map-info .map-info-content-box .btn-close {width:28px; height:28px; display:block;}
.map-info.on .map-info-content-box {right:0; transition: 0.3s linear;}
.map-info.on .map-info-list {right:420px; transition: 0.3s linear;}
