:root {
    --colorSemantic-light-cyan50: #ddf2f5;
    --colorSemantic-light-cyan100: #caf2f6;
    --colorSemantic-light-cyan200: #adebf1;
    --colorSemantic-light-cyan300: #81dce4;
    --colorSemantic-light-cyan400: #59d0dc;
    --colorSemantic-light-cyan500: #3ec2cf;
    --colorSemantic-light-cyan600: #1eb1c0;
    --colorSemantic-light-cyan700: #0c9caa;
    --colorSemantic-light-cyan800: #007c89;
    --colorSemantic-light-cyan900: #005861;
    --colorSemantic-light-red50: #ffe3e2;
    --colorSemantic-light-red100: #f7bfbd;
    --colorSemantic-light-red200: #fa8d89;
    --colorSemantic-light-red300: #f26965;
    --colorSemantic-light-red400: #f2332d;
    --colorSemantic-light-red500: #e90700;
    --colorSemantic-light-red600: #cd0c05;
    --colorSemantic-light-red700: #ad0600;
    --colorSemantic-light-red800: #800400;
    --colorSemantic-light-red900: #650300;
    --colorSemantic-light-coolgray50: #f3f5f7;
    --colorSemantic-light-coolgray100: #e0e6ea;
    --colorSemantic-light-coolgray200: #c9ced0;
    --colorSemantic-light-coolgray300: #b4b8b9;
    --colorSemantic-light-coolgray400: #989b9d;
    --colorSemantic-light-coolgray500: #858889;
    --colorSemantic-light-coolgray600: #6f7172;
    --colorSemantic-light-coolgray700: #545657;
    --colorSemantic-light-coolgray800: #3b3d3e;
    --colorSemantic-light-coolgray900: #171818;
    --colorSemantic-light-mode-black100-fixed: #000000;
    --colorSemantic-light-mode-white100-fixed: #ffffff;
    --colorSemantic-light-green50: #d8f3dc;
    --colorSemantic-light-green100: #afeeb2;
    --colorSemantic-light-green200: #78eb8d;
    --colorSemantic-light-green300: #45e064;
    --colorSemantic-light-green400: #18c861;
    --colorSemantic-light-green500: #00b049;
    --colorSemantic-light-green600: #00973f;
    --colorSemantic-light-green700: #007530;
    --colorSemantic-light-green800: #005824;
    --colorSemantic-light-green900: #003f1a;
    --colorSemantic-light-yellow50: #faf2d0;
    --colorSemantic-light-yellow100: #fcebaa;
    --colorSemantic-light-yellow200: #fbe384;
    --colorSemantic-light-yellow300: #f9d750;
    --colorSemantic-light-yellow400: #facf22;
    --colorSemantic-light-yellow500: #ecbd00;
    --colorSemantic-light-yellow600: #d6ab00;
    --colorSemantic-light-yellow700: #c28e00;
    --colorSemantic-light-yellow800: #9d7300;
    --colorSemantic-light-yellow900: #7e5c00;
    --colorSemantic-light-blue50: #d6e2f8;
    --colorSemantic-light-blue100: #bacff5;
    --colorSemantic-light-blue200: #98b9f7;
    --colorSemantic-light-blue300: #6998f2;
    --colorSemantic-light-blue400: #427ff0;
    --colorSemantic-light-blue500: #266df2;
    --colorSemantic-light-blue600: #1159de;
    --colorSemantic-light-blue700: #194ba9;
    --colorSemantic-light-blue800: #0b3481;
    --colorSemantic-light-blue900: #061f4d;
    --colorSemantic-light-lime50: #f0f8da;
    --colorSemantic-light-lime100: #e4f2bd;
    --colorSemantic-light-lime200: #dbeea4;
    --colorSemantic-light-lime300: #cfea86;
    --colorSemantic-light-lime400: #bde05e;
    --colorSemantic-light-lime500: #a6ce39;
    --colorSemantic-light-lime600: #8fbc15;
    --colorSemantic-light-lime700: #749b0a;
    --colorSemantic-light-lime800: #5a7a03;
    --colorSemantic-light-lime900: #3f5600;
    --colorSemantic-light-violet50: #e0daf8;
    --colorSemantic-light-violet100: #c9bff2;
    --colorSemantic-light-violet200: #b3a5eb;
    --colorSemantic-light-violet300: #9888df;
    --colorSemantic-light-violet400: #7361ba;
    --colorSemantic-light-violet500: #554596;
    --colorSemantic-light-violet600: #3f2b91;
    --colorSemantic-light-violet700: #2c1589;
    --colorSemantic-light-violet800: #1b0770;
    --colorSemantic-light-violet900: #140552;
    --colorSemantic-light-pink50: #ffe5f4;
    --colorSemantic-light-pink100: #ffcde9;
    --colorSemantic-light-pink200: #f8b0d9;
    --colorSemantic-light-pink300: #f292c8;
    --colorSemantic-light-pink400: #eb6eb5;
    --colorSemantic-light-pink500: #e12991;
    --colorSemantic-light-pink600: #cd157d;
    --colorSemantic-light-pink700: #99095b;
    --colorSemantic-light-pink800: #770746;
    --colorSemantic-light-pink900: #510430;
    --colorSemantic-light-orange50: #ffe6e2;
    --colorSemantic-light-orange100: #fbcac0;
    --colorSemantic-light-orange200: #fbb0a3;
    --colorSemantic-light-orange300: #f89d8d;
    --colorSemantic-light-orange400: #fa7d68;
    --colorSemantic-light-orange500: #f1593f;
    --colorSemantic-light-orange600: #d52d10;
    --colorSemantic-light-orange700: #b12007;
    --colorSemantic-light-orange800: #8c200c;
    --colorSemantic-light-orange900: #631304;
    --colorSemantic-light-deep-blue50: #e1e1fb;
    --colorSemantic-light-deep-blue100: #c0c0f0;
    --colorSemantic-light-deep-blue200: #9596d6;
    --colorSemantic-light-deep-blue300: #6f70c4;
    --colorSemantic-light-deep-blue400: #5152ab;
    --colorSemantic-light-deep-blue500: #303188;
    --colorSemantic-light-deep-blue600: #0e0f87;
    --colorSemantic-light-deep-blue700: #040676;
    --colorSemantic-light-deep-blue800: #03045e;
    --colorSemantic-light-deep-blue900: #00001d;
    --colorElement-light-primary-primary-enabled: #3ec2cf;
    --colorElement-light-primary-primary-pressed: #0c9caa;
    --colorElement-light-primary-primary-disabled: #adebf1;
    --colorElement-light-secondary-secondary-enabled: #554596;
    --colorElement-light-secondary-secondary-pressed: #1b0770;
    --colorElement-light-secondary-secondary-disabled: #c9bff2;
    --colorElement-light-text-text-default01: #171818;
    --colorElement-light-text-text-default02: #545657;
    --colorElement-light-text-text-unselected-tab: #6f7172;
    --colorElement-light-text-text-disabled: #b4b8b9;
    --colorElement-light-text-text-on-primary: #ffffff;
    --colorElement-light-icon-icon-default01: #171818;
    --colorElement-light-icon-icon-default02: #545657;
    --colorElement-light-icon-icon-on-primary: #ffffff;
    --colorElement-light-icon-icon-disabled: #b4b8b9;
    --colorElement-light-stroke-stroke-default00: #171818;
    --colorElement-light-stroke-stroke-default01: #545657;
    --colorElement-light-stroke-stroke-default04: #e0e6ea;
    --colorElement-light-stroke-stroke-on-primary: #ffffff;
    --colorElement-light-fill-fill-on-primary: #ffffff;
    --colorElement-light-fill-fill-default04: #f3f5f7;
    --colorElement-light-fill-fill-default01: #545657;
    --colorElement-light-critical-critical-enabled: #f2332d;
    --colorElement-light-critical-critical-pressed: #cd0c05;
    --colorElement-light-critical-critical-disabled: #f7bfbd;
    --colorElement-light-success-success-enabled: #00973f;
    --colorElement-light-success-success-pressed: #007530;
    --colorElement-light-success-success-disabled: #afeeb2;
    --colorElement-light-caution-caution-enabled: #ecbd00;
    --colorElement-light-caution-caution-pressed: #c28e00;
    --colorElement-light-caution-caution-disabled: #fcebaa;
    --colorElement-light-shadow-shadow4: #0f10100a;
    --colorElement-light-shadow-shadow6: #1010100f;
    --colorElement-light-shadow-shadow10: #10101019;
    --colorElement-light-shadow-shadow12: #10101028;
    --colorElement-light-shadow-shadow16: #10101033;
    --colorElement-light-shadow-shadow18: #1010103d;
    --colorElement-light-shadow-shadow24: #1010104c;
    --colorElement-light-shadow-shadow30: #1010105b;
    --colorElement-light-shadow-shadow-cyan: #3ec2cf7f;
    --colorElement-light-fill-fill-default00: #171818;
    --colorElement-light-icon-icon-primary: #3ec2cf;
    --colorElement-light-fill-fill-default03: #e0e6ea;
    --colorElement-light-fill-fill-disabled: #c9ced0;
    --colorElement-light-stroke-stroke-disabled: #b4b8b9;
    --colorElement-light-text-text-default03: #858889;
    --colorElement-light-stroke-stroke-default03: #c9ced0;
    --colorElement-light-icon-icon-default05: #e0e6ea;
    --colorElement-light-stroke-stroke-primary: #3ec2cf;
    --colorElement-light-fill-fill-primary: #3ec2cf;
    --colorElement-light-text-text-primary: #3ec2cf;
    --colorElement-light-fill-fill-default02: #989b9d;
    --colorElement-light-icon-icon-default03: #858889;
    --colorElement-light-icon-icon-default04: #b4b8b9;
    --colorElement-light-confirm-critical-enabled: #1eb1c0;
    --colorElement-light-confirm-critical-pressed: #007c89;
    --colorElement-light-confirm-critical-disabled: #adebf1;
    --colorElement-light-thirdary-thirdary-enabled: #e12991;
    --colorElement-light-thirdary-thirdary-pressed: #99095b;
    --colorElement-light-thirdary-thirdary-disabled: #ffcde9;
    --colorElement-light-stroke-stroke-default02: #858889;
    --colorElement-light-accent-success-enabled: #266df2;
    --colorElement-light-accent-success-pressed: #194ba9;
    --colorElement-light-accent-success-disabled: #bacff5;
    --typography-value-family-detail: Pretendard;
    --typography-value-family-body: Pretendard;
    --typography-value-family-large: Pretendard;
    --typography-value-weight-regular400: Regular;
    --typography-value-weight-medium500: Medium;
    --typography-value-weight-bold700: Bold;
    --typography-value-size-desktop-h4: 24;
    --typography-value-size-desktop-h3: 28;
    --typography-value-size-desktop-h2: 32;
    --typography-value-size-desktop-h1: 40;
    --typography-value-size-desktop-l-t3: 56;
    --typography-value-size-desktop-b1: 18;
    --typography-value-size-desktop-d1: 13;
    --typography-value-size-desktop-l-t1: 72;
    --typography-value-size-desktop-h5: 20;
    --typography-value-size-desktop-b2: 16;
    --typography-value-size-desktop-l-t2: 64;
    --typography-value-line-height-desktop-l-t1: 100.80000305175781;
    --typography-value-line-height-desktop-l-t2: 89.5999984741211;
    --typography-value-line-height-desktop-l-t3: 78.4000015258789;
    --typography-value-line-height-desktop-h1: 56;
    --typography-value-line-height-desktop-h2: 48;
    --typography-value-line-height-desktop-h3: 42;
    --typography-value-line-height-desktop-h4: 36;
    --typography-value-line-height-desktop-b1: 28.799999237060547;
    --typography-value-line-height-desktop-b2: 25.600000381469727;
    --typography-value-line-height-desktop-b3: 22.399999618530273;
    --typography-value-line-height-desktop-d1: 20.799999237060547;
    --typography-value-letter-spacing-default: 0;
    --typography-value-letter-spacing-small: -0.5;
    --typography-value-family-head: Pretendard;
    --typography-value-line-height-mobile-l-t1: 67.19999694824219;
    --typography-value-line-height-mobile-l-t2: 61.599998474121094;
    --typography-value-line-height-mobile-l-t3: 56;
    --typography-value-line-height-mobile-h1: 44.79999923706055;
    --typography-value-line-height-mobile-h2: 36;
    --typography-value-line-height-mobile-h3: 30;
    --typography-value-line-height-mobile-h4: 27;
    --typography-value-line-height-mobile-b1: 25.600000381469727;
    --typography-value-line-height-mobile-b2: 22.399999618530273;
    --typography-value-line-height-mobile-d1: 19.200000762939453;
    --typography-value-size-mobile-l-t1: 48;
    --typography-value-size-mobile-l-t2: 44;
    --typography-value-size-mobile-l-t3: 40;
    --typography-value-size-mobile-h1: 32;
    --typography-value-size-mobile-h2: 24;
    --typography-value-size-mobile-h3: 20;
    --typography-value-size-mobile-h4: 18;
    --typography-value-size-mobile-b1: 16;
    --typography-value-size-mobile-b2: 14;
    --typography-value-size-mobile-d1: 12;
    --typography-value-weight-extra-bold800: ExtraBold;
    --typography-value-weight-semi-bold600: SemiBold;
    --typography-value-family-b-t-n: Pretendard;
    --typography-value-size-desktop-b-t-n1: 22;
    --typography-value-size-desktop-b-t-n2: 20;
    --typography-value-size-desktop-b-t-n3: 18;
    --typography-value-line-height-desktop-b-t-n1: 30.799999237060547;
    --typography-value-line-height-desktop-b-t-n2: 28;
    --typography-value-line-height-desktop-b-t-n3: 25.200000762939453;
    --typography-value-size-mobile-b-t-n1: 18;
    --typography-value-size-mobile-b-t-n2: 16;
    --typography-value-size-mobile-b-t-n3: 14;
    --typography-value-line-height-mobile-b-t-n1: 25.200000762939453;
    --typography-value-line-height-mobile-b-t-n2: 22.399999618530273;
    --typography-value-line-height-mobile-b-t-n3: 19.600000381469727;
    --typography-value-size-desktop-b3: 14;
    --typography-value-size-desktop-b-t-n4: 16;
    --typography-value-line-height-desktop-b-t-n4: 22.399999618530273;
    --typography-value-size-mobile-b-t-n4: 13;
    --typography-value-line-height-mobile-b-t-n4: 18.200000762939453;
    --typography-value-line-height-desktop-h5: 30;
    --typography-value-weight-light300: Light;
    --typography-value-letter-spacing-xsmal: -2;
    --radius-mode1-radius01: 4;
    --radius-mode1-radius04: 24;
    --radius-mode1-radius05: 32;
    --radius-mode1-radius06: 40;
    --radius-mode1-radius-capsule: 999;
    --radius-mode1-radius03: 16;
    --radius-mode1-radius02: 8;
    --radius-mode1-radius07: 64;
    --radius-mode1-radius08: 80;
    --radius-mode1-radius09: 120;
    --spacing-mode1-horizontal-spacing-desktop-spacing01: 8;
    --spacing-mode1-horizontal-spacing-desktop-spacing05: 32;
    --spacing-mode1-horizontal-spacing-desktop-spacing06: 40;
    --spacing-mode1-horizontal-spacing-desktop-spacing07: 48;
    --spacing-mode1-horizontal-spacing-desktop-spacing08: 64;
    --spacing-mode1-horizontal-spacing-desktop-spacing09: 80;
    --spacing-mode1-horizontal-spacing-desktop-spacing10: 120;
    --spacing-mode1-horizontal-spacing-desktop-spacing11: 180;
    --spacing-mode1-horizontal-spacing-desktop-spacing12: 240;
    --spacing-mode1-horizontal-spacing-mobile-spacing01: 8;
    --spacing-mode1-horizontal-spacing-mobile-spacing03: 24;
    --spacing-mode1-horizontal-spacing-mobile-spacing04: 32;
    --spacing-mode1-horizontal-spacing-mobile-spacing05: 40;
    --spacing-mode1-horizontal-spacing-mobile-spacing06 : 48;
    --spacing-mode1-horizontal-spacing-mobile-spacing07: 56;
    --spacing-mode1-horizontal-spacing-mobile-spacing08: 80;
    --spacing-mode1-horizontal-spacing-mobile-spacing09: 96;
    --spacing-mode1-horizontal-spacing-mobile-spacing10: 120;
    --spacing-mode1-vertical-spacing-desktop-spacing01: 8;
    --spacing-mode1-vertical-spacing-desktop-spacing02: 16;
    --spacing-mode1-vertical-spacing-desktop-spacing03: 24;
    --spacing-mode1-vertical-spacing-desktop-spacing04: 40;
    --spacing-mode1-vertical-spacing-desktop-spacing05: 80;
    --spacing-mode1-vertical-spacing-desktop-spacing06: 120;
    --spacing-mode1-vertical-spacing-mobile-spacing01: 8;
    --spacing-mode1-vertical-spacing-mobile-spacing02: 16;
    --spacing-mode1-vertical-spacing-mobile-spacing03: 24;
    --spacing-mode1-vertical-spacing-mobile-spacing04: 48;
    --spacing-mode1-horizontal-spacing-desktop-spacing04: 24;
    --spacing-mode1-horizontal-spacing-desktop-spacing03: 16;
    --spacing-mode1-horizontal-spacing-desktop-spacing02: 12;
    --spacing-mode1-vertical-spacing-mobile-spacing05: 52;
    --spacing-mode1-vertical-spacing-mobile-spacing06: 64;
    --spacing-mode1-vertical-spacing-mobile-spacing07: 80;
    --spacing-mode1-horizontal-spacing-mobile-spacing02: 12;
}
