:root {
    --colorSemantic-light-cyan50: #ddf2f5;
    --colorSemantic-light-cyan100: #caf2f6;
    --colorSemantic-light-cyan200: #adebf1;
    --colorSemantic-light-cyan300: #81dce4;
    --colorSemantic-light-cyan400: #59d0dc;
    --colorSemantic-light-cyan500: #33b0c6;
    --colorSemantic-light-cyan600: #29a1b6;
    --colorSemantic-light-cyan700: #0c9caa;
    --colorSemantic-light-cyan800: #007c89;
    --colorSemantic-light-cyan900: #005861;
    --colorSemantic-light-red50: #ffe3e2;
    --colorSemantic-light-red100: #f7bfbd;
    --colorSemantic-light-red200: #fa8d89;
    --colorSemantic-light-red300: #f26965;
    --colorSemantic-light-red400: #f2332d;
    --colorSemantic-light-red500: #e90700;
    --colorSemantic-light-red600: #cd0c05;
    --colorSemantic-light-red700: #ad0600;
    --colorSemantic-light-red800: #800400;
    --colorSemantic-light-red900: #650300;
    --colorSemantic-light-coolgray50: #f3f5f7;
    --colorSemantic-light-coolgray100: #e1e7ea;
    --colorSemantic-light-coolgray200: #c9ced0;
    --colorSemantic-light-coolgray300: #b4b8b9;
    --colorSemantic-light-coolgray400: #989b9d;
    --colorSemantic-light-coolgray500: #858889;
    --colorSemantic-light-coolgray600: #6f7172;
    --colorSemantic-light-coolgray700: #545657;
    --colorSemantic-light-coolgray800: #3b3d3e;
    --colorSemantic-light-coolgray900: #171818;
    --colorSemantic-light-mode-black100-fixed: #000000;
    --colorSemantic-light-mode-white100-fixed: #ffffff;
    --colorSemantic-light-green50: #d8f3dc;
    --colorSemantic-light-green100: #afeeb2;
    --colorSemantic-light-green200: #78eb8d;
    --colorSemantic-light-green300: #45e064;
    --colorSemantic-light-green400: #18c861;
    --colorSemantic-light-green500: #00b049;
    --colorSemantic-light-green600: #00973f;
    --colorSemantic-light-green700: #007530;
    --colorSemantic-light-green800: #005824;
    --colorSemantic-light-green900: #003f1a;
    --colorSemantic-light-yellow50: #faf2d0;
    --colorSemantic-light-yellow100: #fcebaa;
    --colorSemantic-light-yellow200: #fbe384;
    --colorSemantic-light-yellow300: #f9d750;
    --colorSemantic-light-yellow400: #facf22;
    --colorSemantic-light-yellow500: #ecbd00;
    --colorSemantic-light-yellow600: #d6ab00;
    --colorSemantic-light-yellow700: #c28e00;
    --colorSemantic-light-yellow800: #9d7300;
    --colorSemantic-light-yellow900: #7e5c00;
    --colorSemantic-light-blue50: #d6e2f8;
    --colorSemantic-light-blue100: #bacff5;
    --colorSemantic-light-blue200: #98b9f7;
    --colorSemantic-light-blue300: #6998f2;
    --colorSemantic-light-blue400: #427ff0;
    --colorSemantic-light-blue500: #266df2;
    --colorSemantic-light-blue600: #1159de;
    --colorSemantic-light-blue700: #194ba9;
    --colorSemantic-light-blue800: #0b3481;
    --colorSemantic-light-blue900: #061f4d;
    --colorSemantic-light-lime50: #f0f8da;
    --colorSemantic-light-lime100: #e4f2bd;
    --colorSemantic-light-lime200: #dbeea4;
    --colorSemantic-light-lime300: #cfea86;
    --colorSemantic-light-lime400: #bde05e;
    --colorSemantic-light-lime500: #a6ce39;
    --colorSemantic-light-lime600: #8fbc15;
    --colorSemantic-light-lime700: #749b0a;
    --colorSemantic-light-lime800: #5a7a03;
    --colorSemantic-light-lime900: #3f5600;
    --colorSemantic-light-violet50: #e0daf8;
    --colorSemantic-light-violet100: #c9bff2;
    --colorSemantic-light-violet200: #b3a5eb;
    --colorSemantic-light-violet300: #9888df;
    --colorSemantic-light-violet400: #7361ba;
    --colorSemantic-light-violet500: #554596;
    --colorSemantic-light-violet600: #3f2b91;
    --colorSemantic-light-violet700: #2c1589;
    --colorSemantic-light-violet800: #1b0770;
    --colorSemantic-light-violet900: #140552;
    --colorSemantic-light-pink50: #ffe5f4;
    --colorSemantic-light-pink100: #ffcde9;
    --colorSemantic-light-pink200: #f8b0d9;
    --colorSemantic-light-pink300: #f292c8;
    --colorSemantic-light-pink400: #eb6eb5;
    --colorSemantic-light-pink500: #e12991;
    --colorSemantic-light-pink600: #cd157d;
    --colorSemantic-light-pink700: #99095b;
    --colorSemantic-light-pink800: #770746;
    --colorSemantic-light-pink900: #510430;
    --colorSemantic-light-orange50: #ffe6e2;
    --colorSemantic-light-orange100: #fbcac0;
    --colorSemantic-light-orange200: #fbb0a3;
    --colorSemantic-light-orange300: #f89d8d;
    --colorSemantic-light-orange400: #fa7d68;
    --colorSemantic-light-orange500: #f1593f;
    --colorSemantic-light-orange600: #d52d10;
    --colorSemantic-light-orange700: #b12007;
    --colorSemantic-light-orange800: #8c200c;
    --colorSemantic-light-orange900: #631304;
    --colorElement--primary-primary-enabled: #33b0c6;
    --colorElement--primary-primary-pressed: #0c9caa;
    --colorElement--primary-primary-disabled: #adebf1;
    --colorElement--secondary-secondary-enabled: #554596;
    --colorElement--secondary-secondary-pressed: #1b0770;
    --colorElement--secondary-secondary-disabled: #c9bff2;
    --colorElement--text-text-default01: #171818;
    --colorElement--text-text-default02: #545657;
    --colorElement--text-text-unselected-tab: #6f7172;
    --colorElement--text-text-disabled: #b4b8b9;
    --colorElement--text-text-on-primary: #ffffff;
    --colorElement--icon-icon-default01: #171818;
    --colorElement--icon-icon-default02: #545657;
    --colorElement--icon-icon-on-primary: #ffffff;
    --colorElement--icon-icon-disabled: #b4b8b9;
    --colorElement--stroke-stroke-default00: #171818;
    --colorElement--stroke-stroke-default01: #545657;
    --colorElement--stroke-stroke-default04: #e1e7ea;
    --colorElement--stroke-stroke-on-primary: #ffffff;
    --colorElement--fill-fill-on-primary: #ffffff;
    --colorElement--fill-fill-default04: #f3f5f7;
    --colorElement--fill-fill-default01: #545657;
    --colorElement--critical-critical-enabled: #f2332d;
    --colorElement--critical-critical-pressed: #cd0c05;
    --colorElement--critical-critical-disabled: #f7bfbd;
    --colorElement--success-success-enabled: #00973f;
    --colorElement--success-success-pressed: #007530;
    --colorElement--success-success-disabled: #afeeb2;
    --colorElement--caution-caution-enabled: #ecbd00;
    --colorElement--caution-caution-pressed: #c28e00;
    --colorElement--caution-caution-disabled: #fcebaa;
    --colorElement--shadow-shadow4: #0f10100a;
    --colorElement--shadow-shadow6: #1010100f;
    --colorElement--shadow-shadow10: #10101019;
    --colorElement--shadow-shadow12: #10101028;
    --colorElement--shadow-shadow16: #10101033;
    --colorElement--shadow-shadow18: #1010103d;
    --colorElement--shadow-shadow24: #1010104c;
    --colorElement--shadow-shadow30: #1010105b;
    --colorElement--shadow-shadow-cyan: #3ec2cf7f;
    --colorElement--fill-fill-default00: #171818;
    --colorElement--icon-icon-primary: #33b0c6;
    --colorElement--fill-fill-default03: #e1e7ea;
    --colorElement--fill-fill-disabled: #c9ced0;
    --colorElement--stroke-stroke-disabled: #b4b8b9;
    --colorElement--text-text-default03: #858889;
    --colorElement--stroke-stroke-default03: #c9ced0;
    --colorElement--icon-icon-default05: #e1e7ea;
    --colorElement--stroke-stroke-primary: #33b0c6;
    --colorElement--fill-fill-primary: #33b0c6;
    --colorElement--text-text-primary: #33b0c6;
    --colorElement--fill-fill-default02: #989b9d;
    --colorElement--icon-icon-default03: #858889;
    --colorElement--icon-icon-default04: #b4b8b9;
    --colorElement--confirm-critical-enabled: #29a1b6;
    --colorElement--confirm-critical-pressed: #007c89;
    --colorElement--confirm-critical-disabled: #adebf1;
    --colorElement--thirdary-thirdary-enabled: #e12991;
    --colorElement--thirdary-thirdary-pressed: #99095b;
    --colorElement--thirdary-thirdary-disabled: #ffcde9;
    --colorElement--stroke-stroke-default02: #858889;
    --colorElement--accent-success-enabled: #266df2;
    --colorElement--accent-success-pressed: #194ba9;
    --colorElement--accent-success-disabled: #bacff5;
    --colorElement--text-text-default04: #c9ced0;
    --colorElement--white-w-opacity90: #ffffffe5;
    --colorElement--white-w-opacity80: #ffffffcc;
    --colorElement--white-w-opacity70: #ffffffb2;
    --colorElement--white-w-opacity60: #ffffff99;
    --colorElement--white-w-opacity50: #ffffff7f;
    --colorElement--white-w-opacity40: #ffffff66;
    --colorElement--white-w-opacity30: #ffffff4c;
    --colorElement--white-w-opacity20: #ffffff33;
    --colorElement--white-w-opacity10: #ffffff19;
    --colorElement--white-b-opacity90: #000000e5;
    --colorElement--white-b-opacity80: #000000cc;
    --colorElement--white-b-opacity70: #000000b2;
    --colorElement--white-b-opacity60: #00000099;
    --colorElement--white-b-opacity50: #0000007f;
    --colorElement--white-b-opacity40: #00000066;
    --colorElement--white-b-opacity30: #0000004c;
    --colorElement--white-b-opacity20: #00000033;
    --colorElement--white-b-opacity10: #00000019;
    --colorElement--fill-fill-default05: #eaf3f8;
    --colorElement--diagram-diagram01: #59d0dc;
    --colorElement--diagram-diagram02: #13bd99;
    --colorElement--diagram-diagram03: #33b0c6;
    --colorElement--diagram-diagram04: #58a3aa;
    --typography--family-detail: Pretendard;
    --typography--family-body: Pretendard;
    --typography--family-large: Pretendard;
    --typography--weight-regular400: Regular;
    --typography--weight-medium500: Medium;
    --typography--weight-bold700: Bold;
    --typography--size-desktop-h2: 32;
    --typography--size-desktop-h1: 44;
    --typography--size-desktop-l-t3: 56;
    --typography--size-desktop-b1: 18;
    --typography--size-desktop-d1: 13;
    --typography--size-desktop-l-t1: 72;
    --typography--size-desktop-h3: 24;
    --typography--size-desktop-b2: 16;
    --typography--size-desktop-l-t2: 64;
    --typography--line-height-desktop-l-t1: 100.80000305175781;
    --typography--line-height-desktop-l-t2: 89.5999984741211;
    --typography--line-height-desktop-l-t3: 78.4000015258789;
    --typography--line-height-desktop-h1: 61.599998474121094;
    --typography--line-height-desktop-h2: 48;
    --typography--line-height-desktop-h3: 38;
    --typography--line-height-desktop-h4: 32;
    --typography--line-height-desktop-b1: 28.799999237060547;
    --typography--line-height-desktop-b2: 25.600000381469727;
    --typography--line-height-desktop-b3: 22.399999618530273;
    --typography--line-height-desktop-d1: 20.799999237060547;
    --typography--letter-spacing-default: 0;
    --typography--letter-spacing-small: -0.5;
    --typography--family-head: Pretendard;
    --typography--line-height-mobile-l-t1: 67.19999694824219;
    --typography--line-height-mobile-l-t2: 61.599998474121094;
    --typography--line-height-mobile-l-t3: 56;
    --typography--line-height-mobile-h1: 36.400001525878906;
    --typography--line-height-mobile-h2: 33;
    --typography--line-height-mobile-h3: 30;
    --typography--line-height-mobile-h4: 28;
    --typography--line-height-mobile-b1: 25.600000381469727;
    --typography--line-height-mobile-b2: 21;
    --typography--line-height-mobile-d1: 19.200000762939453;
    --typography--size-mobile-l-t1: 48;
    --typography--size-mobile-l-t2: 44;
    --typography--size-mobile-l-t3: 40;
    --typography--size-mobile-h1: 30;
    --typography--size-mobile-h2: 24;
    --typography--size-mobile-h3: 20;
    --typography--size-mobile-h4: 18;
    --typography--size-mobile-b1: 16;
    --typography--size-mobile-b2: 14;
    --typography--size-mobile-d1: 12;
    --typography--weight-extra-bold800: ExtraBold;
    --typography--weight-semi-bold600: SemiBold;
    --typography--family-dense: Pretendard;
    --typography--size-desktop-dense24: 24;
    --typography--size-desktop-dense20: 20;
    --typography--size-desktop-dense18: 18;
    --typography--line-height-desktop-dense22: 32;
    --typography--line-height-desktop-dense20: 28;
    --typography--line-height-desktop-dense18: 25.200000762939453;
    --typography--size-mobile-dense18: 18;
    --typography--size-mobile-dense16: 16;
    --typography--size-mobile-dense14: 14;
    --typography--line-height-mobile-dense18: 25.200000762939453;
    --typography--line-height-mobile-dense16: 22.399999618530273;
    --typography--line-height-mobile-dense14: 19.600000381469727;
    --typography--size-desktop-b3: 14;
    --typography--size-desktop-dense16: 16;
    --typography--line-height-desktop-dense16: 22.399999618530273;
    --typography--size-mobile-dense13: 13;
    --typography--line-height-mobile-dense13: 18.200000762939453;
    --typography--weight-light300: Light;
    --typography--letter-spacing-xsmal: -2;
    --typography--size-desktop-dense22: 22;
    --typography--size-desktop-l-t0: 96;
    --typography--line-height-desktop-l-t0: 108;
    --typography--size-desktop-h4: 20;
    --typography--family-cn-large: NotoSansSC;
    --typography--family-cn-head: NotoSansSC;
    --typography--family-cn-body: NotoSansSC;
    --typography--family-cn-dense: NotoSansSC;
    --typography--family-cn-detail: NotoSansSC;
    --typography--weight-black800: Black;
    --typography--line-height-desktop-dense14: 19.600000381469727;
    --typography--size-desktop-dense14: 14;
    --radius-mode1-desktop-radius06: 40;
    --radius-mode1-desktop-radius-capsule: 999;
    --radius-mode1-desktop-radius03: 8;
    --radius-mode1-mobile-radius03: 4;
    --radius-mode1-mobile-radius06: 32;
    --radius-mode1-mobile-radius-capsule: 999;
    --radius-mode1-desktop-radius04: 16;
    --radius-mode1-mobile-radius05: 16;
    --radius-mode1-desktop-radius01: 0;
    --radius-mode1-mobile-radius01: 0;
    --radius-mode1-desktop-radius02: 4;
    --radius-mode1-mobile-radius02: 2;
    --radius-mode1-mobile-radius04: 8;
    --radius-mode1-desktop-radius05: 24;
    --spacing-size-horizontal-spacing-desktop01: 4;
    --spacing-size-horizontal-spacing-desktop-h3: 80;
    --spacing-size-horizontal-spacing-desktop-footer: 240;
    --spacing-size-horizontal-spacing-desktop-h5: 24;
    --spacing-size-horizontal-spacing-desktop: 80;
    --spacing-size-horizontal-spacing-desktop02: 8;
    --spacing-size-button-margine01: 8;
    --spacing-size-button-small: 24;
    --spacing-size-button-medium: 32;
    --spacing-size-button-large: 40;
    --spacing-size-button-xsmall: 20;
    --spacing-size-button-margine02: 12;
    --spacing-size-button-margine03: 16;
    --spacing-size-horizontal-spacing-desktop-h3-h5: 60;
    --spacing-size-horizontal-spacing-mobile01: 48;
    --spacing-size-horizontal-spacing-mobile02: 80;
    --spacing-size-horizontal-spacing-mobile: 12;
    --spacing-size-horizontal-spacing-mobile-h5: 24;
    --spacing-size-horizontal-spacing-mobile-h3: 56;
    --spacing-size-horizontal-spacing-mobile-h3-h5: 56;
    --spacing-size-horizontal-spacing-mobile-footer: 100;
}
