@charset "utf-8";

/************************** 
    Reset
***************************/
* {
  -webkit-text-size-adjust: none;
  text-size-adjust: 100%;
  box-sizing: border-box;
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
div,
figure,
article,
header,
nav,
footer,
section,
aside {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: normal;
  font-family: "Pretendard", sans-serif;
}
html,
body {
  overflow: hidden;
  position: relative;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: #222;
  height: 100%;
  font-weight: 400;
  letter-spacing: -0.03125rem;
  -webkit-overflow-scrolling: touch;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Hyundai Sans Head, sans-serif;
  font-weight: normal;
}
img,
fieldset,
iframe {
  border: 0;
  vertical-align: top;
}
img {
  width: 100%;
  height: auto;
}
textarea {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  resize: none;
  font-family: "Pretendard", sans-serif;
}
ul,
ol,
li {
  list-style: none;
}
em,
address {
  font-style: normal;
}
input {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  vertical-align: middle;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
hr {
  display: none;
}
label {
  word-break: break-all;
}
legend,
caption {
  /* position: absolute; */
  height: 0;
  overflow: hidden;
}
strong,
b {
  font-weight: 600;
}
i {
  font-style: normal;
}
button {
  box-sizing: border-box;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Pretendard", sans-serif;
  -webkit-appearance: none;
}
input,
select,
textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  transform: translateZ(0);
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
select,
textarea {
  border-radius: 3px;
  font-family: "Pretendard", sans-serif;
  font-size: 17px;
  color: #222;
  word-break: break-all;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="email"] {
  -webkit-ime-mode: inactive;
  -moz-ime-mode: inactive;
  -ms-ime-mode: inactive;
  ime-mode: inactive;
}
a {
  display: inline-block;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  cursor: default;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
abbr {
  text-decoration: none;
}
select::-ms-expand {
  display: none;
}
::-webkit-input-placeholder,
textarea::placeholder {
  font-family: "Pretendard", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #b2b2b2;
}

[tabindex="-1"] {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:disabled {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  box-shadow: 0 0 0 1000px #fff inset;
}
@media screen and (min-width: 768px) {
  *::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 6px;
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #aacae6;
  }
}
body {
  padding: 0 !important;
  box-sizing: border-box;
}
body * {
  outline: none;
}
body *:focus {
  outline: none;
}

a,
button {
  cursor: pointer;
}
