<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <!-- <meta name="viewport" content="width=1920" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name=" format-detection" content="telephone=no" />
        <title>LG에너지솔루션 - 레이아웃_Tab-case</title>
        <link type="text/css" rel="stylesheet" href="../../../inc/css/swiper.min.css" />
        <link type="text/css" rel="stylesheet" href="../../../inc/css/common.css" />        
        <script type="text/javascript" src="../../../inc/js/jquery-3.7.1.slim.min.js"></script>
        <script type="text/javascript" src="../../../inc/js/lottie.js"></script>
    </head>

    <body>
        <div class="skip-navigation">
            <a href="#container">본문 바로가기</a>
        </div>
        <div class="wrap main-page"> <!-- wrap에 화면id(id) 관련 클래스 추가하여 사용 -->
            <div class="main-scroll-area">
            <!-- header -->
            <header class="header-wrap parent-event">
                <div class="header-area pc-only">
                    <div class="header-cont">
                        <h1 class="ci"><a href="../cyanogen/cyanogen_main.html"><img src="../../../inc/images/symbol/CI.svg"
                                    alt=""></a>
                        </h1>
                        <div class="sitemap-wrap">
                            <nav class="nav-wrap ">
                                <ul class="gnb__tab-btn-wrap">
                                    <li class="depth01">
                                        <button class="parent-event_btn">제품</button>
                                        <ul>
                                            <li class="depth02"><a href="#">산업별 솔루션</a></li>
                                            <li class="depth02"><a href="#">폼팩터</a></li>
                                            <li class="depth02"><a href="#">소재</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">서비스</button>
                                        <ul>
                                            <li class="depth02"><a href="#">B.around</a></li>
                                            <li class="depth02"><a href="#">B-Lifecare</a></li>
                                            <li class="depth02"><a href="#"><!-- 09.11 문구변경 -->B-once</a></li>
                                            <li class="depth02"><a href="#">KooRoo</a></li>
                                            <li class="depth02"><a href="#">전력 중개</a></li>
                                            <li class="depth02"><a href="#">ESS SI</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">회사정보</button>
                                        <ul>
                                            <li class="depth02"><a href="#">회사소개</a></li>
                                            <li class="depth02"><a href="#">정도경영</a></li>
                                            <li class="depth02"><a href="#">사업장</a></li>
                                            <li class="depth02"><a href="#">R&D</a></li>
                                            <li class="depth02"><a href="#">뉴스룸</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">지속가능경영</button>
                                        <ul>
                                            <li class="depth02"><a href="../sust/sust_sys_strategy_01.html">추진체계</a></li>
                                            <li class="depth02"><a href="#">환경</a></li>
                                            <li class="depth02"><a href="#">사회</a></li>
                                            <li class="depth02"><a href="#">지배구조</a></li>
                                            <li class="depth02"><a href="#">성과보고</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">투자정보</button>
                                        <ul>
                                            <li class="depth02"><a href="#">재무정보</a></li>
                                            <li class="depth02"><a href="#">주식정보</a></li>
                                            <li class="depth02"><a href="#">공시정보</a></li>
                                            <li class="depth02"><a href="#">IR정보</a></li>
                                            <li class="depth02"><a href="#">IR자료</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">인재채용</button>
                                        <ul>
                                            <li class="depth02"><a href="#">인재상</a></li>
                                            <li class="depth02"><a href="#">인사제도</a></li>
                                            <li class="depth02"><a href="#">조직문화</a></li>
                                            <li class="depth02"><a href="#">채용정보</a></li>
                                            <li class="depth02"><a href="#">채용공고</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="utile-wrap">
                            <div class="utile-cont">
                                <!-- 250717 수정 : 고객지원 / 언어선택 디자인 변경 -->
                                <div class="util-item-cs">
                                    <img class="icon-cs" src="../../../inc/images/icon/icon_msg_chat.svg" alt="고객지원">
                                    <button class="menu-title" onclick="pubUi.popUp.open('.cs-cont','.menu-title');" >고객지원</button>
                                    <div class="cs-cont">
                                        <div class="pop-wrap">
                                            <a href="" class="cs-item">다운로드</a>
                                            <a href="" class="cs-item">문의하기</a>
                                            <a href="" class="cs-item">FAQ</a>
                                            <button class="cs-close" onclick="pubUi.popUp.close('.cs-cont','.menu-title');"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="utile-item">
                                    <div class="lang-wrap">
                                        <div class="select-cate activeSelect">
                                            <button class="lang-button" aria-haspopup="listbox"><img
                                                    src="../../../inc/images/icon/icon_global_img.svg" alt="언어 선택"><i
                                                    class="select-btn-right-icon"></i></button>
                                            <ul class="select-menu" role="listbox">
                                                <li><a href="javascript:;" role="option" tabindex="0" class="active">KR</a>
                                                </li>
                                                <li><a href="javascript:;" role="option" tabindex="0">EN</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">CN</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">PL</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">DE</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- //lang-wrap -->
                                </div>
                                <div class="utile-item02">
                                    <button class="search-btn header_search-btn search-reset" onclick="pubUi.popUp.open('.header_search-area','.header_search-btn');"></button>
                                </div>
                                <!-- //250717 수정 : 고객지원 / 언어선택 디자인 변경 -->
                                <div class="utile-item03">
                                    <button class="nav-btn" title="메뉴 열기" onclick="pubUi.popUp.open('.sitemap_pop-wrap','.nav-btn');">
                                        <i class="x-icon">
                                            <span class="x-line"></span>
                                            <span class="x-line"></span>
                                        </i>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="header_search-area target-header_search search-reset">
                <div class="pop-wrap">
                    <!-- 엔터 클릭시 검색 -->
                    <!-- 09.03 수정 : 검색영역 마크업 통일 -->
                        <div class="search-box-wrap pc-only">
                            <div class="search-box searchEvt">
                                <button type="button" class="btn-search" aria-label="검색" class="btn-search">
                                    <img src="../../../inc/images/icon/icon_head_search.svg" alt="검색 아이콘" role="button">
                                </button>
                                <input type="text" id="faq-search" placeholder="검색어를 입력해 주세요.">
                                <button type="button" class="btn-search-reset btn-delete" aria-label="검색어 초기화">
                                    <img src="../../../inc/images/icon/icon_close_btn_wh.svg" alt="삭제 아이콘">
                                </button>
                            </div>
                        </div>
                        <!-- //09.03 수정 : 검색영역 마크업 통일 -->
                </div>
            </div>
            <div class="sitemap_pop-wrap">
                <div class="pop-wrap">
                    <div class="sitemap_pop-header">
                        <a class="sitemap_pop-ci" href="#"><img src="../../../inc/images/symbol/CI_wh.svg" alt=""></a>
                    </div>
                    <ul class="sitemap-area">
                        <li class="depth01">
                            <a href="#">제품</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">산업별 솔루션</a>
                                    <ul>
                                        <li class="depth03"><a href="#">승용 EV</a></li>
                                        <li class="depth03"><a href="#">상용 EV</a></li>
                                        <li class="depth03"><a href="#">LEV</a></li>
                                        <li class="depth03"><a href="#">ESS</a></li>
                                        <li class="depth03"><a href="#">스마트기기</a></li>
                                        <li class="depth03"><a href="#">전동공구</a></li>
                                        <li class="depth03"><a href="#">중장비</a></li>
                                        <li class="depth03"><a href="#">로봇</a></li>
                                        <li class="depth03"><a href="#">미래모빌리티</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">폼팩터</a>
                                    <ul>
                                        <li class="depth03"><a href="#">원통형</a></li>
                                        <li class="depth03"><a href="#">파우치형</a></li>
                                        <li class="depth03"><a href="#">각형</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">소재</a>
                                    <ul>
                                        <li class="depth03"><a href="#">NCM 배터리</a></li>
                                        <li class="depth03"><a href="#">LFP 배터리</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">서비스</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">B.around</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">B-Lifecare</a>
                                </li>
                                <li class="depth02">
                                    <a href="#"><!-- 09.11 문구변경 -->B-once</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">KooRoo</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">전력 중개</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">ESS SI</a>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">회사정보</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">회사소개</a>
                                    <ul>
                                        <li class="depth03"><a href="#">회사개요</a></li>
                                        <li class="depth03"><a href="#">비전</a></li>
                                        <li class="depth03"><a href="#">연혁</a></li>
                                        <li class="depth03"><a href="#">CI</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">정도경영</a>
                                    <ul>
                                        <li class="depth03"><a href="#">정도경영 소개</a></li>
                                        <li class="depth03"><a href="#">윤리규범</a></li>
                                        <li class="depth03"><a href="#">정도경영 프로그램</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">사업장</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">R&D</a>
                                    <ul>
                                        <li class="depth03"><a href="#">R&D 현황</a></li>
                                        <li class="depth03"><a href="#">R&D 분야</a></li>
                                        <li class="depth03"><a href="#">차세대 전지</a></li>
                                        <li class="depth03"><a href="#">오픈 이노베이션</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">뉴스룸</a>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">지속가능경영</a>
                            <ul>
                                <li class="depth02">
                                    <a href="../sust/sust_sys_strategy_01.html">추진체계</a>
                                    <ul>
                                        <li class="depth03"><a href="#">비전 및 전략</a></li>
                                        <li class="depth03"><a href="#">거버넌스</a></li>
                                        <li class="depth03"><a href="#">글로벌 파트너십</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">환경</a>
                                    <ul>
                                        <li class="depth03"><a href="#">환경경영</a></li>
                                        <li class="depth03"><a href="#">기후행동</a></li>
                                        <li class="depth03"><a href="#">자원선순환</a></li>
                                        <li class="depth03"><a href="#">환경영향 관리</a></li>
                                        <li class="depth03"><a href="#">생물다양성 관리</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">사회</a>
                                    <ul>
                                        <li class="depth03"><a href="#">밸류체인 ESG경영</a></li>
                                        <li class="depth03"><a href="#">동반성장</a></li>
                                        <li class="depth03"><a href="#">제품책임</a></li>
                                        <li class="depth03"><a href="#">안전보건 관리</a></li>
                                        <li class="depth03"><a href="#">인권경영</a></li>
                                        <li class="depth03"><a href="#">사회공헌</a></li>
                                        <li class="depth03"><a href="#">정보보안</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">지배구조</a>
                                    <ul>
                                        <li class="depth03"><a href="#">이사회</a></li>
                                        <li class="depth03"><a href="#">위원회</a></li>
                                        <li class="depth03"><a href="#">준법경영</a></li>
                                        <li class="depth03"><a href="#">위기관리</a></li>
                                        <li class="depth03"><a href="#">윤리경영</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">성과보고</a>
                                    <ul>
                                        <li class="depth03"><a href="#">보고서</a></li>
                                        <li class="depth03"><a href="#">평가</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">투자정보</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">재무정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">재무상태표</a></li>
                                        <li class="depth03"><a href="#">손익계산서</a></li>
                                        <li class="depth03"><a href="#">현금흐름표<!-- 09.15 문구 수정 --></a></li>
                                        <li class="depth03"><a href="#">신용등급</a></li>
                                        <li class="depth03"><a href="#">ESG 채권</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">주식정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">주가정보</a></li>
                                        <li class="depth03"><a href="#">주주환원</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">공시정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">전자공고</a></li>
                                        <li class="depth03"><a href="#">공시자료</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">IR정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">IR 행사</a></li>
                                        <li class="depth03"><a href="#">실적발표</a></li>
                                        <li class="depth03"><a href="#">주주총회</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">IR자료</a>
                                    <ul>
                                        <li class="depth03"><a href="#">사업보고서</a></li>
                                        <li class="depth03"><a href="#">영업보고서</a></li>
                                        <li class="depth03"><a href="#">감사보고서</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">인재채용</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">인재상</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">인사제도</a>
                                    <ul>
                                        <li class="depth03"><a href="#">인사원칙</a></li>
                                        <li class="depth03"><a href="#">인재육성</a></li>
                                        <li class="depth03"><a href="#">복리후생</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">조직문화</a>
                                    <ul>
                                        <li class="depth03"><a href="#">일하는 방식</a></li>
                                        <li class="depth03"><a href="#">소통문화</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">채용정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">채용절차</a></li>
                                        <li class="depth03"><a href="#">직무소개</a></li>
                                        <li class="depth03"><a href="#">채용 스토리</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">채용공고</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button class="sitemap-close" onclick="pubUi.popUp.close('.sitemap_pop-wrap','.nav-btn');"><img src="../../../inc/images/icon/icon_close-md_wh.svg" alt=""></button>
                </div>
            </div>
            <!-- //header -->
            <!-- section -->
            <!-- 09.11 수정 : 메인 페이지 내 모든 마침표 삭제 - S -->
            <section id="container" class="content-wrap">
                <div class="main-content_header-bg">
                    <div class="visual-video">
                        <video src="../../../inc/video/video_main01.mp4"  autoplay muted playsinline loop>
                            <!-- 비디오 영상 소리 정보 존재시 내용 입력 (접근성 처리용) -->
                        </video>
                    </div>
                    <div class="content-header_text cont-grid">
                        <div>
                            <p class="title-intro">
                                EMPOWER<br/>
                                <strong>EVERY POSSIBILITY</strong>
                            </p>
                            <p class="txt-intro">
                                LG에너지솔루션은 에너지 생태계를 구축하는 종합 에너지 솔루션 기업입니다
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content-area">
                    <div class="pc-only">
                        <div class="content-item01">
                            <div class="content-wrap">
                                <div class="cont-area anim-section">
                                    <div class="cont-area-item">
                                        <div class="text-area anim-item" data-start="100px" data-end="100%">
                                            <span>Our Solution</span>
                                            <h3>미래를 움직이는 에너지,<br /><strong> LG에너지솔루션은<br/>어디에나 있습니다</strong></h3>
                                            <p>우리는 모든 시장에 최적화된 배터리를 공급할 수 있는 <br/>글로벌 기술 리더십을 보유하고 있습니다</p>
                                        </div>
                                        <div class="anim-item" 
                                        data-center="y"
                                        data-start="5%" data-end="50%"
                                        data-w0="100%" data-w1="57.25%"
                                        data-brtl0="0" data-brtl1="20">
                                            <div class="bg-area anim-box">
                                                <img src="../../../inc/images/img/main_img1.png" art=""/>
                                                <div class="link-area anim-item" data-start="0%" data-end="100%">
                                                    <div class="anim-box">
                                                        <a href="#">산업별 솔루션</a>
                                                        <a href="#">서비스</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //content-item01 -->

                        <div class="content-item02"> 
                            <div class="content-wrap anim-section">
                                <div class="cont-area">
                                    <div class="cont-item01 anim-item" data-start="200px" data-end="100%">
                                        <a href="#">
                                            <div class="cont-grid">
                                                <h3><strong>원통형</strong> 배터리</h3>
                                                <p>
                                                    <strong>높은 에너지, 무한한 적용, 설계 유연성</strong>
                                                    <span>고에너지 밀도와 구조적 안정성으로 다양한 어플리케이션에 최적화됩니다</span>
                                                </p>
                                                <span class="btn-more">자세히보기</span>
                                                <img src="../../../inc/images/img/main_img3.png" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="cont-item02 anim-item" 
                                        data-start="100px" data-end="50%"
                                        data-y0="0" data-y1="-323">
                                        <a href="#">
                                            <div class="cont-grid">
                                                <h3><strong>파우치형</strong> 배터리</h3>
                                                <p>
                                                    <strong>슬림한 디자인, 강력한 에너지</strong>
                                                    <span>초슬림·고밀도 구조로  제품 성능과 디자인 자유도를 극대화합니다</span>
                                                </p>
                                                <span class="btn-more">자세히보기</span>
                                                <img src="../../../inc/images/img/main_img4.png" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //content-item02 -->
                        
                        <div class="content-item03 anim-section"> 
                            <div class="content-wrap anim-item"
                             data-start="5%" data-end="60%"
                             data-y0="323" data-y1="0">
                                <video src="../../../inc/video/video_main02.mp4"  autoplay muted playsinline loop>
                                    <!-- 비디오 영상 소리 정보 존재시 내용 입력 (접근성 처리용) -->
                                </video>

                                <div class="cont-area cont-grid">
                                    <span class="">Materials</span>
                                    <h3>더 강력한 에너지,<br/> 더 진화된 소재에서 시작됩니다</h3>
                                    <div class="cont-item anim-item" data-start="300px" data-end="100%">
                                        <a href="#">
                                            <span><strong>NCM</strong>높은 에너지 밀도와 성능</span>
                                        </a>
                                        <a href="#">
                                            <span><strong>LFP</strong>뛰어난 안정성과 경제성</span>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div><!-- //content-item03 -->
                        
                        <div class="content-item04"> 
                            <div class="content-wrap anim-section">
                                <div class="cont-item01">
                                    <div class="text-area">
                                        <div class="block-area anim-item"
                                data-start="0" data-end="100%"
                                data-h0="920px" data-h1="0">
                                            <p>LG에너지솔루션은 <strong>글로벌 6개국 생산 거점을 통해</strong> <br/><strong>더 빠르고 안정적으로 배터리를 공급</strong>합니다</p>
                                            <a class="btn-link">사업장 바로가기</a>
                                        </div>
                                        <div class="white-area">
                                            <p>LG에너지솔루션은 <strong>글로벌 6개국 생산 거점을 통해</strong> <br/><strong>더 빠르고 안정적으로 배터리를 공급</strong>합니다</p>
                                            <a class="btn-link">사업장 바로가기</a>
                                        </div>
                                    </div>
                                    <div class="move-img-area anim-item"
                                    data-start="0" data-end="100%"
                                    data-w0="50%" data-w1="100%"
                                    data-t0="920" data-t1="0"data-center="x">
                                        <video class="anim-box" src="../../../inc/video/video_main03.mp4"  autoplay muted playsinline loop>
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //content-item04 -->
                         <div class="content-item05"> 
                            <div class="content-wrap">
                                <div class="text-area">
                                    <div class="block-area anim-item"
                                    data-start="500px" data-end="100%"
                                    data-h0="920px" data-h1="0">
                                        <h3><strong> 차세대 배터리 기술</strong>로 </h3>
                                        <p>더 안전하고, 더 오래가고, 더 지속가능한 세상을 만듭니다</p>
                                        <a class="btn-link"><span>#바이폴라</span><span>#소듐이온 </span><span>#리튬황</span><span>#전고체</span></a>
                                    </div>
                                    <div class="white-area">
                                        <h3><strong> 차세대 배터리 기술</strong>로 </h3>
                                        <p>더 안전하고, 더 오래가고, 더 지속가능한 세상을 만듭니다</p>
                                        <a class="btn-link"><span>#바이폴라</span><span>#소듐이온 </span><span>#리튬황</span><span>#전고체</span></a>
                                    </div>
                                </div>
                                <div class="img-area anim-item"
                                    data-start="500px" data-end="100%"
                                    data-h0="50%" data-h1="100%"
                                    data-w0="50%" data-w1="100%"
                                    data-t0="920" data-t1="0"data-center="x">
                                    <img class="anim-box" src="../../../inc/images/img/main_img6.png" alt="">
                                </div>
                            </div>
                        </div><!-- //content-item05 -->
                        <div class="content-item06"> 
                            <div class="content-wrap cont-grid">
                                <div class="tit-area">
                                    <h4 class="tit">뉴스룸 <a href="#">뉴스룸 바로가기</a></h4>
                                </div>
                                <ul class="area-box">
                                    <li>
                                        <a href="#">
                                            <div class="text-area">
                                                <p class="txt ellipsis2">LG에너지솔루션 폴란드 국영전력공사 PGE와 대규모 ESS 프로젝트 계약체결...</p>
                                                <span class="date">2025.5.21</span>
                                            </div>
                                            <div class="img-area">
                                                <img src="../../../inc/images/img/main_img7.png" alt="">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="text-area">
                                                <p class="txt ellipsis2">LG에너지솔루션 폴란드 국영전력공사 PGE와 대규모 ESS 프로젝트 계약체결...</p>
                                                <span class="date">2025.5.17</span>
                                            </div>
                                            <div class="img-area">
                                                <img src="../../../inc/images/img/main_img8.png" alt="">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="text-area">
                                                <p class="txt ellipsis2">LG에너지솔루션-델타 일렉트로닉스 美 주택용 ESS 시장 공략 위한 전략적 파...</p>
                                                <span class="date">2025.5.21</span>
                                            </div>
                                            <div class="img-area">
                                                <img src="../../../inc/images/img/main_img9.png" alt="">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="text-area">
                                                <p class="txt ellipsis2">LG에너지솔루션 폴란드 국영전력공사 PGE와 대규모 ESS 프로젝트 계약체결...</p>
                                                <span class="date">2025.5.21</span>
                                            </div>
                                            <div class="img-area">
                                                <img src="../../../inc/images/img/main_img10.png" alt="">
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- //content-item06 -->
                                
                    </div> 
                </div>
            </section>
            <!-- //09.11 수정 : 메인 페이지 내 모든 마침표 삭제 - E -->
            <!-- // section -->
            <aside>
                <img src="../../../inc/images/sample/floating.png" alt="floating" />
            </aside>
            <!-- footer -->
            <footer class="footer-wrap">
                <div class="footer-area">
                <div class="footer-item01">
                    <ul class="footer-site_map">
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이메일무단수집거부</a></li>
                    <li><a href="#">정도경영 사이버신문고</a></li>
                    <li><a href="#">협력사 상생고</a></li>
                    <li><a href="#">안전가이드</a></li> <!-- 09.03 수정 : 안전가이드 추가 -->
                    </ul>
                </div>
                <div class="footer-item02">
                    <ul class="footer-site_map">
                        <li>
                            <div class="footer-site_map-desc">
                            <div class="footer-info">
                                <p class="owner">대표이사 김동명</p>
                                <address class="addr">07335 서울특별시 영등포구 여의대로 108</address>
                                <a class="tel" href="tel:0237771114">02-3777-1114</a>                  
                            </div>
                            </div>              
                        </li>
                    </ul>
                    <!-- 250717 수정 : 패밀리사이트 디자인 변경으로 selectbox-wrap type3 케이스 수정 -->
                    <div class="selectbox-wrap type3">
                        <div class="select-cate activeSelect">
                            
                            <!-- 09.05 수정 -->
                            <button type="button" aria-haspopup="listbox">관련사이트</button>
                            <ul class="select-menu" role="listbox">
                                <li>
                                    <p class="cate-title">LG그룹</p>
                                    <ul class="cate-item">
                                        <li><a href="javascript:;" role="option" tabindex="0">(주)LG</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">LG화학</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">LG화학</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="cate-title">패밀리사이트</p>
                                    <ul class="cate-item">
                                        <li><a href="javascript:;" role="option" tabindex="0">배터리인사이드</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">ESS전지 사이트</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">미국법인</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">폴란드법인</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">디지털 가상전시관</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">오픈 이노베이션</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="cate-title">비즈니스</p>
                                    <ul class="cate-item">
                                        <li><a href="javascript:;" role="option" tabindex="0">구매포탈시스템</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">파트너 보안 포탈</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">지급계좌등록시스템</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- //09.05 수정 -->
                        </div>
                    </div>
                </div>
                </div>
                <div class="footer-bottom">
                <a class="footer-logo">
                    <img src="../../../inc/images/img/img_footer_logo.svg" alt="LG에너지솔루션" />
                </a>
                <ul class="footer-util">
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-facebook.svg" alt="facebook"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-in.svg" alt="in"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-insta.svg" alt="instagram"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-naver.svg" alt="naver"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-youtube.svg" alt="youtube"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-blog.svg" alt="blog"></a></li>
                </ul>
                </div>
            </footer>
            <!-- // footer -->            
             </div>
        </div>

        <!-- 09.12 추가 : 쿠키 설정 팝업 - S -->
        <!-- 메인 쿠키 설정 모달 레이어 -->
        <div class="main-cookie" id="popupCookieLayer">
            <div class="content-wrap">
                <div class="desc">
                    당사는 편리한 웹 브라우징 환경을 제공하고 트래픽 분석을 통해 기능을 지속적으로 개선하기 위해 쿠키를 사용합니다. <br class="pc-only">
                    모든 쿠키 허용을 선택하면 쿠키 사용에 동의합니다. 쿠키 설정을 선택하여 특정 쿠키를 허용 또는 비활성화를 선택할 수 있습니다. <br class="pc-only">
                    자세한 내용은 당사의 <a href="#" class="underline">개인정보처리방침</a>을 참조해 주십시오.
                </div>
                <div class="btn-wrap">
                    <div class="btn-group">
                        <button type="button" class="act-btn-sm btn-primary02 btn-allow">모든 쿠키 허용</button>
                        <button type="button" class="act-btn-sm btn-outline03 btn-setting" id="popupCookieSettingBtn1" onclick="pubUi.popUp.open('#popupCookieSetting', '#popupCookieSettingBtn1')">쿠키 설정</button>
                    </div>
                    <div class="btn-close">
                        <button type="button"><img src="../../../inc/images/icon/icon_close_btn_wh.svg" alt="close"></button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- popup : 메인 쿠키 설정 팝업 - Cookie Settings -->
        <div class="modal-pop dialog setting-cookie" id="popupCookieSetting">
            <div class="pop-wrap">
                <div class="pop-header">
                    <h3 class="title">쿠키 설정 안내</h3>
                </div>
                <div class="pop-content">
                    <div class="section-wrap">
                        <section>
                            <div class="title-wrap">
                                <h5 class="title">귀하의 개인 정보</h5>
                            </div>
                            <p class="desc">
                                ㈜LG에너지솔루션은 귀하의 개인 정보를 어떻게 사용하는지 귀하께서 아시는것이 중요하다고 생각합니다. 전자적으로 수집된 소비자 데이터에 관하여, ㈜LG에너지솔루션은 개인정보처리방침에 명시된 방식으로 고지, 선택권, 접근 및 보안을 제공합니다.
                            </p> 
                        </section>
                        <section>
                            <div class="title-wrap">
                                <h5 class="title">분석 쿠키</h5>
                                <div class="toggle-btn">
                                    <input type="checkbox" name="toggle" id="toggle1" class="toggle-circle">
                                 </div>
                            </div>
                            <p class="desc">
                                이러한 쿠키는 웹사이트 트래픽 분석을 통해 당사 웹사이트의 기능을 지속적으로 개선하는 데 사용됩니다.
                            </p>
                        </section> 
                    </div>
                </div>
                <div class="pop-footer">
                  <div class="btn-wrap">
                    <button type="button" class="act-btn-md btn-primary01" onclick="pubUi.popUp.close('#popupCookieSetting','#popupCookieSettingBtn1');">쿠키 설정 저장</button>
                  </div>
                </div> 
                <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupCookieSetting','#popupCookieSettingBtn1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button>
            </div>
        </div>
        <!-- //09.12 추가 : 쿠키 설정 팝업 - E -->
        <!-- popupEvt -->
        <div class="modal-pop evt" id="popupEvt1">
            <div class="pop-wrap">
                <div class="pop-content">
                    <!-- 10.13 수정 : swiper 형태로 변경 [start] -->
                    <div class="swiper mainPopBnrSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide banr-item">
                                <div class="img-area">
                                    <a href="#">                                
                                        <img src="../../../inc/images/img/evt_pop_img.png" alt="pc image">
                                        <!-- <img src="../../../inc/images/img/evt_pop_img_mo.png" alt="mobile image"> mobile 일때 -->                                    
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide banr-item">
                                <div class="img-area">
                                    <a href="#">                                
                                        <img src="../../../inc/images/img/evt_pop_img.png" alt="pc image">
                                        <!-- <img src="../../../inc/images/img/evt_pop_img_mo.png" alt="mobile image"> mobile 일때 -->                                    
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide banr-item">
                                <div class="img-area">
                                    <a href="#">                                
                                        <img src="../../../inc/images/img/evt_pop_img.png" alt="pc image">
                                        <!-- <img src="../../../inc/images/img/evt_pop_img_mo.png" alt="mobile image"> mobile 일때 -->                                    
                                    </a>
                                </div>
                            </div>
                        </div>                    
                        <div class="swiper-paging-wrap">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-pagination"></div>
                        </div>                        
                    </div><!-- //mainPopBnrSwiper -->
                    <!-- //10.13 수정 : swiper 형태로 변경 [end] -->
                    <div class="foot-area checkbox">
                        <input type="checkbox" class="checkbox" id="chk-close" name="chk-close">
                        <label for="chk-close" class="checkbox-label">
                            <span class="custom-checkbox"></span>
                            <!-- 08.18 수정 : 문구 변경 -->
                            <span class="txt">
                                오늘 하루 열지않음
                            </span>
                        </label>
                        <button type="button" class="pop-close" onclick="pubUi.popUp.close('#popupEvt1', '#popupEvtBtn1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button> 
                    </div>
                </div>
            </div>
        </div>        
        <script type="text/javascript" src="../../../inc/js/jquery-3.7.1.slim.min.js"></script>
        <script type="text/javascript" src="../../../inc/js/swiper.min.js"></script>        
        <script type="text/javascript" src="../../../inc/js/lenis.min.js"></script>
        <script type="text/javascript" src="../../../inc/js/com-ui.js"></script>
        <script type="text/javascript" src="../../../inc/js/pub-ui.js"></script>
        <script type="text/javascript" src="../../../inc/js/main-ani.js"></script>
        <script>
            // pubUi.evtPopEvt();
        </script>
    </body>
</html>
