<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <!-- <meta name="viewport" content="width=1920" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name=" format-detection" content="telephone=no" />
        <title>LG에너지솔루션 - 레이아웃_not Tab-case</title>
        <link type="text/css" rel="stylesheet" href="../../../inc/css/swiper.min.css" />
        <link type="text/css" rel="stylesheet" href="../../../inc/css/common.css" />        
        <script type="text/javascript" src="../../../inc/js/jquery-3.7.1.slim.min.js"></script>
    </head>

    <body>
        <div class="skip-navigation">
            <a href="#container">본문 바로가기</a>
        </div>
        <div class="wrap id"> <!-- wrap에 화면id(id) 관련 클래스 추가하여 사용 -->
            
            <!-- header -->
            <header class="header-wrap">
                <div class="header-area pc-only">
                    <div class="header-cont">
                        <h1 class="ci"><a href="../cyanogen/cyanogen_main.html"><img src="../../../inc/images/symbol/CI.svg" alt=""></a></h1>
                        <div class="sitemap-wrap">
                            <nav class="nav-wrap">
                            <ul class="gnb__tab-btn-wrap">
                                <li class="depth01">
                                <a href="#">사업영역</a>
                                <ul>
                                    <li class="depth02"><a href="#">제품</a></li>
                                    <li class="depth02"><a href="#">서비스</a></li>
                                </ul>
                                </li>
                                <li class="depth01">
                                <a href="../cyanogen/cyanogen_sub1.html">회사소개</a>
                                <ul>
                                    <li class="depth02"><a href="#">소개</a></li>
                                    <li class="depth02"><a href="#">정도경영</a></li>
                                    <li class="depth02"><a href="../cyanogen/cyanogen_sub2.html">글로벌 네트워크</a></li>
                                    <li class="depth02"><a href="#">뉴스룸</a></li>
                                    <li class="depth02"><a href="#">R&D</a></li>
                                </ul>
                                </li>
                                <li class="depth01">
                                <a href="../sust/sust_sys_strategy_01.html">지속가능경영</a>
                                <ul>
                                    <li class="depth02"><a href="../sust/sust_sys_strategy_01.html">추진체계</a></li>
                                    <li class="depth02"><a href="#">환경</a></li>
                                    <li class="depth02"><a href="#">사회</a></li>
                                    <li class="depth02"><a href="#">지배구조</a></li>
                                    <li class="depth02"><a href="#">성과</a></li>
                                </ul>
                                </li>
                                <li class="depth01">
                                <a href="../ir/ir_fin_sheet_01.html">투자정보</a>
                                <ul>
                                    <li class="depth02"><a href="../ir/ir_fin_sheet_01.html">재무정보</a></li>
                                    <li class="depth02"><a href="#">주식정보</a></li>
                                    <li class="depth02"><a href="#">공시정보</a></li>
                                    <li class="depth02"><a href="../ir/ir_irinfo_event_01.html">IR정보</a></li>
                                    <li class="depth02"><a href="../ir/ir_irdata_report_01.html" class="active">IR자료</a></li>
                                </ul>
                                </li>
                                <li class="depth01">
                                <a href="#">채용정보</a>
                                <ul>
                                    <li class="depth02"><a href="#">인재상</a></li>
                                    <li class="depth02"><a href="#">인사제도</a></li>
                                    <li class="depth02"><a href="#">채용정보</a></li>
                                    <li class="depth02"><a href="#">채용공고</a></li>
                                    <li class="depth02"><a href="#">회사생활</a></li>
                                </ul>
                                </li>
                            </ul>
                            </nav>
                        </div>
                        <div class="utile-wrap">
                            <div class="utile-cont">
                                <!-- 250717 수정 : 고객지원 / 언어선택 디자인 변경 -->
                                <div class="util-item-cs">
                                    <img class="icon-cs" src="../../../inc/images/icon/icon_msg_chat.svg" alt="고객지원">
                                    <a href="#" class="menu-title">고객지원</a>
                                </div>
                                <div class="utile-item">
                                    <div class="lang-wrap">
                                        <div class="select-cate activeSelect">
                                            <button class="lang-button" aria-haspopup="listbox"><img src="../../../inc/images/icon/icon_global_img.svg" alt="언어 선택"><i class="select-btn-right-icon"></i></button>
                                            <ul class="select-menu" role="listbox">
                                                <li><a href="javascript:;" role="option" tabindex="0" class="active">KR</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">EN</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">CN</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">PL</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">DE</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- //lang-wrap -->
                                </div>                                
                                <div class="utile-item02">
                                    <button class="search-btn"></button>
                                </div>
                                <!-- //250717 수정 : 고객지원 / 언어선택 디자인 변경 -->
                                <div class="utile-item03">
                                    <button class="nav-btn" title="메뉴 열기">
                                        <i class="x-icon">
                                            <span class="x-line"></span>
                                            <span class="x-line"></span>
                                        </i>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 250717 수정 : mobile 임시 헤더 추가 : 메뉴 펼쳤을때 마크업 추가 작업 필요 -->
                <div class="header-area mo-only">
                    <div class="header-cont">
                        <h1 class="ci"><a href="../cyanogen/cyanogen_main.html"><img src="../../../inc/images/symbol/CI.svg" alt=""></a></h1>
                        <div class="utile-wrap">
                            <div class="utile-cont">
                            <div class="utile-item">
                                <button class="search-btn"></button>
                            </div>
                            <div class="utile-item02">
                                <div class="lang-wrap">
                                    <div class="select-cate activeSelect">
                                        <button class="lang-button" aria-haspopup="listbox"><img src="../../../inc/images/icon/icon_global_img.svg" alt="언어 선택"><i class="select-btn-right-icon"></i></button>
                                        <ul class="select-menu" role="listbox">
                                            <li><a href="javascript:;" role="option" tabindex="0" class="active">KR</a></li>
                                            <li><a href="javascript:;" role="option" tabindex="0">EN</a></li>
                                            <li><a href="javascript:;" role="option" tabindex="0">CN</a></li>
                                            <li><a href="javascript:;" role="option" tabindex="0">PL</a></li>
                                            <li><a href="javascript:;" role="option" tabindex="0">DE</a></li>
                                        </ul>
                                    </div>
                                </div><!-- //lang-wrap -->
                            </div>
                            <div class="utile-item03">
                                <button class="nav-btn" title="메뉴 열기">
                                <i class="x-icon">
                                    <span class="x-line"></span>
                                    <span class="x-line"></span>
                                </i>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //250717 수정 : mobile 임시 헤더 추가 : 메뉴 펼쳤을때 마크업 추가 작업 필요 -->
            </header>
            <!-- //header -->
            <!-- section -->
            <section id="container" class="content-wrap">
                <div class="content-header_bg">
                    <div class="visual-video">
                        <video src="../../../inc/images/video/visual_company01.mp4" poster="../../../inc/images/img/visual_company01.png" autoplay muted playsinline loop>
                            <!-- 비디오 영상 소리 정보 존재시 내용 입력 (접근성 처리용) -->
                        </video>
                    </div>
                    <!-- <img src="../../../../inc/images/img/visual_company01.png" alt="비주얼배너" /> -->
                    <div class="content-header_text">
                        <p class="title-intro">
                            미래를 밝히는 LG에너지솔루션,<br/>
                            <strong>에너지로 세상의 움직임을 이끌어 갑니다.</strong>
                        </p>
                    </div>
                </div>
                <div class="page-map-wrap"> <!-- page-map-wrap -->
                    <div class="selectbox-wrap pc-only" role="listbox">
                        <!-- <div role="option" class="select-cate">
                            <a href="../cyanogen/cyanogen_main.html"><img src="../../../inc/images/icon/icon_home.svg" alt="home" title="홈 이동" /></a>
                        </div> -->
                        <div class="select-cate activeSelect" role="option">
                            <button type="button" aria-haspopup="listbox">회사소개</button>
                            <ul class="select-menu" role="listbox">
                                <li><a href="javascript:;" role="option" tabindex="0">사업영역</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0" class="active">회사소개</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">지속가능경영</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">투자정보</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">채용정보</a></li>
                            </ul>
                        </div>
                        <div class="select-cate activeSelect" role="option">
                            <button type="button" aria-haspopup="listbox">소개</button>
                            <ul class="select-menu" role="listbox">
                                <li><a href="javascript:;" role="option" tabindex="0" class="active">소개</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">정도경영</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">글로벌 네트워크</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">뉴스룸</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">R&D</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!--//page-map-wrap -->
                <!-- 필요할 경우 해당 영역 사용, 불필요시 제거 -->
                <!-- <div class="content-header">
                    <div class="content-header-cont">
                        <h2 class="title-h1">글로벌 네트워크</h2>
                        <div class="subp-tit-area">
                            <h3 class="subp-tit">                                
                                <strong>한국, 미국, 폴란드, 중국</strong> 등 주요 생산거점을 중심으로, <br/>
                                <strong>R&D, 판매거점 또한 세계적으로 확대</strong>해 나가고 있습니다.
                            </h3>
                        </div>
                    </div>
                </div> -->
                <div class="content-area">
                    <div class="cont-head-wrap mo-only">
                        <h2 class="title-h1">소개</h2> <!-- title-h1 (페이지타이틀) -->
                    </div>
                    <div class="content-item01 active"> <!-- active 클래스 유무에 따라 scroll 시 효과 적용 -->
                        <div class="content-wrap"> <!-- max-width:90rem (default)-->
                            <h2 class="title-h1">회사개요</h2> <!-- title-h1 (페이지타이틀) -->
                            <div class="content-sect">
                                <div class="flex-box">
                                    <div class="left-area">
                                        <p class="sub-title">
                                            <strong>더 나은 세상</strong>을 위해<br/>
                                            에너지에 대한 <strong>다양한 솔루션을 제공</strong>합니다.
                                        </p>
                                        <div class="btn-wrap" style="margin-top:5rem;"> <!-- 버튼영역 임시 style 속성, 작업시는 page.css에서 처리 필요 -->
                                            <button type="button" class="icon-btn-md icon-white icon-download btn-outline01">
                                                <span>Button Name</span>
                                                <div class="icon-area"></div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-area">
                                        <p class="sub-title">
                                            우측 영역
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- //content-item01 -->
                    <div class="content-item02" data-bgtype="dark" style="background-color:#555;"> <!-- data-bgtype : 배경타입 지정 (dark -> 컬러:흰색 / 스크롤시 해당영역 도달하면 배경타입에 맞게 컬러 적용되도록 스크립트 처리 예정)-->
                        <div class="content-wrap">
                            <h2 class="title-h2">사업영역</h2> <!-- title-h2 (서브타이틀)-->
                            <div class="content-sect">
                                <div class="flex-box">
                                    <div class="left-area">
                                        <p class="sub-title">
                                            좌측 영역
                                        </p>
                                    </div>
                                    <div class="sect-box">
                                        <p class="sub-title">Advanced Automotive Battery</p>
                                        <h2 class="title-h1">자동차전지</h2>
                                        <p class="info-desc">세계 최고의 배터리 기술력과 강력한 글로벌 생산능력으로, 전기차 대중화와 함께 미래 모빌리티 혁신을 이끌어갑니다.</p>
                                        <div class="info-box">
                                            <p class="desc">
                                                LG에너지솔루션은 전기차, 하이브리드차, 수소전지차 등 다양한 자동차에 최적화된 배터리를 개발하고 있습니다. <br/>
                                                전 세계 완성차 업체와 협력하여 차세대 전기차 시장을 선도하고 있습니다.
                                            </p>
                                            <p class="desc">
                                                LG에너지솔루션은 전기차, 하이브리드차, 수소전지차 등 다양한 자동차에 최적화된 배터리를 개발하고 있습니다. <br/>
                                                전 세계 완성차 업체와 협력하여 차세대 전기차 시장을 선도하고 있습니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- //content-item02 -->
                    <div class="content-item03">
                        <div class="content-wrap">
                            <article> <!-- article 태그 : article:not(:last-child) margin-bottom:7.5rem -->
                                <h2 class="title-h2">폼팩터</h2> <!-- title-h2 (서브타이틀)-->
                                <div class="content-sect">
                                    <div class="accord-cont-wrap">
                                        <div class="accordion-list type2 acdItem">
                                            <a href="javascript:void(0);" role="button" aria-expanded="false" class="acd-btn accordion-btn">
                                                <div class="acd-group">
                                                    <p class="sub-tit">서브타이틀</p>
                                                    <p class="acd-tit">아코디언 타이틀</p>
                                                </div>
                                            </a>
                                            <div class="acd-panel accordion-content" role="region">
                                                LG에너지솔루션이 제조하는 리튬이온배터리 셀은 오직 산업용 고객 (e.g. 배터리 팩 제조사, 시스템 제조사 등)에만 판매됩니다. LG에너지솔루션은 리튬 이온 배터리 셀/팩의 취급으로 인한 사고 예방 및 안전한 제품 사용을 위해 개인 소비자에게는 리튬이온배터리 셀 (i.e. 18650, 단전지)을 판매하지 않습니다.전자상거래를 통해 유통되는 LG에너지솔루션의 리튬이온배터리 셀을 구매하지 마시기를 바랍니다. 자세한 내용은 홈페이지에 게시된 ‘리튬이온배터리 안전가이드’를 참고해주시기 바랍니다.
                                            </div>
                                        </div>
                                        <div class="accordion-list type2 acdItem">
                                            <a href="javascript:void(0);" role="button" aria-expanded="false" class="acd-btn accordion-btn">
                                                <div class="acd-group">
                                                    <p class="sub-tit">서브타이틀</p>
                                                    <p class="acd-tit">아코디언 타이틀</p>
                                                </div>
                                            </a>
                                            <div class="acd-panel accordion-content" role="region">
                                                <div class="desc-wrap">
                                                    <p class="desc">LG에너지솔루션이 제조하는 리튬이온배터리 셀은 오직 산업용 고객 (e.g. 배터리 팩 제조사, 시스템 제조사 등)에만 판매됩니다.</p>
                                                    <p class="desc">LG에너지솔루션은 리튬 이온 배터리 셀/팩의 취급으로 인한 사고 예방 및 안전한 제품 사용을 위해 개인 소비자에게는 리튬이온배터리 셀 (i.e. 18650, 단전지)을 판매하지 않습니다.</p>
                                                    <p class="desc">전자상거래를 통해 유통되는 LG에너지솔루션의 리튬이온배터리 셀을 구매하지 마시기를 바랍니다. 자세한 내용은 홈페이지에 게시된 ‘리튬이온배터리 안전가이드’를 참고해주시기 바랍니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!--//accord-cont-wrap -->
                                </div>
                            </article>
                            <article>
                                <h2 class="title-h2">서비스 소개</h2> <!-- title-h2 (서브타이틀)-->
                                <div class="content-sect">
                                    서비스 소개 내용
                                </div>
                            </article>
                        </div>
                    </div><!-- //content-item03 -->
                
                </div>
            </section>
            <!-- // section -->
            <aside>
                <img src="../../../inc/images/sample/floating.png" alt="floating" />
            </aside>
            <!-- footer -->
            <footer class="footer-wrap">
                <div class="footer-area">
                <div class="footer-item01">
                    <ul class="footer-site_map">
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이메일무단수집거부</a></li>
                    <li><a href="#">정도경영 사이버신문고</a></li>
                    <li><a href="#">협력사 상생고</a></li>
                    </ul>
                </div>
                <div class="footer-item02">
                    <ul class="footer-site_map">
                        <li>
                            <div class="footer-site_map-desc">
                            <div class="footer-info">
                                <p class="owner">대표이사 김동명</p>
                                <address class="addr">07335 서울특별시 영등포구 여의대로 108</address>
                                <a class="tel" href="tel:0237771114">02-3777-1114</a>                  
                            </div>
                            </div>              
                        </li>
                    </ul>
                    <!-- 250717 수정 : 패밀리사이트 디자인 변경으로 selectbox-wrap type3 케이스 수정 -->
                    <div class="selectbox-wrap type3">
                        <div class="select-cate activeSelect">
                            <button type="button" aria-haspopup="listbox">Family Site</button>                                                
                            <ul class="select-menu" role="listbox">
                                <li>
                                    <p class="cate-title">LG그룹</p>
                                    <ul class="cate-item">
                                        <li><a href="javascript:;" role="option" tabindex="0">(주)LG</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">LG화학</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">LG화학</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="cate-title">패밀리사이트</p>
                                    <ul class="cate-item">
                                        <li><a href="javascript:;" role="option" tabindex="0">배터리인사이드</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">ESS전지 사이트</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">미국법인</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">폴란드법인</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">디지털 가상전시관</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">오픈 이노베이션</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="cate-title">비즈니스</p>
                                    <ul class="cate-item">
                                        <li><a href="javascript:;" role="option" tabindex="0">KOOROO</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">B-Lifecare</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">구매포탈시스템</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">파트너 보안 포탈</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">지급계좌등록시스템</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                <div class="footer-bottom">
                <a class="footer-logo">
                    <img src="../../../inc/images/img/img_footer_logo.svg" alt="LG에너지솔루션" />
                </a>
                <ul class="footer-util">
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-facebook.svg" alt="facebook"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-in.svg" alt="in"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-insta.svg" alt="instagram"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-naver.svg" alt="naver"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-youtube.svg" alt="youtube"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-blog.svg" alt="blog"></a></li>
                </ul>
                </div>
            </footer>
            <!-- // footer -->
        </div>

        <script type="text/javascript" src="../../../inc/js/jquery-3.7.1.slim.min.js"></script>
        <script type="text/javascript" src="../../../inc/js/swiper.min.js"></script>        
        <script type="text/javascript" src="../../../inc/js/com-ui.js"></script>
        <script type="text/javascript" src="../../../inc/js/pub-ui.js"></script>
    </body>
</html>
