<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <!-- <meta name="viewport" content="width=1920" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name=" format-detection" content="telephone=no" />
        <title>LG에너지솔루션 - 제품_폼팩터</title>
        <link type="text/css" rel="stylesheet" href="../../../inc/css/swiper.min.css" />
        <link type="text/css" rel="stylesheet" href="../../../inc/css/common.css" />        
        <script type="text/javascript" src="../../../inc/js/jquery-3.7.1.slim.min.js"></script>
    </head>

    <body>
        <div class="skip-navigation">
            <a href="#container">본문 바로가기</a>
        </div>
        <div class="wrap pfom"> <!-- wrap에 화면id(id) 관련 클래스 추가하여 사용 -->
            <!-- header -->
            <header class="header-wrap parent-event">
                <div class="header-area pc-only">
                    <div class="header-cont">
                        <h1 class="ci"><a href="../cyanogen/cyanogen_main.html"><img src="../../../inc/images/symbol/CI.svg"
                                    alt=""></a>
                        </h1>
                        <div class="sitemap-wrap">
                            <nav class="nav-wrap ">
                                <ul class="gnb__tab-btn-wrap">
                                    <li class="depth01">
                                        <button class="parent-event_btn">제품</button>
                                        <ul>
                                            <li class="depth02"><a href="#">산업별 솔루션</a></li>
                                            <li class="depth02"><a href="#">폼팩터</a></li>
                                            <li class="depth02"><a href="#">소재</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">서비스</button>
                                        <ul>
                                            <li class="depth02"><a href="#">B.around</a></li>
                                            <li class="depth02"><a href="#">B-Lifecare</a></li>
                                            <li class="depth02"><a href="#">B-Once</a></li>
                                            <li class="depth02"><a href="#">KooRoo</a></li>
                                            <li class="depth02"><a href="#">전력중개</a></li>
                                            <li class="depth02"><a href="#">ESS SI</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">회사정보</button>
                                        <ul>
                                            <li class="depth02"><a href="#">회사소개</a></li>
                                            <li class="depth02"><a href="#">정도경영</a></li>
                                            <li class="depth02"><a href="#">사업장</a></li>
                                            <li class="depth02"><a href="#">R&D</a></li>
                                            <li class="depth02"><a href="#">뉴스룸</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">지속가능경영</button>
                                        <ul>
                                            <li class="depth02"><a href="../sust/sust_sys_strategy_01.html">추진체계</a></li>
                                            <li class="depth02"><a href="#">환경</a></li>
                                            <li class="depth02"><a href="#">사회</a></li>
                                            <li class="depth02"><a href="#">지배구조</a></li>
                                            <li class="depth02"><a href="#">성과보고</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">투자정보</button>
                                        <ul>
                                            <li class="depth02"><a href="#">재무정보</a></li>
                                            <li class="depth02"><a href="#">주식정보</a></li>
                                            <li class="depth02"><a href="#">공시정보</a></li>
                                            <li class="depth02"><a href="#">IR정보</a></li>
                                            <li class="depth02"><a href="#">IR자료</a></li>
                                        </ul>
                                    </li>
                                    <li class="depth01">
                                        <button class="parent-event_btn">인재채용</button>
                                        <ul>
                                            <li class="depth02"><a href="#">인재상</a></li>
                                            <li class="depth02"><a href="#">인사제도</a></li>
                                            <li class="depth02"><a href="#">조직문화</a></li>
                                            <li class="depth02"><a href="#">채용정보</a></li>
                                            <li class="depth02"><a href="#">채용공고</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="utile-wrap">
                            <div class="utile-cont">
                                <!-- 250717 수정 : 고객지원 / 언어선택 디자인 변경 -->
                                <div class="util-item-cs">
                                    <img class="icon-cs" src="../../../inc/images/icon/icon_msg_chat.svg" alt="고객지원">
                                    <button class="menu-title" onclick="pubUi.popUp.open('.cs-cont','.menu-title');" >고객지원</button>
                                    <div class="cs-cont">
                                        <div class="pop-wrap">
                                            <a href="" class="cs-item">다운로드</a>
                                            <a href="" class="cs-item">문의하기</a>
                                            <a href="" class="cs-item">FAQ</a>
                                            <button class="cs-close" onclick="pubUi.popUp.close('.cs-cont','.menu-title');"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="utile-item">
                                    <div class="lang-wrap">
                                        <div class="select-cate activeSelect">
                                            <button class="lang-button" aria-haspopup="listbox"><img
                                                    src="../../../inc/images/icon/icon_global_img.svg" alt="언어 선택"><i
                                                    class="select-btn-right-icon"></i></button>
                                            <ul class="select-menu" role="listbox">
                                                <li><a href="javascript:;" role="option" tabindex="0" class="active">KR</a>
                                                </li>
                                                <li><a href="javascript:;" role="option" tabindex="0">EN</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">CN</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">PL</a></li>
                                                <li><a href="javascript:;" role="option" tabindex="0">DE</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- //lang-wrap -->
                                </div>
                                <div class="utile-item02">
                                    <button class="search-btn header_search-btn search-reset" onclick="pubUi.popUp.open('.header_search-area','.header_search-btn');"></button>
                                </div>
                                <!-- //250717 수정 : 고객지원 / 언어선택 디자인 변경 -->
                                <div class="utile-item03">
                                    <button class="nav-btn" title="메뉴 열기" onclick="pubUi.popUp.open('.sitemap_pop-wrap','.nav-btn');">
                                        <i class="x-icon">
                                            <span class="x-line"></span>
                                            <span class="x-line"></span>
                                        </i>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="header_search-area target-header_search search-reset">
                <div class="pop-wrap">
                    <!-- 엔터 클릭시 검색 -->
                    <!-- 09.03 수정 : 검색영역 마크업 통일 -->
                     <div class="search-box-wrap pc-only">
                        <div class="search-box searchEvt">
                            <button type="button" class="btn-search" aria-label="검색" class="btn-search">
                                <img src="../../../inc/images/icon/icon_head_search.svg" alt="검색 아이콘" role="button">
                            </button>
                            <input type="text" id="faq-search" placeholder="검색어를 입력해 주세요.">
                            <button type="button" class="btn-search-reset btn-delete" aria-label="검색어 초기화">
                                <img src="../../../inc/images/icon/icon_close_btn_wh.svg" alt="삭제 아이콘">
                            </button>
                        </div>
                    </div>
                    <!-- //09.03 수정 : 검색영역 마크업 통일 -->
                </div>
            </div>
            <div class="sitemap_pop-wrap">
                <div class="pop-wrap">
                    <div class="sitemap_pop-header">
                        <a class="sitemap_pop-ci" href="#"><img src="../../../inc/images/symbol/CI_wh.svg" alt=""></a>
                    </div>
                    <ul class="sitemap-area">
                        <li class="depth01">
                            <a href="#">제품</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">산업별 솔루션</a>
                                    <ul>
                                        <li class="depth03"><a href="#">승용 EV</a></li>
                                        <li class="depth03"><a href="#">상용 EV</a></li>
                                        <li class="depth03"><a href="#">LEV</a></li>
                                        <li class="depth03"><a href="#">ESS</a></li>
                                        <li class="depth03"><a href="#">스마트기기</a></li>
                                        <li class="depth03"><a href="#">전동공구</a></li>
                                        <li class="depth03"><a href="#">중장비</a></li>
                                        <li class="depth03"><a href="#">로봇</a></li>
                                        <li class="depth03"><a href="#">미래모빌리티</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">폼팩터</a>
                                    <ul>
                                        <li class="depth03"><a href="#">원통형</a></li>
                                        <li class="depth03"><a href="#">파우치형</a></li>
                                        <li class="depth03"><a href="#">각형</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">소재</a>
                                    <ul>
                                        <li class="depth03"><a href="#">NCM 배터리</a></li>
                                        <li class="depth03"><a href="#">LFP 배터리</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">서비스</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">B.around</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">B-Lifecare</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">B-Once</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">KooRoo</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">전력중개</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">ESS SI</a>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">회사정보</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">회사소개</a>
                                    <ul>
                                        <li class="depth03"><a href="#">회사개요</a></li>
                                        <li class="depth03"><a href="#">비전</a></li>
                                        <li class="depth03"><a href="#">연혁</a></li>
                                        <li class="depth03"><a href="#">CI</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">정도경영</a>
                                    <ul>
                                        <li class="depth03"><a href="#">정도경영 소개</a></li>
                                        <li class="depth03"><a href="#">윤리규범</a></li>
                                        <li class="depth03"><a href="#">정도경영 프로그램</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">사업장</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">R&D</a>
                                    <ul>
                                        <li class="depth03"><a href="#">R&D 현황</a></li>
                                        <li class="depth03"><a href="#">R&D 분야</a></li>
                                        <li class="depth03"><a href="#">차세대 전지</a></li>
                                        <li class="depth03"><a href="#">오픈 이노베이션</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">뉴스룸</a>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">지속가능경영</a>
                            <ul>
                                <li class="depth02">
                                    <a href="../sust/sust_sys_strategy_01.html">추진체계</a>
                                    <ul>
                                        <li class="depth03"><a href="#">비전 및 전략</a></li>
                                        <li class="depth03"><a href="#">거버넌스</a></li>
                                        <li class="depth03"><a href="#">글로벌 파트너십</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">환경</a>
                                    <ul>
                                        <li class="depth03"><a href="#">환경경영</a></li>
                                        <li class="depth03"><a href="#">기후행동</a></li>
                                        <li class="depth03"><a href="#">자원선순환</a></li>
                                        <li class="depth03"><a href="#">환경영향 관리</a></li>
                                        <li class="depth03"><a href="#">생물다양성 관리</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">사회</a>
                                    <ul>
                                        <li class="depth03"><a href="#">밸류체인 ESG경영</a></li>
                                        <li class="depth03"><a href="#">동반성장</a></li>
                                        <li class="depth03"><a href="#">제품책임</a></li>
                                        <li class="depth03"><a href="#">안전보건 관리</a></li>
                                        <li class="depth03"><a href="#">인권경영</a></li>
                                        <li class="depth03"><a href="#">사회공헌</a></li>
                                        <li class="depth03"><a href="#">정보보안</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">지배구조</a>
                                    <ul>
                                        <li class="depth03"><a href="#">이사회</a></li>
                                        <li class="depth03"><a href="#">위원회</a></li>
                                        <li class="depth03"><a href="#">준법경영</a></li>
                                        <li class="depth03"><a href="#">위기관리</a></li>
                                        <li class="depth03"><a href="#">윤리경영</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">성과보고</a>
                                    <ul>
                                        <li class="depth03"><a href="#">보고서</a></li>
                                        <li class="depth03"><a href="#">평가</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">투자정보</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">재무정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">재무상태표</a></li>
                                        <li class="depth03"><a href="#">손익계산서</a></li>
                                        <li class="depth03"><a href="#">현금흐름도</a></li>
                                        <li class="depth03"><a href="#">신용등급</a></li>
                                        <li class="depth03"><a href="#">ESG 채권</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">주식정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">주가정보</a></li>
                                        <li class="depth03"><a href="#">주주환원</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">공시정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">전자공고</a></li>
                                        <li class="depth03"><a href="#">공시자료</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">IR정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">IR 행사</a></li>
                                        <li class="depth03"><a href="#">실적발표</a></li>
                                        <li class="depth03"><a href="#">주주총회</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">IR자료</a>
                                    <ul>
                                        <li class="depth03"><a href="#">사업보고서</a></li>
                                        <li class="depth03"><a href="#">영업보고서</a></li>
                                        <li class="depth03"><a href="#">감사보고서</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="depth01">
                            <a href="#">인재채용</a>
                            <ul>
                                <li class="depth02">
                                    <a href="#">인재상</a>
                                </li>
                                <li class="depth02">
                                    <a href="#">인사제도</a>
                                    <ul>
                                        <li class="depth03"><a href="#">인사원칙</a></li>
                                        <li class="depth03"><a href="#">인재육성</a></li>
                                        <li class="depth03"><a href="#">복리후생</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">조직문화</a>
                                    <ul>
                                        <li class="depth03"><a href="#">일하는 방식</a></li>
                                        <li class="depth03"><a href="#">소통문화</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">채용정보</a>
                                    <ul>
                                        <li class="depth03"><a href="#">채용절차</a></li>
                                        <li class="depth03"><a href="#">직무소개</a></li>
                                        <li class="depth03"><a href="#">채용 스토리</a></li>
                                    </ul>
                                </li>
                                <li class="depth02">
                                    <a href="#">채용공고</a>
                                    <ul>
                                        <li class="depth03"><a href="#"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button class="sitemap-close" onclick="pubUi.popUp.close('.sitemap_pop-wrap','.nav-btn');"><img src="../../../inc/images/icon/icon_close-md_wh.svg" alt=""></button>
                </div>
            </div>
            <!-- //header -->
            <!-- section -->
            <section id="container" class="content-wrap">
                <div class="content-header_bg">
                    <div class="visual-video">
                        <video src="../../../inc/images/video/visual_prod.mp4" poster="../../../inc/images/img/visual_prod.png" autoplay muted playsinline loop>
                            <!-- 비디오 영상 소리 정보 존재시 내용 입력 (접근성 처리용) -->
                        </video>
                    </div>
                    <div class="content-header_text">
                        <p class="title-intro">
                            높은 에너지 밀도와 고출력 성능을 갖춘 원통형 전지는 <br/>
                            <strong>다양한 소형 모빌리티와 IT기기에 최적화된 배터리</strong>입니다.
                        </p>
                    </div>
                </div>
                <div class="page-map-wrap"> <!-- page-map-wrap -->
                    <div class="selectbox-wrap pc-only" role="listbox">
                        <!-- <div role="option" class="select-cate">
                            <a href="../cyanogen/cyanogen_main.html"><img src="../../inc/images/icon/icon_home.svg" alt="home" title="홈 이동" /></a>
                        </div> -->
                        <div class="select-cate activeSelect" role="option">
                            <button type="button" aria-haspopup="listbox">제품</button>
                            <ul class="select-menu" role="listbox">
                                <li><a href="javascript:;" role="option" tabindex="0" class="active">제품</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">서비스</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">회사정보</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">지속가능경영</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">투자정보</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">인재채용</a></li>
                            </ul>
                        </div>
                        <div class="select-cate activeSelect" role="option">
                            <button type="button" aria-haspopup="listbox">산업별 솔루션</button>
                            <ul class="select-menu" role="listbox">
                                <li><a href="javascript:;" role="option" tabindex="0">산업별 솔루션</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0" class="active">폼팩터</a></li>
                                <li><a href="javascript:;" role="option" tabindex="0">소재</a></li>
                            </ul>
                        </div>
                        <div class="select-cate activeSelect" role="option">
                            <button type="button" aria-haspopup="listbox">원통형</button>
                            <!-- ★ PC 탭케이스일 경우, select-menu에 caseTab추가 필요, 하위 카테고리에 탭관련 속성 추가 필요 
                            [ex] role="tab" aria-selected="true" aria-controls="tab1-content" -->
                            <ul class="select-menu caseTab" role="listbox">
                                <li><a href="javascript:;" tabindex="0" class="active" role="tab" aria-selected="true" aria-controls="tab1-content">원통형</a></li>
                                <li><a href="javascript:;" tabindex="0" role="tab" aria-selected="false" aria-controls="tab2-content">파우치형</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!--//page-map-wrap -->
                <div class="content-area">
                    <div class="pc-only">
                        <div class="tab-content-box">
                            <!-- 세컨드탭 있는 케이스 -->
                            <div class="tab-content on" id="tab1-content">
                                <div class="tab-wrap" data-tab-type="secondTab">
                                    <!-- 상단 타이틀 영역 -->
                                    <div class="sticky-area-tit">
                                        <h2 class="title-h1">원통형</h2> <!-- title-h1 (페이지타이틀) -->
                                        <!-- 세컨드탭 있을 경우 sticky-area-tit 내부에 넣기 -->
                                        <div class="tab-cate-wrap new">                            
                                            <ul class="tab-category activeTab" role="tablist">
                                                <li class="tab on" id="tab1-1"><button role="tab" aria-selected="true" aria-controls="tab1-1-content">46 Series</button></li>
                                                <li class="tab" id="tab1-2"><button role="tab" aria-selected="false" aria-controls="tab1-2-content">2170 / 1865</button></li>
                                            </ul>
                                        </div><!--//tab-cate-wrap-->
                                        <!-- // 세컨드탭 있을 경우 sticky-area-tit 내부에 넣기 -->
                                    </div>
                                    <!-- // 상단 타이틀 영역 -->

                                    <div class="tab-content-box">
                                        <div class="tab-content on" id="tab1-1-content">
                                            <!-- sticky-area로 감싸진 content-item은 왼쪽 여백 추가 -->
                                            <div class="sticky-area">
                                                <!-- 앵커 영역 -->
                                                <div class="side-sticky">
                                                    <ul class="side-list">
                                                        <!-- a 태그에 active 붙을 시 볼드체 -->
                                                        <li><a href="#content-1-1" class="active">핵심 경쟁력</a></li>
                                                        <li><a href="#content-1-2">제품 기술력</a></li>
                                                        <li><a href="#content-1-3">산업별 솔루션</a></li>
                                                        <li><a href="#content-1-4">생산 지역</a></li>
                                                        <li><a href="#content-1-5">주요 수주 이력</a></li>
                                                    </ul>
                                                </div>
                                                <!-- // 앵커 영역 -->
                                                <div class="content-item01" id="content-1-1">
                                                    <div class="content-wrap">
                                                        <div style="height: 400px;">
                                                            레이아웃 확인111111
                                                            <button style="width: 100%; height: 100px; background-color: rosybrown;">포인터 테스트</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-item02 bg-darkgray" data-bgtype="dark" id="content-1-2">
                                                    <div class="content-wrap">
                                                        <div style="height: 400px;">
                                                            레이아웃 확인222222
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-item03" id="content-1-3">
                                                    <div class="content-wrap">
                                                        <div style="height: 400px;">
                                                            레이아웃 확인33333
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-item04" id="content-1-4">
                                                    <div class="content-wrap">
                                                        <div style="height: 400px;">
                                                            레이아웃 확인444444
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-item05" id="content-1-5">
                                                    <div class="content-wrap">
                                                        <div style="height: 400px;">
                                                            레이아웃 확인55555
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                            <!-- // sticky-area로 감싸진 content-item은 왼쪽 여백 추가 -->
                                        </div>
                                        <div class="tab-content" id="tab1-2-content">
                                            <!-- sticky-area로 감싸진 content-item은 왼쪽 여백 추가 -->
                                            <div class="sticky-area">
                                                <!-- 앵커 영역 / white 이중 클래스 붙을 시 텍스트 컬러 흰색 -->
                                                <div class="side-sticky white">
                                                    <ul class="side-list">
                                                        <li><a href="#content-1-6" class="active">1111</a></li>
                                                        <li><a href="#content-1-7">2222</a></li>
                                                    </ul>
                                                </div>
                                                <!-- // 앵커 영역 -->
                                                <div class="content-item01 bg-darkgray" data-bgtype="dark" id="content-1-6">
                                                    <div class="content-wrap">
                                                        <div style="height: 400px;">
                                                            레이아웃 확인111111
                                                            <button style="width: 100%; height: 100px; background-color: rosybrown;">포인터 테스트</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-item02 bg-gray" id="content-1-7">
                                                    <div class="content-wrap">
                                                        <div style="height: 400px;">
                                                            레이아웃 확인222222
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- // sticky-area로 감싸진 content-item은 왼쪽 여백 추가 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // 세컨드탭 있는 케이스 -->

                            <!-- 세컨드탭 없는 케이스 -->
                            <div class="tab-content" id="tab2-content">
                                <div class="tab-content-box">
                                    <!-- 상단 타이틀 영역 -->
                                    <div class="sticky-area-tit">
                                        <h2 class="title-h1">파우치형</h2> <!-- title-h1 (페이지타이틀) -->
                                    </div>
                                    <!-- // 상단 타이틀 영역 -->

                                    <!-- sticky-area로 감싸진 content-item은 왼쪽 여백 추가 -->
                                    <div class="sticky-area">
                                        <!-- 앵커 영역 -->
                                        <div class="side-sticky">
                                            <ul class="side-list">
                                                <li><a href="#content-item01" class="active">핵심 경쟁력</a></li>
                                                <li><a href="#content-item02">제품 기술력</a></li>
                                                <li><a href="#content-item03">산업별 솔루션</a></li>
                                                <li><a href="#content-item04">생산 지역</a></li>
                                                <li><a href="#content-item05">주요 수주 이력</a></li>
                                            </ul>
                                        </div>
                                        <!-- // 앵커 영역 -->
                                        <div class="content-item01" id="content-item01">
                                            <div class="content-wrap">
                                                <div style="height: 400px;">
                                                    레이아웃 확인111111
                                                    <button style="width: 100%; height: 100px; background-color: rosybrown;">포인터 테스트</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-item02 bg-darkgray" data-bgtype="dark" id="content-item02">
                                            <div class="content-wrap">
                                                <div style="height: 400px;">
                                                    레이아웃 확인222222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-item03" id="content-item03">
                                            <div class="content-wrap">
                                                <div style="height: 400px;">
                                                    레이아웃 확인33333
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-item04" id="content-item04">
                                            <div class="content-wrap">
                                                <div style="height: 400px;">
                                                    레이아웃 확인444444
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-item05" id="content-item05">
                                            <div class="content-wrap">
                                                <div style="height: 400px;">
                                                    레이아웃 확인55555
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // sticky-area로 감싸진 content-item은 왼쪽 여백 추가 -->
                                </div>
                            </div>
                            <!-- // 세컨드탭 없는 케이스 -->

                        </div>
                    </div> <!-- //pc-only -->
                </div>
            </section>
            <!-- // section -->
            <aside>
                <img src="../../../inc/images/sample/floating.png" alt="floating" />
            </aside>
            <!-- footer -->
            <footer class="footer-wrap">
                <div class="footer-area">
                <div class="footer-item01">
                    <ul class="footer-site_map">
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이메일무단수집거부</a></li>
                    <li><a href="#">정도경영 사이버신문고</a></li>
                    <li><a href="#">협력사 상생고</a></li>
                    </ul>
                </div>
                <div class="footer-item02">
                    <ul class="footer-site_map">
                        <li>
                            <div class="footer-site_map-desc">
                            <div class="footer-info">
                                <p class="owner">대표이사 김동명</p>
                                <address class="addr">07335 서울특별시 영등포구 여의대로 108</address>
                                <a class="tel" href="tel:0237771114">02-3777-1114</a>                  
                            </div>
                            </div>              
                        </li>
                    </ul>
                    <!-- 250717 수정 : 패밀리사이트 디자인 변경으로 selectbox-wrap type3 케이스 수정 -->
                    <div class="selectbox-wrap type3">
                        <div class="select-cate activeSelect">
                            <button type="button" aria-haspopup="listbox">Family Site</button>                                                
                            <ul class="select-menu" role="listbox">
                                <li>
                                    <p class="cate-title">LG그룹</p>
                                    <ul class="cate-item">
                                        <li><a href="javascript:;" role="option" tabindex="0">(주)LG</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">LG화학</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">LG화학</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="cate-title">패밀리사이트</p>
                                    <ul class="cate-item">
                                        <li><a href="javascript:;" role="option" tabindex="0">배터리인사이드</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">ESS전지 사이트</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">미국법인</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">폴란드법인</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">디지털 가상전시관</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">오픈 이노베이션</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="cate-title">비즈니스</p>
                                    <ul class="cate-item">
                                        <li><a href="javascript:;" role="option" tabindex="0">KOOROO</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">B-Lifecare</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">구매포탈시스템</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">파트너 보안 포탈</a></li>
                                        <li><a href="javascript:;" role="option" tabindex="0">지급계좌등록시스템</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                <div class="footer-bottom">
                <a class="footer-logo">
                    <img src="../../../inc/images/img/img_footer_logo.svg" alt="LG에너지솔루션" />
                </a>
                <ul class="footer-util">
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-facebook.svg" alt="facebook"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-in.svg" alt="in"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-insta.svg" alt="instagram"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-naver.svg" alt="naver"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-youtube.svg" alt="youtube"></a></li>
                    <li><a href="#"><img src="../../../inc/images/icon/icon_circle-blog.svg" alt="blog"></a></li>
                </ul>
                </div>
            </footer>
            <!-- // footer -->
        </div>

        <script type="text/javascript" src="../../../inc/js/jquery-3.7.1.slim.min.js"></script>
        <script type="text/javascript" src="../../../inc/js/swiper.min.js"></script>        
        <script type="text/javascript" src="../../../inc/js/com-ui.js"></script>
        <script type="text/javascript" src="../../../inc/js/pub-ui.js"></script>
    </body>
</html>
