@media screen and (max-width: 768px) {
    /* button */
    [class^="txt-btn"][class*="-sm"] {font-size: calc(14 / 16 * 1rem); line-height: calc(19.6 / 16 * 1rem); padding-right: calc(24 / 16 * 1rem);}
    [class^="txt-btn"][class*="-md"] {font-size: calc(16 / 16 * 1rem); line-height: calc(22.4 / 16 * 1rem); padding-right: calc(26 / 16 * 1rem);}
    [class^="txt-btn"][class*="-lg"] {font-size: calc(18 / 16 * 1rem); line-height: calc(25.2 / 16 * 1rem); padding-right: calc(28 / 16 * 1rem);}
    .txt-btn01[class^="txt-btn"][class*="-sm"]:after {width: calc(16 / 16 * 1rem); height: calc(16 / 16 * 1rem);}
    .txt-btn01[class^="txt-btn"][class*="-md"]:after {width: calc(18 / 16 * 1rem); height: calc(18 / 16 * 1rem);}
    .txt-btn01[class^="txt-btn"][class*="-lg"]:after {width: calc(20 / 16 * 1rem); height: calc(20 / 16 * 1rem);}

    [class^="act-btn"][class*="-xs"] {font-size: calc(13 / 16 * 1rem); line-height: calc(18.2 / 16 * 1rem); height: calc(28 / 16 * 1rem); min-width: revert;}
    [class^="act-btn"][class*="-sm"] {font-size: calc(14 / 16 * 1rem); line-height: calc(19.6 / 16 * 1rem); height: calc(36 / 16 * 1rem); min-width: calc(100 / 16 * 1rem); max-width: calc(320 / 16 * 1rem);}
    [class^="act-btn"][class*="-md"] {font-size: calc(16 / 16 * 1rem); line-height: calc(22.4 / 16 * 1rem); height: calc(46 / 16 * 1rem); min-width: calc(100 / 16 * 1rem); max-width: calc(320 / 16 * 1rem);}
    [class^="act-btn"][class*="-lg"] {font-size: calc(18 / 16 * 1rem); line-height: calc(25.2 / 16 * 1rem); height: calc(56 / 16 * 1rem); min-width: calc(100 / 16 * 1rem); max-width: calc(320 / 16 * 1rem);}

    /* checkbox */
    .checkbox input[type="checkbox"] + label .custom-checkbox {width: calc(20 / 16 * 1rem); height: calc(20 / 16 * 1rem); border: 2px solid var(--colorElement-light-stroke-stroke-default03); border-radius: calc(2 / 16 * 1rem); position: relative;} 
    .checkbox input[type="checkbox"]:checked + label .custom-checkbox::after {width: calc(18 / 16 * 1rem); height: calc(18 / 16 * 1rem);}
    .checkbox input[type="checkbox"] + label .txt {font-size: calc(14 / 16 * 1rem);}
    /* radio */
    .radio input[type="radio"] + label .custom-radio {width: calc(20 / 16 * 1rem); height: calc(20 / 16 * 1rem);} 
    .radio input[type="radio"]:checked + label .custom-radio::after {left:calc(3 / 16 * 1rem); top:calc(3 / 16 * 1rem);}
    .radio input[type="radio"] + label .txt {font-size: calc(14 / 16 * 1rem);}
    /* input */
    .wrap-form-input .input-box {font-size: calc(16 / 16 * 1rem);  line-height: calc(22.4 / 16 * 1rem); height: calc(56 / 16 * 1rem);}    
    .wrap-form-input .input-info .msg {font-size: calc(12 / 16 * 1rem); line-height: calc(19.2 / 16 * 1rem);}
    .wrap-form-input .input-info.status .msg {padding-left: 20px;}
    .wrap-form-input .input-info.status .msg::before {content:""; display:inline-block; width:calc(16 / 16 * 1rem); height:calc(16 / 16 * 1rem); top:-1px;}

    /* tab */    
    .tab-category {gap: 1rem; height: 3.125rem; padding:0 20px;}
    .tab-category > li button {font-size: 1.125rem; line-height: 1.6875rem; padding:0.75rem 0;}
    .tab-category > li.on button:after {height: 0.125rem;}

    /* accordion */
    .accordion-list {padding: 1.5rem 0;}
    .accordion-list .accordion-btn {font-size: 1.125rem; line-height: 1.6rem; white-space:wrap; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
    .accordion-list .accordion-btn:after {width: 1.5rem; height: 1.5rem;}
    .accordion-list .accordion-content {margin-top: 1rem;  font-size: 1rem; line-height: 1.6rem;}

    /* textarea */
    .textarea-box .textarea {height: 8.13rem;}

    /* selectbox */

    /* popup */
    .pop-wrap .pop-header .title {font-size: 1.125rem; line-height: 1.575rem;}
    .pop-wrap .pop-content .desc {font-size: 0.875rem; line-height: 1.4rem;} 
    .pop-wrap .pop-close {top: 1.88rem; right: 1.5rem; width: 1.5rem; height: 1.5rem;}
    .pop-wrap .pop-footer > .btn-wrap button {font-size: 1rem; font-weight: 500; line-height: 1.4rem; height: 2.875rem; padding: 0.375rem 1.875rem;}
    .pop-wrap .pop-footer > .btn-wrap .btn-cancel {min-width: 6.25rem;}
    .pop-wrap .pop-footer > .btn-wrap .btn-confirm {min-width: 10.25rem;}
    .pop-wrap .img-wrap {padding-bottom: 1.25rem;}
    .pop-wrap .img-wrap > img,
    .pop-wrap .img-wrap.ty-rect > img {height: 100%;}

    .modal-pop.alert .pop-wrap {width: 18rem; max-height: 19.5625rem;}
    .modal-pop.alert .pop-wrap .pop-content .title h3 {font-size: 1.125rem; line-height: 1.575rem;}
    
    .modal-pop.dialog .pop-wrap {min-width: 20rem; max-width: 20rem; padding: 1.88rem 1.5rem 1.25rem; max-height: 31rem;}
    .modal-pop.dialog .pop-wrap .pop-header {padding-bottom: 1.25rem;}
    .modal-pop.dialog .pop-wrap .pop-content .desc {font-size: 1rem; line-height: 1.6rem;}
    .modal-pop.dialog .pop-wrap .pop-content .btn-wrap {padding-top: 1rem;}
    .modal-pop.dialog .pop-footer > .btn-wrap .btn-cancel {width: 6.25rem;}
    .modal-pop.dialog .pop-footer > .btn-wrap .btn-confirm {width: 8.25rem;}

    .modal-pop.tooltip { max-width: 90%; left: 5% !important; right: auto !important;}
}