html,body {
    overflow-x: hidden;
}
.header-cont{padding: 1.25rem 2rem;}
[class^="content-item"] .content-wrap {max-width: 100%; padding-left: 2rem; padding-right: 2rem;}
.wrap:not(.main_p) .content-header {padding-left: 2rem; padding-right: 2rem;}
.wrap{max-width: 1279px;margin:0 auto;min-width: revert;}

.pc-only {display: none !important;}
.mo-only {display: block !important;}    

.wrap:not(.main_p) .content-header {max-width: 100%; padding: 2rem 1.25rem 1.5rem;}
/* .wrap:not(.main_p) :has(.content-header) .content-area [class^="content-item"]:first-child {padding-top: 0;} */

aside.end {bottom: 390px;}

.content-header_bg {display: none;}
.content-header .title-h1  {margin-bottom: 2rem;}
.content-header .subp-tit {font-size: 1.125rem; line-height: 1.75rem;}    

[class^="content-item"] {padding: 3rem 0;}
[class^="content-item"] article:not(:last-child) {margin-bottom: 4rem;}
[class^="content-item"] + [class^="content-item"]:last-child {padding-bottom: 6.25rem;}
[class^="content-item"]:only-child {padding-bottom: 6.25rem;}
[class^="content-item"] .content-wrap {max-width: 100%; padding: 0 1.25rem;}
[class^="content-item"] .content-sect {padding-top: 1rem;}
[class^="content-item"] article .content-sect {padding-top: 1rem;}
[class^="content-item"].bg-skyblue .title-desc {color: #555758; font-size: 0.875rem; font-weight: 400; line-height: 1.3125rem;}
.content-wrap > .cont-intro-title {padding: 1rem 0 1.5rem;}
.content-sect .cont-intro-title {padding: 2rem 1.25rem 1rem;}
.content-sect .title-h2 {font-size: 1.25rem; font-weight: 600; line-height: 1.875rem;}
.content-sect .cont-intro-title > .title-h2,
.content-sect .cont-area-title > .title-h2 {font-size: 1.5rem; line-height: 2.0625rem;}


.title-h1 {font-size: 1.875rem; line-height: 2.275rem;}
.title-h2 {font-size: 1.5rem; line-height: 2.0625rem;} 
.title-h3 {font-size: 1.25rem; line-height: 1.875rem;}
.title-h4 {font-size: 1rem; line-height:  1.6rem;}
.sub-title {font-size: 1.125rem; line-height: 1.75rem;}
.sub-title strong {font-weight: 600;}
.sub-title:lang(zh-CN) strong {font-weight: 500;}

.flex-box {display: block;}
.cont-head-wrap {padding: 2rem 1.25rem 1.5rem;}

.header-wrap {width:100%;height: 3.25rem;max-width: 1279px;margin:0 auto; min-width: auto;border-bottom: 1px solid var(--stroke-stroke-default-04, #E1E7EA);}
.header-wrap .header-area,
.header-wrap .header-cont {height: 100%;}
.header-wrap .header-cont {padding: 0.87rem 1.25rem 0.87rem 1.17rem;}

/* logo ci 크기 나라별 다름 */
.header-cont > .ci {width: 8.2755rem; height: auto;}
.header-wrap .header-cont .ci > a {width: 8.2755rem; height: 1.3125rem; display: block;}
.header-cont:not(:lang(ko)) > .ci {width: 10.5625rem;}
.header-wrap:not(:lang(ko)) .header-cont .ci > a {width: 10.5625rem;}
.header-cont:lang(zh-CN) > .ci {width: 6rem;}
.header-wrap:lang(zh-CN) .header-cont .ci > a {width: 6rem;}

.header-wrap:lang(zh-CN) .header-cont .ci > a {display: flex;}
.header-wrap .header-cont .ci > img {width: 100%; height: 100%; object-fit: cover;}
.header-area.mo-only .utile-cont {gap: 1rem;height: auto;}
.header-area.mo-only .utile-cont .utile-item {margin-top: -2px;}
.header-area.mo-only .utile-cont .utile-item02{display: none;}
.header-area.mo-only .nav-pop.on + .utile-wrap .utile-cont .utile-item {display: none;}
.header-area.mo-only .nav-pop.on + .utile-wrap .utile-cont .utile-item02{display: block;}
.lang-wrap .lang-button > img {width: 1.5rem; height: 1.5rem;}
.lang-wrap .lang-button.active .select-btn-right-icon {transform: translateY(-2px) rotate(-180deg);}
.lang-wrap .select-menu {padding: 1rem; width: 4.1875rem; top: 1.5rem; left: 18px;}
.lang-wrap .select-menu > li > a {font-size: 1rem; font-weight: 500; line-height: 1.5rem;}
.header-area.mo-only .search-btn {width: 1.5rem; height: 1.5rem;}
.header-area.mo-only .nav-btn {width: 1.5rem; height: 1.5rem; padding: 0}
.header-area.mo-only .nav-btn .x-icon {width: 100%; height: 100%;}
.cont-area-wrap .cont-area-sect > section.full-bg {margin-bottom: 6.25rem;}
.cont-area-wrap .cont-area-sect > section.full-bg:not(:last-child) {margin-bottom: 3rem;}
.full-bg > div {padding: 2.5rem 1.25rem;}

.header-wrap + .header_search-area{width:100%;height:auto;padding:2.13rem 1.25rem;position: absolute;top:3.25rem; border-top:0;display: none;}
.header-wrap + .header_search-area .search-result{gap:1.25rem;justify-content:flex-start;align-items:center}
.header-wrap + .header_search-area .search-result>input,
.header-wrap + .header_search-area .search-result>input::placeholder{color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-H4, 1.125rem);font-weight: 500;line-height: var(--line-height-mobile-H4, 1.75rem); /* 155.556% */letter-spacing: var(--letter-spacing-default, 0); width: 100%;}
.header-wrap + .header_search-area .search-result>input::placeholder{color: var(--text-text-disabled, #B4B8BA);}
.header-wrap + .header_search-area .search-result>img{width: 2rem;height: 2rem;}
.header-wrap + .header_search-area .search-result>button{background-color:#B4B8BA;border-radius:999px;position:absolute;right:1.25rem;top:50%;transform: translateY(-50%);padding: 0.25rem; width: 1.5rem; height: 1.5rem;}
.header-wrap + .header_search-area .search-result>button>img{padding:0.25rem}
.header-wrap + .header_search-area.open{display: block;}
.header-area .nav-pop{position:fixed;top:3.25rem;left:0;width:100%;height:0;z-index:-1;background: transparent; overflow: hidden;transition: height .1s;padding:0;}
.header-area .nav-pop.on{height:calc(100vh - 3.25rem);transition: height .5s;overflow-y: auto; background: #fff; display: block;z-index:900;padding:1rem 1.25rem 1.25rem;}
.header-area .nav-wrap{height:auto;}
.header-area .nav-pop .nav-area{display: flex;flex-direction: column;width: 100%; }
.header-area .nav-pop .depth01{border-bottom:1px solid var(--stroke-stroke-default-04, #E1E7EA);height:68px;overflow-y: hidden;transition:height .5s;}
.header-area .nav-pop .depth01 > a{display: flex;justify-content: space-between;align-items: center;width:100%;padding:1rem 0 1.5rem;color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-H5, 1.125rem);font-weight: 600;line-height: var(--line-height-mobile-H4, 1.75rem); /* 155.556% */letter-spacing: var(--letter-spacing-default, 0);}
.header-area .nav-pop .depth01 > a:after{content: "";width: 1.125rem;height: 1.125rem;background:url(../../images/icon/icon_accord_arrow_down.svg);background-size:cover;transition: transform .3s;}
.header-area .nav-pop .depth01.on > a:after{transform:rotateZ(180deg);}
.header-area .nav-pop .depth01 > ul{display: flex;flex-direction: column; padding:0 0 1.5rem 0;gap:.75rem;align-items: flex-start;}
.header-area .nav-pop .depth02{width:100%;}
.header-area .nav-pop .depth02 a{width:100%;display: block;color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-B1, 1.125rem);font-weight: 400;line-height: var(--line-height-desktop-B1, 1.8rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);text-align: left;}

.header-area .nav-pop-util{display: flex; gap:.5rem;margin-top:2rem; justify-content: center;}
.header-area .nav-pop-util .item{width: 100%; max-width: calc(33.33% - 0.25rem);}
.header-area .nav-pop-util .item a{display:flex; flex-direction: column; align-items: center;gap:1rem;padding:1rem 1.5rem;border-radius: var(--Mobile-radius-05, 1rem);background: var(--fill-fill-default-04, #F3F5F7); height: 7.125rem;}
.header-area .nav-pop-util .item a p {font-size: 1rem; font-weight: 600; line-height: 1.6rem; color: var(--text-text-default-02); flex-grow: 1;}
.header-area .nav-pop-util .item img{width:2.5rem; height: 2.5rem;}
/* footer */
.footer-wrap {max-width: 100%;}
.footer-area {display: block; padding: 2.38rem 0 2rem; margin: 0 1.25rem;}
.footer-site_map {line-height: 1.4rem;font-size: 1rem;}
.footer-site_map-desc {font-size: 0.875rem; line-height: 1.4rem; text-align: left; padding: 1.5rem 0;}
.footer-item02 {display: block;} 
.footer-bottom {display: block; padding-bottom: 0; margin: 0 1.25rem;}
.footer-util {padding: 1rem 0 2.25rem;}
.footer-logo img {width: 12.125rem; margin: 0; padding: 0;}
.footer-wrap .selectbox-wrap.type3 {height: 3.5rem;}
.footer-wrap .selectbox-wrap.type3 .select-cate::after {margin-top: 0;}
.footer-item02:not(:lang(ko)) {margin-top: 1.5rem;}





.wrap.main-page #container{padding-top:3.25rem;}
.cont-grid{width:100%;margin:0 auto;}

.main-content_header-bg{width:100%;height:40rem;overflow: hidden;margin-top:0;position:relative;}
.main-content_header-bg .visual-video{width:auto;height:auto;position: absolute;left:50%;transform: translateX(-50%);top:0;}
.main-content_header-bg .visual-video video{width:auto;height:40rem;}
.main-content_header-bg .content-header_text{position:relative;max-width:1137px;height:100%;width:auto;z-index:1;top:0;left:0;transform: translateX(0);padding:0 1.25rem;display: flex;flex-direction: column;justify-content: flex-end;gap: 2rem;padding-bottom:3rem;;}
.main-content_header-bg .content-header_text > div{position:relative; bottom:0;left:0;}
.main-content_header-bg .content-header_text .title-intro{color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-LT2, 2.75rem);font-weight: 700;line-height: var(--line-height-mobile-LT2, 3.85rem); /* 140% */letter-spacing: var(--letter-spacing-small, -0.03125rem);}
.main-content_header-bg .content-header_text .txt-intro{color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-H4, 1.125rem);font-weight: 400;line-height: var(--line-height-mobile-H4, 1.75rem); letter-spacing: var(--letter-spacing-default, 0);margin-top:2rem;}
.main-content_header-bg .content-header_text:after{content:"";display:block;position: relative;width:2rem;height:2rem;background: url(../../images/icon/icon_arrow_down_wh.svg)no-repeat;background-size: 100%;bottom:0;left:0;right:auto;}

.main-page .content-item01{padding-top:5.75rem;}
.main-page .content-item01.active{padding:3.75rem 0;}
.main-page .content-item01 .txt{color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-H1, 1.875rem);font-weight: 700;line-height: var(--line-height-mobile-H1, 2.275rem); /* 121.333% */letter-spacing: var(--letter-spacing-default, 0);display:flex;flex-direction:column;align-items: stretch;gap:8.5rem;}
.main-page .content-item01 .txt span{display: flex;align-items: flex-end; transition: all 2s 2s;}
.main-page .content-item01 .ani-diagram{display: inline-block;width: 4.375rem;height: 4.375rem;border-radius: var(--Desktop-radius-capsule, 62.4375rem);background: var(--primary-primary-enabled, #33B0C6);margin:0 1.25rem 0 0;transition: all .2s;}
.main-page .content-item01 .txt span{align-items: center;}
.main-page .content-item01 .txt span + span{display: flex;justify-content: space-between;}
.main-page .content-item01.active .ani-diagram{height: 4.375rem;width:calc(100% - 8rem);}
.main-page .content-item01 .action-wrap{position:static;top:0;right:0;transform: translateY(0);width:100%;height:auto;padding-top:1.8rem;}
.main-page .content-item01 .img-action01{margin:0;max-width:360px;height:auto;left:auto;opacity:0;position:absolute;right:55%;top:-110px;z-index: 1;transform: translate(50%, -50%);transition: all 1s;}
.main-page .content-item01.active .img-action01{opacity:1;animation: imgAni03 3s linear;animation-delay: 1s;animation-iteration-count : infinite;height:auto;width:100%;}
/* .main-page .content-item01 .img-action02{margin-top:0;max-width:360px;height:auto;opacity:0;position:absolute;right:30%;top:-200px;z-index: 1;transform: translateX(50%);} */
/* .main-page .content-item01.active .img-action02{animation: imgAni02 6.3s linear;animation-delay: 3.3s;animation-iteration-count : infinite;} */
@keyframes imgAni03 {
    0% {top:-110px;}
    50% {top:-120px;}
    100%{top:-110px;}
}
/* @keyframes imgAni02 {
    0% {opacity:0;right:42%;top:-300px;}
    15% {opacity:1;right:50%;top:-230px;}
    35% {opacity:1;right:50%;top:-230px;}
    50% {opacity:0;right:50%;top:-230px;}
    100% {opacity:0;right:50%;top:-230px;}
} */
.main-page .content-item01 .move-txt{position:static;right:auto;top:auto;transform: translateY(0%);text-align: right;color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-B1, 1rem);font-weight: 400;line-height: var(--line-height-mobile-B1, 1.6rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);opacity: 1;}
.main-page .content-item01.active .move-txt{opacity: 1;right:0px}
.main-page .content-item01 .btn-wrap{display:flex;gap:.5rem;align-items: center;justify-content: center;margin-top:4rem;flex-direction: column;transition: all 1s;}
.main-page .content-item01 .icon-btn{display: flex;height: 3.5rem;width: 100%;padding: 0.375rem var(--Button-large, 2.5rem);justify-content: center;align-items: center;gap: 0.75rem;align-self: stretch;border-radius: 6.25rem;border: 1px solid var(--stroke-stroke-default-00, #171819);color: var(--text-text-default-01, #171819);text-align: center;font-size: var(--size-mobile-Dense18, 1.125rem);font-weight: 500;line-height: var(--line-height-mobile-Dense18, 1.575rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);width:100% !important;}
.main-page .content-item01 .icon-btn:after{content:"";display: block;width:1.88rem;height:1.88rem;background: url(../../images/icon/icon_link_arrow_bl.svg) no-repeat;}
.main-page .content-item01 .icon-btn:hover{color:var(--text-text-on-primary, #FFF);}
.main-page .content-item01 .icon-btn:hover:after{background: url(../../images/icon/icon_link_arrow.svg) no-repeat;}

.main-page .content-item02{height:1080px;position: relative;margin-top:0;padding:0;transition: all 1s;overflow: hidden;}
.main-page .content-item02 .cont_bg-area{height:1080px;width:100%;display:flex;position:absolute;top:0;flex-direction: column;}
.main-page .content-item02 .cont_bg-area .cont_bg01{flex:1;background: var(--fill-fill-primary, #33B0C6);position: relative;overflow-x: hidden;}
.main-page .content-item02 .cont_bg-area .cont_bg01:after{content:"";display:block;width:100%;height:100%;position: absolute;left:0;top:0;background: linear-gradient(135deg, rgba(22, 87, 111, 0.00) 36.29%, #16576F 77.53%);opacity:0;}
.main-page .content-item02 .cont_bg-area .cont_bg02{flex:1;background: var(--diagram-diagram-02, #13BD99);position: relative;overflow-x: hidden;}
.main-page .content-item02 .cont_bg-area .cont_bg02:after{content:"";display:block;width:100%;height:100%;position: absolute;left:0;top:0;background: linear-gradient(135deg, rgba(22, 111, 100, 0.00) 36.29%, #166F64 77.53%);opacity:0;}
.main-page .content-item02.active .cont_bg-area .cont_bg01:after{opacity:1 ;transition: all .5s;}
.main-page .content-item02.active .cont_bg-area .cont_bg02:after{opacity:1 ;transition: all .5s;}
.main-page .content-item02 .content-wrap{height:100%;position: relative;z-index: 1;}
.main-page .content-item02 .cont-area{margin:0 auto;display: flex;height:1080px;flex-direction: column;}
.main-page .content-item02 .cont-area a{position: relative;flex:1;display: block;padding-top:3.75rem;padding-left:0;padding-right:0;}
.main-page .content-item02 h3{color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-H1, 1.875rem);font-weight: 400;line-height: var(--line-height-mobile-H1, 2.275rem); /* 121.333% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item02 h3 strong{color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-H1, 1.875rem);font-weight: 400;line-height: var(--line-height-mobile-H1, 2.275rem); /* 121.333% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item02 p{margin-top: 2rem;}
.main-page .content-item02 p strong{color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-H4, 1.125rem);font-weight: 600;line-height: var(--line-height-mobile-H4, 1.75rem); /* 155.556% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item02 p span{color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-Dense16, 1rem);font-weight: 400;line-height: var(--line-height-mobile-Dense16, 1.4rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);margin-top:.5rem}
.main-page .content-item02 .btn-more{display: inline-flex;height: 2.375rem;width: auto;padding: 0.375rem var(--Button-small, 1.5rem);justify-content: center;align-items: center;gap: var(--Button-margine01, 0.5rem);color: var(--text-text-on-primary, #FFF);text-align: center;font-size: var(--size-mobile-Dense14, 0.875rem);font-weight: 500;line-height: var(--line-height-mobile-Dense14, 1.225rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);margin-top:2rem;}
.main-page .content-item02 .btn-more:after{content: "";display: block;width: 1.13rem;height:1.13rem;background:url(../../images/icon/icon_link_arrow.svg) no-repeat; background-size:cover;}
.main-page .content-item02 a:hover .btn-more{color: var(--diagram-diagram-03, #33B0C6);background: var(--fill-fill-on-primary, #FFF);}
.main-page .content-item02 a:hover .btn-more:after{background:url(../../images/icon/icon_link_arrow_mint.svg);}
.main-page .content-item02 img{position: absolute;right:0;bottom:0;z-index: 1;width:auto;height:auto;max-width:90%;}

.main-page .content-item03{height:auto;width:100%;position: relative;overflow: hidden;}
.main-page .content-item03 .cont-area{position: relative;z-index: 1;display: flex;align-items: center;flex-direction: column;}
.main-page .content-item03 .cont-area > span{display:inline flex;padding: 0.5rem 1rem;justify-content: center;align-items: center;gap: 0.625rem;border-radius: var(--Desktop-radius-02, 0.25rem);border: 1px solid var(--stroke-stroke-on-primary, #FFF);font-size: var(--size-mobile-B1, 1rem);font-weight: 600;line-height: var(--line-height-mobile-B1, 1.6rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item03 h3{margin-top:2.5rem;color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-H3, 1.25rem);font-weight: 600;line-height: var(--line-height-mobile-H3, 1.875rem); /* 150% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item03 video{position:absolute;left:50%;top:-2rem;transform: translateX(-50%);width:180%;}
.main-page .content-item03 .cont-item{display: flex;gap:1rem;flex-direction: column;justify-content: space-between;width:100%;margin-top:8.25rem;align-items: center;}
.main-page .content-item03 .cont-item a{flex:1;width:100%;max-width:500px;display: flex;padding: 1.5rem 2rem;justify-content: space-between;align-items: center;color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-H4, 1.125rem);font-weight: 600;line-height: var(--line-height-mobile-H4, 1.75rem); /* 155.556% */letter-spacing: var(--letter-spacing-default, 0);border: 1px solid var(--stroke-stroke-default-01, #555758);background: rgba(0, 0, 0, 0.70);}
.main-page .content-item03 .cont-item a strong{color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-LT3, 2.5rem);font-weight: 700;line-height: var(--line-height-mobile-LT3, 3.5rem); /* 140% */letter-spacing: var(--letter-spacing-small, -0.03125rem);display: block;}
.main-page .content-item03 .cont-item a:after{content: "";display: block;width: 3rem;height:3rem;background:url(../../images/icon/icon_link_arrow.svg) no-repeat; background-size:cover;}
.main-page .content-item03 .cont-item a:hover{color: var(--text-text-default-01, #171819);background: rgba(255, 255, 255, 0.90);}
.main-page .content-item03 .cont-item a:hover strong{color: var(--text-text-default-01, #171819);}
.main-page .content-item03 .cont-item a:hover:after{background:url(../../images/icon/icon_link_arrow_bl.svg) no-repeat;background-size:cover;}

.main-page .content-item04{height:40rem;position: relative;transition: all 1s;overflow:hidden;}
.main-page .content-item04 .text-area{position: relative; z-index: 1;display: flex;flex-direction: column;align-items: flex-start;width:100%;}
.main-page .content-item04 p{color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-H2, 1.5rem);font-weight: 400;line-height: var(--line-height-mobile-H2, 2.0625rem); /* 137.5% */letter-spacing: var(--letter-spacing-default, 0);text-align: left;}
.main-page .content-item04 p strong{font-weight: 700;}
.main-page .content-item04 a.btn-link{opacity: 0;margin:2.5rem 0;display: inline-flex;height: 3rem;min-width: 7.5rem;padding: 0.375rem var(--Button-small, 1.5rem);justify-content: center;align-items: center;gap: var(--Button-margine02, 0.75rem);border-radius: 6.25rem;border: 1px solid var(--stroke-stroke-on-primary, #FFF);color: var(--text-text-on-primary, #FFF);text-align: center;font-size: var(--size-desktop-Dense18, 1.125rem);font-weight: 500;line-height: var(--line-height-desktop-Dense18, 1.575rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item04 a.btn-link::after{content: "";display: block;width: 1.25rem;height:1.25rem;background:url(../../images/icon/icon_link_arrow.svg) no-repeat; background-size:cover;}
.main-page .content-item04.active p{color: #fff;transition: all 1.5s .5s;width:100%}
.main-page .content-item04.active a.btn-link{opacity: 1; transition: all 1.5s 1s;}
.main-page .content-item04 .move-img-area{width: auto;height:3rem;position:absolute;bottom:0;left:50%; transform: translateX(-50%);}
.main-page .content-item04 .move-img-area video{width:auto;height:100%;display:block;position: relative;left:50%;transform: translateX(-50%);}
.main-page .content-item04.active .move-img-area{transition: all 1.5s 1s;width:100% !important;height:100%;bottom:0;overflow: unset;}
.main-page .content-item04.active .move-img-area video{width:auto;height:100%;min-height: 100%;min-width: 100%;}

.main-page .content-item05{height:40rem;position: relative;margin-top:2rem;opacity: 0;transition: all 1s;overflow: hidden;padding: 0;}
.main-page .content-item05.active{margin-top:0rem;opacity: 1;}
.main-page .content-item05 .content-wrap{width:100%; margin:0 auto;height:100%;position: relative;}
.main-page .content-item05 .text-area{position: absolute;bottom:2rem; z-index: 1;display: flex;flex-direction: column;margin-top:0;}
.main-page .content-item05 h3{color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-H2, 1.5rem);font-weight: 400;line-height: var(--line-height-mobile-H2, 2.0625rem); /* 137.5% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item05 h3 strong{font-weight: 700;}
.main-page .content-item05 p{color: var(--text-text-on-primary, #FFF);font-size: var(--size-mobile-H2, 1.5rem);font-weight: 400;line-height: var(--line-height-mobile-H2, 2.0625rem); /* 137.5% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item05 .btn-link{display:flex;gap:0.62rem;align-items: center;margin-top:3.5rem;flex-wrap: wrap;}
.main-page .content-item05 .btn-link span{width:calc(50% - 0.62rem);color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H4, 1.25rem);font-weight: 500;line-height: var(--line-height-desktop-H4, 2rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);display: flex;padding: 0.5rem 1.5rem;justify-content: center;align-items: center;gap: 0.625rem;border-radius: 62.4375rem;border: 1px solid var(--stroke-stroke-on-primary, #FFF);}
.main-page .content-item05 .btn-link::after{content: "";display: block;width: 3rem;height:3rem;;background:url(../../images/icon/icon_link_arrow.svg) no-repeat; background-size:cover;margin-left:0;margin-top:1.4rem;}
.main-page .content-item05 .img-area{position:absolute;top:0;left:50%; transform: translateX(-50%);width: 100%;height:auto;bottom:0;}


.main-page .content-item06{transition: all 1s;margin-top:2rem;opacity: 0;padding-top:3.75rem}
.main-page .content-item06.active{margin-top:0rem;opacity: 1;}
.main-page .content-item06 .tit-area h4{color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-H2, 1.5rem);font-weight: 700;line-height: var(--line-height-mobile-H2, 2.0625rem); /* 137.5% */letter-spacing: var(--letter-spacing-default, 0);display:flex; justify-content:space-between;}
.main-page .content-item06 .tit-area h4 a{display: inline-flex;height: 2.375rem;padding: 0.375rem var(--Button-small, 1.5rem);justify-content: center;align-items: center;gap: var(--Button-margine01, 0.5rem);color: var(--text-text-default-01, #171819);text-align: center;font-size: var(--size-mobile-Dense14, 0.875rem);font-weight: 500;line-height: var(--line-height-mobile-Dense14, 1.225rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item06 .tit-area h4 a:after{content: "";display:block;width: 1.13rem;height:1.13rem;background:url(../../images/icon/icon_link_arrow_bl.svg) no-repeat; background-size:cover;}
.main-page .content-item06 .tit-area h4 a:hover{color:var(--text-text-on-primary, #FFF);background:#000}
.main-page .content-item06 .tit-area h4 a:hover:after{background:url(../../images/icon/icon_link_arrow.svg) no-repeat;  background-size:cover;}
.main-page .content-item06 .area-box{margin-top:2rem;gap:0;}
.main-page .content-item06 .area-box a{display: flex;height: 22rem;padding: 1.5rem;flex-direction: column;justify-content: space-between;align-items: flex-start;border-radius: var(--Desktop-radius-03, 0.5rem);border: 1px solid var(--stroke-stroke-default-03, #C9CED1);background: var(--fill-fill-on-primary, #FFF);}
.main-page .content-item06 .area-box a:hover{border-radius: var(--Desktop-radius-03, 0.5rem);border: 1px solid var(--stroke-stroke-default-00, #171819);background: var(--fill-fill-on-primary, #FFF);box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.12);}
.main-page .content-item06 .area-box a .text-area{display: flex; flex-direction: column;gap:1rem;}
.main-page .content-item06 .area-box a .txt{color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-B1, 1rem);font-weight: 600;line-height: var(--line-height-mobile-B1, 1.6rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);order:1;}
.main-page .content-item06 .area-box a .date{display: block;color: var(--text-text-primary, #33B0C6);font-size: var(--size-mobile-B2, 0.875rem);;font-weight: 600;line-height: var(--line-height-mobile-H4, 1.75rem); /* 155.556% */letter-spacing: var(--letter-spacing-default, 0);margin-top:0rem;order: 2;}
.main-page .content-item06 .area-box a .img-area{margin:0 auto;height:9.125rem;}
.main-page .content-item06 .swiper-pagination {position: unset;display: flex;align-items: center;justify-content: center;margin-top: 1rem;transform: translate(0, 0);min-height: unset;}
.main-page .content-item06 .swiper-pagination-bullet {width: .625rem;height: .625rem;border: 1px solid #171819;background-color: transparent;opacity: 1;}
.main-page .content-item06 .swiper-pagination-bullet-active {background-color: #171819;}
.main-page .content-item06 .swiper-button-prev, .main-page .content-item06 .swiper-button-next {background-color: #fff;border: 0;}

/* 메인 쿠키 설정 팝업 관련 css */
.main-cookie {position: fixed; padding: 2.5rem 1.25rem 2rem; }
.main-cookie .content-wrap {width: 100%; align-items: flex-end; flex-direction: column; gap: 2rem; position: relative; padding-top: 1.5rem; }
.main-cookie .content-wrap .desc {font-size: .875rem; line-height: 1.3125rem;}
.main-cookie .btn-wrap {display: block; width: 100%; margin-top: auto;}
.main-cookie .btn-group {display: flex; gap: 0.5rem; flex-direction: column;}
.main-cookie .btn-group > button {padding: 0.56rem 0.81rem; font-size: .875rem; line-height: 1.225rem; font-weight: 500; width: 100% !important; max-width: revert; min-width: revert;}
.main-cookie .btn-close {position: absolute; top:-1rem; right: 0;}
.main-cookie .btn-close > button {width: 1.5rem; height: 1.5rem;}
.main-cookie .btn-close > button img {padding: 0.27rem;}
.setting-cookie .pop-wrap {max-width: 37.5rem;}
.setting-cookie .pop-wrap .pop-header {padding-bottom: 2.5rem;}
.setting-cookie .pop-content .section-wrap section {position: relative;}
.setting-cookie .pop-content .section-wrap section:not(:first-child)::before {display:block; content:""; width: 100%; height: 0.0625rem; background: #C9CED1; margin: 2.5rem 0;}
.setting-cookie .pop-content .section-wrap section .title-wrap {display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;}
.setting-cookie .pop-content .section-wrap section .title {font-size: 1.125rem; font-weight: 600; line-height: 1.8rem;}
.setting-cookie .pop-content .section-wrap section .desc {font-size: 1.125rem; color: #555758; line-height: 1.8rem; font-weight: 400;}

html[lang=en] .nav-wrap li.depth02 a{color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-B1, 1rem);font-weight: 400;line-height: var(--line-height-mobile-B1, 1.6rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);text-align: left;}
html[lang=en] .main-page .content-item01 .txt,
html[lang=pl] .main-page .content-item01 .txt,
html[lang=de] .main-page .content-item01 .txt {font-size: var(--size-mobile-H2, 1.5rem);line-height: var(--line-height-mobile-H2, 2.0625rem); /* 137.5% */
letter-spacing: var(--letter-spacing-default, 0);}
html[lang=en] .main-page .content-item01 .txt span{flex-direction: column;}
html[lang=en] .main-page .content-item01 .txt span strong{font-size: var(--size-mobile-H1, 1.875rem);font-weight: 700;line-height: var(--line-height-mobile-H1, 2.275rem);}
html[lang=en] .main-page .content-item01 .txt span + span{flex-direction: unset;}
html[lang=en] .main-page .content-item01 .txt span + span strong{justify-content: flex-end;text-align: right;}
/* html[lang=en] .main-page .content-item01.active .img-action01{animation: imgAni01_en 6.3s linear;animation-iteration-count : infinite;} */
html[lang=en] .main-page .content-item01 .img-action01{top:-160px;}
html[lang=en] .main-page .content-item01.active .img-action01{opacity:1;animation: imgAni02 3s linear;animation-delay: 1s;animation-iteration-count : infinite;height:auto;width:100%;}


html[lang=zh-cn] .main-page .content-item01 .txt span{flex-direction: column; align-items: flex-start;}
html[lang=zh-cn] .main-page .content-item01 .txt span strong{font-size: var(--size-mobile-H1, 1.875rem);font-weight: 700;line-height: var(--line-height-mobile-H1, 2.275rem); text-align: left;}
html[lang=zh-cn] .main-page .content-item01 .txt span + span{flex-direction: unset;align-items: center;}
html[lang=zh-cn] .main-page .content-item01 .txt span + span strong{justify-content: flex-end;text-align: right;}
html[lang=zh-cn] .main-page .content-item01.active .ani-diagram{width:calc(100% - 9rem)}
/* html[lang=zh-cn] .main-page .content-item01.active .img-action01{animation: imgAni01_en 6.3s linear;animation-iteration-count : infinite;} */
html[lang=zh-cn] .main-page .content-item01 .img-action01{top:-130px;}
html[lang=zh-cn] .main-page .content-item01.active .img-action01{opacity:1;animation: imgAni04 3s linear;animation-delay: 1s;animation-iteration-count : infinite;height:auto;width:100%;}

html[lang=pl] .main-page .content-item01 .img-action01{top:-110px;}
html[lang=de] .main-page .content-item01 .img-action01{top:-110px;}
html[lang=pl] .main-page .content-item01.active .img-action01{opacity:1;animation: imgAni03 3s linear;animation-delay: 1s;animation-iteration-count : infinite;height:auto;width:100%;}
html[lang=de] .main-page .content-item01.active .img-action01{opacity:1;animation: imgAni03 3s linear;animation-delay: 1s;animation-iteration-count : infinite;height:auto;width:100%;}
html[lang=pl] .main-page .content-item01 .img-action01 {margin-top: 0;}
html[lang=pl] .main-page .content-item01.active .txt span,
html[lang=de] .main-page .content-item01.active .txt span {font-size: 1.5rem; line-height: 2.0625rem; font-weight: 700;}
html[lang=pl] .main-page .content-item01.active .txt span:nth-child(1),
html[lang=de] .main-page .content-item01.active .txt span:nth-child(1) {flex-direction: column; justify-content: flex-start;}
html[lang=pl] .main-page .content-item01.active .txt span:nth-child(2),
html[lang=de] .main-page .content-item01.active .txt span:nth-child(2) {text-align: right;}
html[lang=pl] .main-page .content-item01.active .txt span > strong,
html[lang=de] .main-page .content-item01.active .txt span > strong {font-size: 1.875rem; line-height: 2.275rem; font-weight: 700; white-space: nowrap;}
html[lang=pl] .main-page .content-item01.active .txt span.ani02,
html[lang=pl] .main-page .content-item01.active .txt span.ani03,
html[lang=de] .main-page .content-item01.active .txt span.ani02,
html[lang=de] .main-page .content-item01.active .txt span.ani03 {white-space: revert;}

@keyframes imgAni02 {
    0% {top:-160px;}
    50% {top:-170px;}
    100%{top:-160px;}
}

@keyframes imgAni04 {
    0% {top:-130px;}
    50% {top:-140px;}
    100%{top:-130px;}
}