html,body {
    overflow-x: hidden;
}
.header-cont{padding: 1.25rem 2rem;}
[class^="content-item"] .content-wrap {max-width: 100%; padding-left: 2rem; padding-right: 2rem;}
.wrap:not(.main_p) .content-header {padding-left: 2rem; padding-right: 2rem;}
.wrap{max-width: 1279px;margin:0 auto;min-width: revert;}

.pc-only {display: none !important;}
.mo-only {display: block !important;}    

.wrap:not(.main_p) .content-header {max-width: 100%; padding: 2rem 1.25rem 1.5rem;}
/* .wrap:not(.main_p) :has(.content-header) .content-area [class^="content-item"]:first-child {padding-top: 0;} */

.content-header_bg {display: none;}
.content-header .title-h1  {margin-bottom: 2rem;}
.content-header .subp-tit {font-size: 1.125rem; line-height: 1.75rem;}    

[class^="content-item"] {padding: 3rem 0;}
[class^="content-item"] article:not(:last-child) {margin-bottom: 4rem;}
[class^="content-item"] + [class^="content-item"]:last-child {padding-bottom: 6.25rem;}
[class^="content-item"]:only-child {padding-bottom: 6.25rem;}

[class^="content-item"][class*="01"] {}
[class^="content-item"] .content-wrap {max-width: 100%; padding: 0 1.25rem;}
[class^="content-item"] .content-sect {padding-top: 1rem;}
[class^="content-item"] article .content-sect {padding-top: 1rem;}

.title-h1 {font-size: 1.875rem; line-height: 2.275rem;}
.title-h2 {font-size: 1.5rem; line-height: 2.0625rem;} 
.title-h3 {font-size: 1.25rem; line-height: 1.875rem;}
.title-h4 {font-size: 1rem; line-height:  1.6rem;}
.sub-title {font-size: 1.125rem; line-height: 1.75rem;}
.sub-title strong {font-weight: 600;}
.flex-box {display: block;}
.cont-head-wrap {padding: 2rem 1.25rem 1.5rem;}

.header-wrap {width:100%;height: 3.25rem;max-width: 1279px;margin:0 auto; min-width: auto;border-bottom: 1px solid var(--stroke-stroke-default-04, #E1E7EA);}
.header-wrap .header-area,
.header-wrap .header-cont {height: 100%;}
.header-cont > .ci {width: 8.2755rem; height: auto;}
.header-wrap .header-cont {padding: 0.87rem 1.25rem 0.87rem 1.17rem;}
.header-wrap .header-cont .ci > a {width: 132px; height: 21px; display: block;}
.header-wrap .header-cont .ci > img {width: 100%; height: 100%; object-fit: cover;}
.header-area.mo-only .utile-cont {gap: 1rem;height: auto;}
.header-area.mo-only .utile-cont .utile-item {margin-top: -2px;}   
.lang-wrap .lang-button > img {width: 1.5rem; height: 1.5rem;}
.lang-wrap .lang-button.active .select-btn-right-icon {transform: translateY(-2px) rotate(-180deg);}
.lang-wrap .select-menu {padding: 1rem; width: 4.1875rem; top: 1.5rem; left: 18px;}
.lang-wrap .select-menu > li > a {font-size: 1rem; font-weight: 500; line-height: 1.5rem;}
.header-area.mo-only .search-btn {width: 1.5rem; height: 1.5rem;}
.header-area.mo-only .nav-btn {width: 1.5rem; height: 1.5rem; padding: 0}
.header-area.mo-only .nav-btn .x-icon {width: 100%; height: 100%;}
.cont-area-wrap .cont-area-sect > section.full-bg {margin-bottom: 6.25rem;}
.cont-area-wrap .cont-area-sect > section.full-bg:not(:last-child) {margin-bottom: 3rem;}
.full-bg > div {padding: 2.5rem 1.25rem;}

.header-wrap + .header_search-area{width:100%;height:auto;padding:2.13rem 1.25rem;position: absolute;top:3.25rem; border-top:0;display: none;}
.header-wrap + .header_search-area .search-result{gap:1.25rem;justify-content:flex-start;align-items:center}
.header-wrap + .header_search-area .search-result>input,
.header-wrap + .header_search-area .search-result>input::placeholder{color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-H4, 1.125rem);font-weight: 500;line-height: var(--line-height-mobile-H4, 1.75rem); /* 155.556% */letter-spacing: var(--letter-spacing-default, 0);}
.header-wrap + .header_search-area .search-result>input::placeholder{color: var(--text-text-disabled, #B4B8BA);}
.header-wrap + .header_search-area .search-result>img{width: 2rem;height: 2rem;}
.header-wrap + .header_search-area .search-result>button{background-color:#B4B8BA;border-radius:999px;position:absolute;right:1.25rem;top:50%;transform: translateY(-50%);padding: 0.25rem;}
.header-wrap + .header_search-area .search-result>button>img{width: 1rem;height:1rem;}
.header-wrap + .header_search-area .search-result>button>img{padding:0}
.header-wrap + .header_search-area.open{display: block; z-index:900;}


.header-area .nav-pop{position:fixed;top:3.25rem;left:0;width:100%;height:0;z-index:900;background: transparent; overflow: hidden;transition: height .1s;padding:1rem 1.25rem 1.25rem;}
.header-area .nav-pop.on{height:calc(100vh - 3.25rem);transition: height .5s;overflow-y: auto; background: #fff;}
.header-area .nav-wrap{height:auto;}
.header-area .nav-pop .nav-area{display: flex;flex-direction: column;width: 100%; }
.header-area .nav-pop .depth01{border-bottom:1px solid var(--stroke-stroke-default-04, #E1E7EA);height:68px;overflow-y: hidden;transition:height .5s;}
.header-area .nav-pop .depth01 > a{display: flex;justify-content: space-between;align-items: center;width:100%;padding:1rem 0 1.5rem;color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-H5, 1.125rem);font-weight: 600;line-height: var(--line-height-mobile-H4, 1.75rem); /* 155.556% */letter-spacing: var(--letter-spacing-default, 0);}
.header-area .nav-pop .depth01 > a:after{content: "";width: 1.125rem;height: 1.125rem;background:url(../../images/icon/icon_accord_arrow_down.svg);background-size:cover;transition: transform .3s;}
.header-area .nav-pop .depth01.on > a:after{transform:rotateZ(180deg);}
.header-area .nav-pop .depth01 > ul{display: flex;flex-direction: column; padding:0 0 1.5rem 0;gap:.75rem;align-items: flex-start;}
.header-area .nav-pop .depth02{width:100%;}
.header-area .nav-pop .depth02 a{width:100%;display: block;color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-B1, 1.125rem);font-weight: 400;line-height: var(--line-height-desktop-B1, 1.8rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);text-align: left;}

.header-area .nav-pop-util{display: flex;flex-direction: column;gap:.5rem;margin-top:1.5rem;}
.header-area .nav-pop-util .item{width:100%;}
.header-area .nav-pop-util .item a{display:flex; align-items: center;gap:2rem;padding:1.13rem 1.5rem;border-radius: var(--Mobile-radius-05, 1rem);background: var(--fill-fill-default-04, #F3F5F7);}
.header-area .nav-pop-util img{width:2.5rem;}
/* footer */
.footer-wrap {max-width: 100%;}
.footer-area {display: block; padding: 2.38rem 0 2rem; margin: 0 1.25rem;}
.footer-site_map {line-height: 1.4rem;}
.footer-site_map-desc {font-size: 0.875rem; line-height: 1.4rem; text-align: left; padding: 1.5rem 0;}
.footer-item02 {display: block;} 
.footer-bottom {display: block; padding-bottom: 0; margin: 0 1.25rem;}
.footer-util {padding: 1rem 0 2.25rem;}
.footer-logo img {width: 12.125rem; margin: 0; padding: 0;}
.footer-wrap .selectbox-wrap.type3 {height: 3.5rem;}
.footer-wrap .selectbox-wrap.type3 .select-cate::after {margin-top: 0;}






.cont-grid{width:90rem;margin:0 auto;}


.main-content_header-bg{width:100%;height: calc(67.5rem - 100px);overflow: hidden;margin-top:100px;position:relative;}
.main-content_header-bg .visual-video{width:100%;}
.main-content_header-bg .visual-video video{width:100%;}
.main-content_header-bg .content-header_text{position:absolute;height:100%;z-index:1;top:0;left:50%;transform: translateX(-50%)}
.main-content_header-bg .content-header_text > div{position:absolute; bottom:8.5rem;left:0;}
.main-content_header-bg .content-header_text .title-intro{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-LT1, 4.5rem);font-style: normal;font-weight: 700;line-height: var(--line-height-desktop-LT1, 6.3rem); /* 140% */letter-spacing: var(--letter-spacing-small, -0.03125rem);}
.main-content_header-bg .content-header_text .txt-intro{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H4, 1.25rem);font-style: normal;font-weight: 400;line-height: var(--line-height-desktop-H4, 2rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);}
.main-content_header-bg .content-header_text:after{content:"";display:block;position: absolute;width:4.5rem;height:4.5rem;background: url(../../images/icon/icon_arrow_down_wh.svg)no-repeat;background-size: 100%;position:absolute;bottom:8.5rem;right:0;}

.main-page .content-item01{position: relative;opacity: 0;padding-top:15rem;opacity:0;transition: all 1s;}
.main-page .content-item01.active{padding-top:13rem;opacity:1;}
.main-page .content-item01 .content-wrap{position: relative;}
.main-page .content-item01 .txt{color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-LT1, 4.5rem);font-style: normal;font-weight: 700;line-height: 7.3rem; /* 140% */letter-spacing: var(--letter-spacing-small, -0.03125rem);}
.main-page .content-item01 .txt span{display: flex;align-items: flex-end; transition: all 2s 2s;}
.main-page .content-item01 .ani-diagram{display: inline-block;width: 19.75rem;height: 0.5rem;border-radius: var(--Desktop-radius-capsule, 62.4375rem);background: var(--primary-primary-enabled, #33B0C6);margin:0 2rem 0 1.2rem;transition: all .2s;}
.main-page .content-item01.active .txt span{align-items: center;}
.main-page .content-item01.active .ani-diagram{height: 7.5rem;}
.main-page .content-item01 .action-wrap{position:absolute;top:15%;right:0;transform: translateY(-50%);width:44.94731rem;height:370px;}
.main-page .content-item01 .img-action01{opacity:0;position:absolute;right:0;top:-100px;z-index: 1;}
.main-page .content-item01.active .img-action01{animation: imgAni01 6.3s linear;animation-iteration-count : infinite;}
.main-page .content-item01 .img-action02{max-width:38.9375rem;opacity:0;position:absolute;right:70px;top:-60px;z-index: 1;}
.main-page .content-item01.active .img-action02{animation: imgAni02 6.3s linear;animation-delay: 3.3s;animation-iteration-count : infinite;}
@keyframes imgAni01 {
    0% {opacity:0;right:0;top:-100px;}
    15% {opacity:1;right:337px;top:-74px;}
    35% {opacity:1;right:337px;top:-74px;}
    50% {opacity:0;right:380px;top:-100px;}
    100%{opacity:0;right:380px;top:-100px;}
}
@keyframes imgAni02 {
    0% {opacity:0;right:70px;top:-60px;}
    15% {opacity:1;right:357px;top:8px;}
    35% {opacity:1;right:357px;top:8px;}
    50% {opacity:0;right:400px;top:30px;}
    100% {opacity:0;right:400px;top:30px;}
}
.main-page .content-item01 .move-txt{position:absolute;right:50px;top:50%;transform: translateY(-50%);text-align: right;color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-H4, 1.25rem);font-style: normal;font-weight: 400;line-height: var(--line-height-desktop-H4, 2rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);opacity: 1;}
.main-page .content-item01.active .move-txt{opacity: 1;right:0px}
.main-page .content-item01 .btn-wrap{display:flex;gap:1.25rem;align-items: center;justify-content: center;margin-top:8.75rem;}
.main-page .content-item01 .icon-btn{display: flex;gap:1rem;align-items: center;padding: 0.375rem var(--Button-large, 2.5rem);justify-content: center;align-items: center;gap: var(--Button-margine03, 1rem);color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-Dense24, 1.5rem);font-style: normal;font-weight: 600;line-height: var(--line-height-desktop-Dense22, 2rem); /* 133.333% */letter-spacing: var(--letter-spacing-default, 0);width:auto;border-radius: 6.25rem;border: 1px solid var(--stroke-stroke-default-00, #171819);}
.main-page .content-item01 .icon-btn:after{content:"";display: block;width:1.88rem;height:1.88rem;background: url(../../images/icon/icon_link_arrow_bl.svg) no-repeat;}
.main-page .content-item01 .icon-btn:hover{color:var(--text-text-on-primary, #FFF);}
.main-page .content-item01 .icon-btn:hover:after{background: url(../../images/icon/icon_link_arrow.svg) no-repeat;}

.main-page .content-item02{height:50rem;position: relative;padding:0;opacity:1;margin-top:2rem;transition: all 1s;}
.main-page .content-item02.active{margin-top:0rem;opacity:1;}
.main-page .content-item02 .cont_bg-area{height:100%;width:100%;display:flex;position:absolute;top:0;}
.main-page .content-item02 .cont_bg-area .cont_bg01{flex:1;background: var(--fill-fill-primary, #33B0C6);position: relative;}
.main-page .content-item02 .cont_bg-area .cont_bg01:after{content:"";display:block;width:100%;height:100%;position: absolute;left:0;top:0;background: linear-gradient(135deg, rgba(22, 87, 111, 0.00) 36.29%, #16576F 77.53%);}
.main-page .content-item02 .cont_bg-area .cont_bg02{flex:1;background: var(--diagram-diagram-02, #13BD99);position: relative;}
.main-page .content-item02 .cont_bg-area .cont_bg02:after{content:"";display:block;width:100%;height:100%;position: absolute;left:0;top:0;background: linear-gradient(135deg, rgba(22, 111, 100, 0.00) 36.29%, #166F64 77.53%);}
.main-page .content-item02 .content-wrap{height:100%;position: relative;z-index: 1;}
.main-page .content-item02 .cont-area{margin:0 auto;display: flex;height:100%;}
.main-page .content-item02 .cont-area a{position: relative;flex:1;display: block;padding-top:7.5rem;height:100%;}
.main-page .content-item02 .cont-area a + a{padding-left:7.5rem;}
.main-page .content-item02 h3{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H1, 2.75rem);font-weight: 400;line-height: var(--line-height-desktop-H1, 3.85rem);letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item02 h3 strong{font-size: var(--size-desktop-H1, 2.75rem);font-weight: 700;line-height: var(--line-height-desktop-H1, 3.85rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item02 p{margin-top: 2.5rem;}
.main-page .content-item02 p strong{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H4, 1.25rem);font-weight: 600;line-height: var(--line-height-desktop-H4, 2rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);display: block;}
.main-page .content-item02 p span{margin-top:0.62rem;color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-B1, 1.125rem);font-weight: 400;line-height: var(--line-height-desktop-B1, 1.8rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);display: block;}
.main-page .content-item02 .btn-more{display: inline-flex;height: 3rem;padding: 0.375rem var(--Button-small, 1.5rem);justify-content: center;align-items: center;gap: var(--Button-margine02, 0.75rem);color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-Dense18, 1.125rem);font-weight: 500;line-height: var(--line-height-desktop-Dense18, 1.575rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);border-radius: 6.25rem;border: 1px solid var(--stroke-stroke-on-primary, #FFF);margin-top:2.5rem;}
.main-page .content-item02 .btn-more:after{content: "";display: block;width: 1.25rem;height:1.25rem;background:url(../../images/icon/icon_link_arrow.svg) no-repeat; background-size:cover;}
.main-page .content-item02 a:hover .btn-more{color: var(--diagram-diagram-03, #33B0C6);background: var(--fill-fill-on-primary, #FFF);}
.main-page .content-item02 a:hover .btn-more:after{background:url(../../images/icon/icon_link_arrow_mint.svg);}
.main-page .content-item02 img{position: absolute;right:0;bottom:0;z-index: 1;width:auto;height:auto;max-width:100%;}

.main-page .content-item03{background:000;height:56.25rem;background:#000;width:100%;position: relative;overflow: hidden;opacity: 1;transition: all 1s;}
.main-page .content-item03.active{opacity: 1;}
.main-page .content-item03 .content-wrap{color: var(--text-text-on-primary, #FFF);}
.main-page .content-item03 .cont-area{position: relative;z-index: 1;display: flex;align-items: center;flex-direction: column;}
.main-page .content-item03 .cont-area > span{display:inline flex;padding: 0.5rem 1rem;justify-content: center;align-items: center;gap: 0.625rem;border-radius: var(--Desktop-radius-02, 0.25rem);border: 1px solid var(--stroke-stroke-on-primary, #FFF);font-size: var(--size-desktop-B1, 1.125rem);font-weight: 600;line-height: var(--line-height-desktop-B1, 1.8rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item03 h3{margin-top:2.5rem;color: var(--text-text-on-primary, #FFF);text-align: center;font-size: var(--size-desktop-H1, 2.75rem);font-weight: 700;line-height: var(--line-height-desktop-H1, 3.85rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item03 video{position:absolute;left:50%;top:7rem;transform: translateX(-50%);height:100%;}
.main-page .content-item03 .cont-item{display: flex;gap:1.25rem;justify-content: space-between;width:100%;margin-top:8.25rem;}
.main-page .content-item03 .cont-item a{flex:0 50%;display: flex;padding: 3.75rem 6.25rem;justify-content: space-between;align-items: center;font-size: var(--size-desktop-H4, 1.25rem);font-weight: 600;line-height: var(--line-height-desktop-H4, 2rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);color: var(--text-text-on-primary, #FFF);border: 1px solid var(--stroke-stroke-default-01, #555758);background: rgba(0, 0, 0, 0.70);}
.main-page .content-item03 .cont-item a strong{font-size: var(--size-desktop-LT1, 4.5rem);font-weight: 800;line-height: var(--line-height-desktop-LT1, 6.3rem); /* 140% */letter-spacing: var(--letter-spacing-small, -0.03125rem);display: block;}
.main-page .content-item03 .cont-item a:after{content: "";display: block;width: 5rem;height:5rem;background:url(../../images/icon/icon_link_arrow.svg) no-repeat; background-size:cover;}
.main-page .content-item03 .cont-item a:hover{color: var(--text-text-default-01, #171819);background: rgba(255, 255, 255, 0.90);}
.main-page .content-item03 .cont-item a:hover:after{background:url(../../images/icon/icon_link_arrow_bl.svg) no-repeat;background-size:cover;}

.main-page .content-item04{height:50rem;position: relative;margin-top:9.5rem;opacity: 1;transition: all 1s;}
.main-page .content-item04.active{margin-top:7.5rem;opacity: 1;}
.main-page .content-item04 .text-area{position: relative; z-index: 1;display: flex;flex-direction: column;align-items: center;}
.main-page .content-item04 p{color: var(--text-text-default-01, #171819);text-align: center;font-size: var(--size-desktop-H2, 2rem);font-weight: 400;line-height: var(--line-height-desktop-H2, 3rem); /* 150% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item04 p strong{font-weight: 700;}
.main-page .content-item04 a.btn-link{opacity: 0;margin:3.75rem auto;display: inline-flex;height: 3rem;min-width: 7.5rem;padding: 0.375rem var(--Button-small, 1.5rem);justify-content: center;align-items: center;gap: var(--Button-margine02, 0.75rem);border-radius: 6.25rem;border: 1px solid var(--stroke-stroke-on-primary, #FFF);color: var(--text-text-on-primary, #FFF);text-align: center;font-size: var(--size-desktop-Dense18, 1.125rem);font-weight: 500;line-height: var(--line-height-desktop-Dense18, 1.575rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item04 a.btn-link::after{content: "";display: block;width: 1.25rem;height:1.25rem;background:url(../../images/icon/icon_link_arrow.svg) no-repeat; background-size:cover;}
.main-page .content-item04.active p{color: #fff;transition: all 1.5s .5s;}
.main-page .content-item04.active a.btn-link{opacity: 1; transition: all 1.5s .5s;}
.main-page .content-item04 .move-img-area{width: 53.75rem;height: 23.8125rem;position:absolute;bottom:6rem;left:50%; transform: translateX(-50%);}
.main-page .content-item04.active .move-img-area{transition: all 1.5s;width: 112.5rem;height:auto;bottom:0;}

.main-page .content-item05{height:50rem;position: relative;margin-top:9.5rem;opacity: 1;transition: all 1s;}
.main-page .content-item05.active{margin-top:7.5rem;opacity: 1;}
.main-page .content-item05 .content-wrap{width:49.3rem; margin:0 auto;}
.main-page .content-item05 .text-area{position: relative; z-index: 1;display: flex;flex-direction: column;margin-top:6rem;}
.main-page .content-item05 h3{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H1, 2.75rem);font-weight: 400;line-height: var(--line-height-desktop-H1, 3.85rem);letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item05 h3 strong{font-weight: 700;}
.main-page .content-item05 p{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H2, 2rem);font-weight: 400;line-height: var(--line-height-desktop-H2, 3rem);letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item05 .btn-link{display:flex;gap:0.62rem;align-items: center;margin-top:2.56rem;}
.main-page .content-item05 .btn-link span{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H4, 1.25rem);font-weight: 500;line-height: var(--line-height-desktop-H4, 2rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);display: flex;padding: 0.625rem 2.5rem;justify-content: center;align-items: center;gap: 0.625rem;border-radius: 62.4375rem;border: 1px solid var(--stroke-stroke-on-primary, #FFF);}
.main-page .content-item05 .btn-link::after{content: "";display: block;width: 3rem;height:3rem;background:url(../../images/icon/icon_link_arrow.svg) no-repeat; background-size:cover;margin-left:4.4rem;}
.main-page .content-item05 .img-area{position:absolute;top:0;left:50%; transform: translateX(-50%);width: 112.5rem;height:auto;bottom:0;}


.main-page .content-item06{transition: all 1s;margin-top:2rem;opacity: 1;}
.main-page .content-item06.active{margin-top:0rem;opacity: 1;}
.main-page .content-item06 .tit-area h4{color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-H1, 2.75rem);font-weight: 700;line-height: var(--line-height-desktop-H1, 3.5rem); /* 127.273% */letter-spacing: var(--letter-spacing-default, 0);display:flex; justify-content:space-between;}
.main-page .content-item06 .tit-area h4 a{display: inline-flex;height: 3rem;min-width: 7.5rem;padding: 0.375rem var(--Button-small, 1.5rem);justify-content: center;align-items: center;gap: var(--Button-margine02, 0.75rem);border-radius: 6.25rem;border: 1px solid var(--stroke-stroke-default-01, #555758);color: var(--text-text-default-01, #171819);text-align: center;font-size: var(--size-desktop-Dense18, 1.125rem);font-weight: 500;line-height: var(--line-height-desktop-Dense18, 1.575rem); /* 140% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item06 .tit-area h4 a:after{content: "";display:block;width: 1.25rem;height:1.25rem;background:url(../../images/icon/icon_link_arrow_bl.svg) no-repeat; background-size:cover;}
.main-page .content-item06 .tit-area h4 a:hover{color:var(--text-text-on-primary, #FFF);background:#000}
.main-page .content-item06 .tit-area h4 a:hover:after{background:url(../../images/icon/icon_link_arrow.svg) no-repeat;  background-size:cover;}
.main-page .content-item06 .area-box{margin-top:3.75rem;display: flex;gap:1.25rem;}
.main-page .content-item06 .area-box a{display: flex;height: 26.25rem;padding: 2.5rem 1.875rem;flex-direction: column;justify-content: space-between;align-items: flex-start;border-radius: var(--Desktop-radius-03, 0.5rem);border: 1px solid var(--stroke-stroke-default-03, #C9CED1);background: var(--fill-fill-on-primary, #FFF);}
.main-page .content-item06 .area-box a:hover{border-radius: var(--Desktop-radius-03, 0.5rem);border: 1px solid var(--stroke-stroke-default-00, #171819);background: var(--fill-fill-on-primary, #FFF);box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.12);}
.main-page .content-item06 .area-box a .txt{color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-B1, 1.125rem);font-weight: 600;line-height: var(--line-height-desktop-B1, 1.8rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);}
.main-page .content-item06 .area-box a .date{display: block;color: var(--text-text-primary, #33B0C6);font-size: var(--size-desktop-B2, 1rem);font-weight: 600;line-height: var(--line-height-desktop-B2, 1.6rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);margin-top:1.25rem}