html,body {
    overflow-x: hidden;
}
.header-cont{padding: 1.25rem 2rem;}
[class^="content-item"] .content-wrap {max-width: 100%; padding-left: 2rem; padding-right: 2rem;}
.wrap:not(.main_p) .content-header {padding-left: 2rem; padding-right: 2rem;}
.wrap{max-width: 1279px;margin:0 auto;min-width: revert;}

.pc-only {display: none !important;}
.mo-only {display: block !important;}    

.wrap:not(.main_p) .content-header {max-width: 100%; padding: 2rem 1.25rem 1.5rem;}
/* .wrap:not(.main_p) :has(.content-header) .content-area [class^="content-item"]:first-child {padding-top: 0;} */

.content-header_bg {display: none;}
.content-header .title-h1  {margin-bottom: 2rem;}
.content-header .subp-tit {font-size: 1.125rem; line-height: 1.75rem;}    

[class^="content-item"] {padding: 3rem 0;}
[class^="content-item"] article:not(:last-child) {margin-bottom: 4rem;}
[class^="content-item"] + [class^="content-item"]:last-child {padding-bottom: 6.25rem;}
[class^="content-item"]:only-child {padding-bottom: 6.25rem;}

[class^="content-item"][class*="01"] {}
[class^="content-item"] .content-wrap {max-width: 100%; padding: 0 1.25rem;}
[class^="content-item"] .content-sect {padding-top: 1rem;}
[class^="content-item"] article .content-sect {padding-top: 1rem;}
.content-area-head-tab {top: 5.25rem;}

.title-h1 {font-size: 1.875rem; line-height: 2.275rem;}
.title-h2 {font-size: 1.5rem; line-height: 2.0625rem;} 
.title-h3 {font-size: 1.25rem; line-height: 1.875rem;}
.sub-title {font-size: 1.125rem; line-height: 1.75rem;}
.sub-title strong {font-weight: 600;}
.flex-box {display: block;}
.cont-head-wrap {padding: 2rem 1.25rem 1.5rem;}

.header-wrap {width:100%;height: 3.25rem;max-width: 1279px;margin:0 auto; min-width: auto;}
.header-wrap .header-area,
.header-wrap .header-cont {height: 100%;}
.header-cont > .ci {width: 8.2755rem; height: auto;}
.header-wrap .header-cont {padding: 0.87rem 1.25rem 0.87rem 1.17rem;}
.header-wrap .header-cont .ci > a {width: 132px; height: 21px; display: block;}
.header-wrap .header-cont .ci > img {width: 100%; height: 100%; object-fit: cover;}
.header-area.mo-only .utile-cont {gap: 1rem;height: auto;}
.header-area.mo-only .utile-cont .utile-item {margin-top: -2px;}   
.lang-wrap .lang-button > img {width: 1.5rem; height: 1.5rem;}
.lang-wrap .lang-button.active .select-btn-right-icon {transform: translateY(-2px) rotate(-180deg);}
.lang-wrap .select-menu {padding: 1rem; width: 4.1875rem; top: 1.5rem; left: -12px;}
.lang-wrap .select-menu > li > a {font-size: 1rem; font-weight: 500; line-height: 1.5rem;}
.header-area.mo-only .search-btn {width: 1.5rem; height: 1.5rem;}
.header-area.mo-only .nav-btn {width: 1.5rem; height: 1.5rem; padding: 0}
.header-area.mo-only .nav-btn .x-icon {width: 100%; height: 100%;}
.cont-area-wrap .cont-area-sect > section.full-bg {margin-bottom: 6.25rem;}
.cont-area-wrap .cont-area-sect > section.full-bg:not(:last-child) {margin-bottom: 3rem;}
.full-bg > div {padding: 2.5rem 1.25rem;}

.header-wrap + .header_search-area{width:100%;height:auto;padding:2.13rem 1.25rem;position: absolute;top:3.25rem; border-top:0;display: none;}
.header-wrap + .header_search-area .search-result{gap:1.25rem;justify-content:flex-start;align-items:center}
.header-wrap + .header_search-area .search-result>input,
.header-wrap + .header_search-area .search-result>input::placeholder{color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-H4, 1.125rem);font-weight: 500;line-height: var(--line-height-mobile-H4, 1.75rem); /* 155.556% */letter-spacing: var(--letter-spacing-default, 0);}
.header-wrap + .header_search-area .search-result>input::placeholder{color: var(--text-text-disabled, #B4B8BA);}
.header-wrap + .header_search-area .search-result>img{width: 2rem;height: 2rem;}
.header-wrap + .header_search-area .search-result>button{background-color:#B4B8BA;border-radius:999px;position:absolute;right:1.25rem;top:50%;transform: translateY(-50%);padding: 0.25rem;}
.header-wrap + .header_search-area .search-result>button>img{width: 1rem;height:1rem;}
.header-wrap + .header_search-area .search-result>button>img{padding:0}
.header-wrap + .header_search-area.open{display: block; z-index:900;}


.header-area .nav-pop{position:fixed;top:3.25rem;left:0;width:100%;height:0;z-index:901;background: var(--fill-fill-on-primary, #FFF);overflow: hidden;transition: height .1s;padding:1rem 1.25rem 1.25rem;}
.header-area .nav-pop.on{height:calc(100vh - 3.25rem);transition: height .5s;overflow-y: auto;}
.header-area .nav-wrap{height:auto;}
.header-area .nav-pop .nav-area{display: flex;flex-direction: column;width: 100%; }
.header-area .nav-pop .depth01{border-bottom:1px solid var(--stroke-stroke-default-04, #E1E7EA);height:68px;overflow-y: hidden;transition:height .5s;}
.header-area .nav-pop .depth01 > a{display: flex;justify-content: space-between;align-items: center;width:100%;padding:1rem 0 1.5rem;color: var(--text-text-default-01, #171819);font-size: var(--size-mobile-H5, 1.125rem);font-weight: 600;line-height: var(--line-height-mobile-H4, 1.75rem); /* 155.556% */letter-spacing: var(--letter-spacing-default, 0);}
.header-area .nav-pop .depth01 > a:after{content: "";width: 1.125rem;height: 1.125rem;background:url(../../images/icon/icon_accord_arrow_down.svg);background-size:cover;transition: transform .3s;}
.header-area .nav-pop .depth01.on > a:after{transform:rotateZ(180deg);}
.header-area .nav-pop .depth01 > ul{display: flex;flex-direction: column; padding:0 0 1.5rem 0;gap:.75rem;align-items: flex-start;}
.header-area .nav-pop .depth02{width:100%;}
.header-area .nav-pop .depth02 a{width:100%;display: block;color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-B1, 1.125rem);font-weight: 400;line-height: var(--line-height-desktop-B1, 1.8rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0);text-align: left;}

.header-area .nav-pop-util{display: flex;flex-direction: column;gap:.5rem;margin-top:1.5rem;}
.header-area .nav-pop-util .item{width:100%;}
.header-area .nav-pop-util .item a{display:flex; align-items: center;gap:2rem;padding:1.13rem 1.5rem;border-radius: var(--Mobile-radius-05, 1rem);background: var(--fill-fill-default-04, #F3F5F7);}
.header-area .nav-pop-util img{width:2.5rem;}
/* footer */
.footer-wrap {max-width: 100%;}
.footer-area {display: block; padding: 2.38rem 0 2rem; margin: 0 1.25rem;}
.footer-site_map {line-height: 1.4rem;}
.footer-site_map-desc {font-size: 0.875rem; line-height: 1.4rem; text-align: left; padding: 1.5rem 0;}
.footer-item02 {display: block;} 
.footer-bottom {display: block; padding-bottom: 0; margin: 0 1.25rem;}
.footer-util {padding: 1rem 0 2.25rem;}
.footer-logo img {width: 12.125rem; margin: 0; padding: 0;}
.footer-wrap .selectbox-wrap.type3 {height: 3.5rem;}
.footer-wrap .selectbox-wrap.type3 .select-cate::after {margin-top: 0;}
