@media screen and (max-width: 1023px) {
 /* 지속가능경영(esgm) */
.esgm .cont-area-sect > section:first-child {padding-top: 2rem;}
.esgm .cont-area-info {padding-bottom: 4.75rem;}
.content-box {flex-direction: column; gap: 1.5rem;}
.content-box:not(:first-child) {margin-top: 2rem;}
.content-box:not(:first-child) .text-area {margin-top: 2rem;}
.content-box .text-area .sub {font-size: 1rem; font-weight: 600; color:var(--colorElement-light-text-text-primary); line-height: 1.5rem;}
.content-box .text-area .tit {font-size: 1.5rem; font-weight: 500; color:var(--colorElement-light-text-text-default01); line-height: 2.1rem; padding-top: 0.5rem;}
.content-box .text-area .desc {font-size: 1rem; font-weight: 400; color: var(--colorElement-light-text-text-default02); line-height: 1.5rem;}
.content-box .text-area .intro-txt {font-size: 1.375rem; font-weight: 400; line-height: 1.925rem;}
.content-box .text-area .intro-sub {font-size: 1.125rem; font-weight: 600; line-height: 1.75rem; margin-top: 1rem;}
.content-box .img-area {padding-top: 0;}
.content-box .img-area img {min-width: 20rem; height: auto;}



.content-box.type2 > div {width: 100%;}
.content-box.type2 .img-area {padding-top: 0; padding-bottom: 1.5rem;}
.content-box.type2 .img-area img {min-width: revert;}
.content-box.type2 .text-area .desc {padding-top: 1.5rem;}
.content-box.type2 .text-area .desc + .desc {padding-top: 0.5rem;}

.cont-box-wrap .left-box {padding:0 1.25rem; background: url(../../images/img/esgm01_tab2_bg1_mo.png) no-repeat 100% 100% / contain; height: 100%; display:block;}
.cont-box-wrap .left-box::before {display: none;}
.cont-box-wrap .left-box .intro-desc {padding: 1.56rem 0 0;}
.cont-box-wrap .left-box .sub-desc-wrap {width: 100%; color: var(--colorElement-light-text-text-default02); font-size: 1rem; line-height: 1.5rem; padding-top: 1.5rem;}
.cont-box-wrap .left-box .sub-desc-wrap ul > li:not(:last-child) {padding-bottom: 1.5rem;}
.cont-box-wrap .right-box {margin: 3.75rem 0; padding-top: 0; padding-right: 0; background: url(../../images/img/esgm01_tab2_bg2_mo.png) no-repeat center top / cover; height: 100%; display:block;}
.cont-box-wrap .right-box .keyword {font-size: 2.75rem; line-height: 3.85rem; text-align: center;}
.cont-box-wrap .right-box::before {content: ""; display:block; background: url(../../images/img/brace_left.png) no-repeat center center / contain; position: absolute; top:0; left: 1.25rem; width: 1.5625rem; height: 3.875rem;}
.cont-box-wrap .right-box::after {width: 1.5625rem; height: 3.875rem; background-image: url(../../images/img/brace_right_mo.png); top: 0; right: 1.25rem;}

.keyword-cont {padding: 1.5rem 1.25rem 1.69rem;}
.keyword-cont-list > li {border-radius: 1rem; background:rgba(255, 255, 255, 0.5); padding:1.25rem; backdrop-filter: blur(5.099999904632568px);}
.keyword-cont-list > li .keyword-box {display: flex; flex-direction: column;}
.keyword-cont-list > li .keyword-box:not(:last-child) {position: relative;}
.keyword-cont-list > li .keyword-box:not(:last-child)::after {content: ""; width: 100%; height: 1px; display: block; background-color: var(--colorElement-light-stroke-stroke-default04); margin: 1rem 0;}
.keyword-cont-list > li .keyword-box .title {font-size: 1.125rem; font-weight: 600; line-height: 1.8rem; margin-bottom: 0.5rem;}
.keyword-cont-list > li .keyword-box .text-list-wrap .text-list > li {font-size: 1rem; font-weight: 400; line-height: 1.5rem;}
.keyword-cont-list > li:not(:last-child) {margin-bottom: 1rem;}

.table-container {padding:0 1.25rem;}
.table-container .table-header {padding-bottom: 1rem;}
.fina .table-container {padding-right: 0;}
.table-header .table-title {font-size: 1.25rem; font-weight: 700; line-height: 1.75rem;}
.esgm .table-container .table-wrap table tr > td {padding: 0; border-bottom: 1px solid var(--colorElement-light-stroke-stroke-default04);}

.profile-info-box {display: block; padding: 1.5rem 0;}
.profile-info-box .profile-img-area {display: none;}
.profile-txt-area .profile-text .profile-info {gap: 0.75rem;}
.profile-txt-area .profile-text .name {font-size: 1.125rem; line-height: 1.575rem;}
.profile-txt-area .profile-text .position {font-size: 1rem; font-weight: 500; line-height: 1.6rem;}
.profile-txt-area .profile-text .date {font-size: 1rem; font-weight: 400; line-height: 1.5rem; padding-top: 0.5rem;}
.profile-txt-area .profile-history {padding-top: 1rem;}
.profile-txt-area .profile-history ul > li {font-size: 1rem; line-height: 1.5rem;}
/* 지속가능경영 > 사회 */
.bdr-box-wrap .list-container > li img.circle {width:30rem; height:15rem; ;}

/* 재무정보 (disc) */
.disc .history-list > li {flex-direction: column; gap: 0.5rem; padding-inline: 1.25rem;}
.disc .history-list > li + li {margin-top: 2rem;}
.disc .history-list > li::before {content: none;}
.disc .history-year {width: auto; padding: 0; font-size: 1.25rem; line-height: 1.75rem;}
.disc .history-desc > li {padding: 1.25rem; border-bottom: none; border-radius: 0.5rem; background-color: var(--colorElement-light-fill-fill-default04);}
.disc .history-desc > li + li {margin-top: 0.5rem;}
.disc .history-desc > li > div {flex-direction: column; align-items: flex-start; gap: 0.25rem;}
.disc .history-desc .history-date {width: auto; font-size: 0.875rem; line-height: 1.4rem;}
.disc .history-desc .history-tit {font-size: 1.25rem; font-weight: 500; line-height: 1.875rem; color: var(--colorElement-light-text-text-default01);}
.disc .history-desc .history-btn {width: 2.5rem; height: 2.5rem; background-color: var(--colorElement-light-fill-fill-on-primary); background-size: 1.25rem 1.25rem;}
.disc .history-list + .paging-wrap {margin-top: 2rem;}
.disc .paging-wrap + .btn-wrap {margin-top: 3.75rem;}

/* 재무정보 (fina) */
.fina .box-container {padding: 0 1.25rem;}
.fina .box-container .content-box {display: block;}
.fina .box-container .content-box > li {padding: 1.5rem 1.25rem; border-radius: 0.5rem;}
.fina .box-container .content-box > li:not(:first-child) {margin-top: 1.5rem;}
.fina .box-container .content-box > li .box-text-wrap {margin-bottom: 1rem;}
.fina .box-container .content-box > li .box-text-wrap .box-title {font-size: 1.125rem; line-height: 1.75rem;}
.fina .box-container .content-box > li .box-text-wrap .box-year {font-size: 0.875rem; line-height: 1.4rem;}
.fina .box-container .content-box > li .box-item {flex-direction: column;  gap: 0.5rem;}
.fina .box-container .content-box > li .box-item > li {display:flex; width:100%; height: auto;  padding: 1.5rem 1.25rem; gap: 1.25rem; align-items: center;}
.fina .box-container .content-box > li .box-item > li .item-record {margin-bottom: 0; min-width: 4.5rem; font-size: 1.5rem; line-height: 2.1rem;}
.fina .box-container .content-box > li .box-item > li .item-text-wrap {text-align: left;}
.fina .box-container .content-box > li .box-item > li .item-title {font-size: 1rem; line-height: 1.5rem;}
.fina .box-container .content-box > li .box-item > li .item-desc {font-size: 1rem; line-height: 1.5rem;}

.gray-box-area > ul {display: block; border-radius: 0.5rem; border: 1px solid var(--colorElement-light-stroke-stroke-default03); background:var(--colorElement-light-fill-fill-default04); padding: 1.75rem 1.5rem; margin-top: 2rem;}
.gray-box-area > ul > li {padding: 0; border-radius: 0; background-color: var(--colorElement-light-fill-fill-default04); width: 100%; height: auto;}
.gray-box-area > ul > li:not(:last-child)::after {content:""; display:block; width: 100%; height: 0.0625rem; background: var(--colorElement-light-stroke-stroke-default04); margin: 1.75rem 0;}
.gray-box-area > ul > li .box-wrap {align-items: center;}
.gray-box-area > ul > li .box-wrap:has(> .btn-group) {align-items: flex-start;}
.gray-box-area > ul > li .box-wrap .btn-group {flex-direction: column;}
.gray-box-area > ul > li .box-wrap a.icon-btn {width: 7.75rem; justify-content: center; background-color: #fff; height: 2.375rem;}
.gray-box-area > ul > li .box-wrap .title {font-size: 1rem; line-height: 1.5rem;}

.history-box {padding-top: 3rem;}
.history-box .history-list > li{padding-inline: 0;}
.history-box .history-desc {border-top: 2px solid var(--colorElement-light-stroke-stroke-default00);}
.history-box .history-list > li {gap: 1rem;}
.history-box .history-year {font-size: 1.375rem; line-height: 1.925rem;}
.history-box .history-tit {font-size: 1rem; line-height: 1.5rem; font-weight: 600;}
.history-box .history-desc > li {border-radius:0; background-color: transparent; border-bottom: 1px solid var(--colorElement-light-stroke-stroke-default03);}
.history-box .history-desc > li + li {margin-top: 0;}
.history-box .history-list > li + li {margin-top: 3rem;}

/* 정도경영 (etmg) */
.etmg .cont-area-wrap .cont-area-intro .intro-desc {font-size: 1.125rem; font-weight: 600; line-height: 1.75rem;}
.etmg .cont-area-wrap .cont-area-intro .intro-desc > span {font-weight: 600;}
.etmg .cont-area-wrap .cont-area-intro .intro-desc:has(+ .sub-desc-wrap) {padding-bottom: 1rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap {margin-bottom: 1.5rem; padding-inline: 1.25rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap .sub-tit {font-size: 1rem; line-height: 1.5rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap > .sub-tit + ul {margin-top: 2rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap > ul {gap: 1rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap .sub-desc {font-size: 0.875rem; line-height: 1.4rem;}
.etmg #tab1-content .cont-area-wrap.type2 .cont-area-intro .intro-desc {padding: 1.5rem 1.25rem 3.5rem;}
.etmg .info-text-area .subtit {font-size: 1.125rem; font-weight: 600; line-height: 1.75rem;}
.etmg .info-text-area .desc {font-size: 1rem; line-height: 1.5rem; margin-top: 1.5rem;}
.etmg .cont-area-wrap.type2 .cont-area-sect > section > .img-area {padding-bottom: 3.5rem; border-bottom: 1px solid var(--colorElement-light-stroke-stroke-default03);}
.etmg #tab1-content .cont-area-sect > section:first-child .img-area {margin-bottom: 3.5rem; padding-top: 0; padding-inline: 0;}
.etmg .info-text-area +.img-area {margin: 1.5rem auto;}
.etmg #tab1-content .cont-area-wrap.type2 .cont-area-sect > section:last-child .info-text-area + .img-area {margin-top: 2rem; margin-bottom: 0;}
.etmg .accordion-list.type2 .accordion-btn {font-size: 1rem; line-height: 1.5rem;}
.etmg .accordion-list.type2.on .accordion-btn {font-size: 1.25rem; line-height: 1.75rem;}
.etmg .accordion-list.type2 .accordion-btn .acd-group {gap: 0.5rem;}
.etmg .accordion-list.type2 .accordion-btn .acd-group .acd-num {font-size: 1rem; line-height: 1.5rem;}
.etmg .accordion-list .accordion-content {margin-bottom: 0;}
.etmg .accordion-list .accordion-content .acd-con-tit {font-size: 1rem; line-height: 1.5rem;}
.etmg .acd-con-tit + .acd-desc-list {margin-top: 1.5rem;}
.etmg .acd-desc-list > li {flex-direction: column; gap: 0.5rem; margin-bottom: 1.5rem;}
.etmg .acd-desc-list > li + li {padding-top: 0; border: none;}
.etmg .acd-desc-list > li .acd-desc-num {width: auto; font-size: 1.125rem; line-height: 1.75rem;}
.etmg .acd-desc-list > li .acd-desc-con {display: flex; flex-direction: column; gap: 0.5rem;}
.etmg .acd-desc-list > li .acd-desc-con > li {font-size: 1rem; line-height: 1.5rem;}
.etmg .accordion-list + .btn-wrap {margin-top: 3rem;}
.etmg #tab3-content .cont-area-wrap.type2 .cont-area-intro .intro-desc {padding: 2rem 1.25rem 1.63rem;}
.etmg .desc-list-col2 {margin-top: 0; padding-bottom: 1.13rem;}
.etmg .desc-list-col2 > li + li {margin-top: 2rem; padding-top: 2rem;}
.etmg .desc-col2 {flex-direction: column; gap: 1.5rem; height: auto;}
.etmg .desc-col2.num {font-size: 1.125rem; line-height: 1.575rem;}
.etmg .desc-col2.tit {font-size: 1.5rem; line-height: 2.1rem;}
.etmg .desc-col2.desc {font-size: 1rem; line-height: 1.5rem;}
.etmg .desc-col2.num + .tit {margin-top: 0.25rem;}
.etmg .desc-col2.tit + .desc {margin-top: 1rem;}
.etmg .desc-col2 > div:first-child {flex-grow: 1;}
.etmg .desc-col2 .img-area {width: 100%}
.etmg .desc-col2 + .desc-box {margin-top: 1.01rem;}
.etmg .desc-box {display: flex; flex-direction: column;  row-gap: 1rem; padding: 1.25rem;}
.etmg .desc-box > li {align-items: flex-start; gap: 1rem;}
.etmg .desc-box .desc-box-tit {width: 5.5625rem; gap: 0.5rem; font-size: 1rem; line-height: 1.5rem; margin-right: 0.5rem;}
.etmg .desc-box .desc-box-tit img {width: 1.25rem; height: 1.25rem;}
.etmg .desc-box .desc-box-text {font-size: 0.875rem; line-height: 1.4rem;}
.etmg .desc-box + .box-link-list {margin-top: 2rem;}
.etmg .box-link-list {flex-direction: column; gap: 1rem;}
.etmg .box-link {padding: 1.5rem 2rem; font-size: 1.125rem; line-height: 1.75rem;}
.etmg .box-link img {width: 4rem;}
.etmg .box-link span::after {width: 0.875rem; height: 0.875rem;}

/* 글로벌네트워크 (netw) */
.netw .content-wrap {padding-top: 3.125rem;}
.netw .content-area-head-tab {position: sticky;}
.map-conts-area {display: block; padding: 1rem 1.25rem 13.69rem; background: var(--colorElement-light-fill-fill-default04);}
.map-conts-area .map-img {display: none;}
.map-conts-area .map-info .map-info-list {position: static; width: 100%; height: 100%; background: none; overflow: revert; padding:0 0 1rem;}

.map-info .map-info-list .selectbox-wrap.type2 {margin: 0;}
.map-info .map-info-list .selectbox-wrap.type2 .select-cate > button {min-width: 100%; max-width: 100%; background-color: #fff;}
.map-info {display: block;}
.map-info .map-info-content-box {position: static; width: 100%; height: 100%; opacity: 1; backdrop-filter: revert; box-shadow: revert; border: 1px solid var(--colorElement-light-stroke-stroke-default04); border-radius: 0.5rem; padding: 1.5rem;}
.map-info-content .map-info-content-box:not(:last-child) {margin-bottom: 1rem;}
.map-info-content-box .info-content-body .img-area {margin: 1rem 0; height: 5rem;}
.map-info-content-box .info-content-body .img-area img {width: 100%; height: 100%; border-radius: 0.5rem;}
.map-info-content-box .info-content-head .sort li {font-size: 0.875rem; line-height: 1.4rem;}
.map-info-content-box .info-content-head .sort li.badge {font-size: 0.75rem; line-height: 1.2rem;}
.map-info-content-box .info-content-head .title {font-size: 1.25rem; line-height: 1.75rem;}
.map-info-content-box .info-content-body > ul {gap:0.53rem;}
.map-info-content-box .info-content-body > ul > li p {font-size: 0.875rem; font-weight: 400; line-height: 1.4rem; color: var(--colorElement-light-text-text-default02);}
.map-info-content-box .info-content-body > ul > li img {margin: 0.12rem 0;}
.map-info-content-box .info-content-body .sns-area > ul > li {width: 2rem; height: 2rem;}
.map-info-content-box .info-content-body .sns-area > ul > li > a {width: 100%; height: 100%;}

/* 뉴스룸 */
.news h3{font-size:2rem;font-weight:600;margin-top:0;margin-bottom:1rem}

.news-content-area{padding:0 1.25rem;margin-bottom:6.25rem}
.news-content-area .top-bar{flex-direction:column-reverse;align-items:flex-start;gap:1.5rem;margin-bottom:1rem}
.news-content-area .top-bar .search-box{width:20rem}
.news-content-area .top-bar .search-box>button{width:2.125rem;padding:0.5rem}
.news-content-area .top-bar .search-box>input{width:17.5rem}
.news-content-area .top-bar .total-count{font-size:1rem}
.news-content-area .news-list{margin-bottom:2rem}
.news-content-area .news-list .news-item{display:flex;flex-direction:column;gap:1rem;padding:2rem 0}
.news-content-area .news-list .news-item .news-image{width:20rem;height:11.4375rem;aspect-ratio:320/183}
.news-content-area .news-list .news-item .news-content{gap:0}
.news-content-area .news-list .news-item .news-content>span{font-size:0.875rem;margin-bottom:0.5rem}
.news-content-area .news-list .news-item .news-content .news-title{font-size:1.125rem;line-height:1.75rem;margin-bottom:1rem}
.news-content-area .news-list .news-item .news-content>p{font-size:1rem}
.news-content-area .news-list .news-item .news-image-wrapper>a{font-size:0.8125rem;padding:0.5rem 1rem}
.news-content-area .news-list .news-item .news-image-wrapper>a>img{width:1rem}

.news-content-area .search-result{display:flex;align-items:center;gap:1rem;justify-content:baseline;margin-bottom:3rem;padding-bottom:1.5rem;border-bottom:1px solid #C9CED1;width:auto; margin-top: 2rem;}
.news-content-area .search-result>input{font-size:1.375rem;width:100%;font-weight:600}
.news-content-area .search-result>img{width:1.75rem}
.news-content-area .search-result>button>img{padding:0.41875rem;width:1.375rem}
.news-content-area .top-bar .total-result{border-bottom:0;margin-bottom:0;padding-bottom:0}
.news-content-area .top-bar .no-result{padding:2rem 0 5rem;border-top:none;margin-bottom:1rem}
.news .view-list-btn{width:100%;justify-content:center;font-size:1rem;padding:0.6875rem}
.news .view-list-btn>img{width:0.8125rem}
.news-detail-area{padding:0;background-color:#fff}
.news-detail-area .news-detail .news-detail-tit{font-size:1.375rem;line-height:160%}
.news-detail-area .news-detail{padding:0 1.25rem;gap:1rem;margin-bottom:1.5rem}
.news-detail-area .news-detail .news-info{padding-bottom:1rem;border-bottom:2px solid #555758}
.news-detail-area .news-detail .news-info button{font-size:0.875rem;padding:0.5rem 1rem}
.news-detail-area .news-detail .news-info img{width:1rem}
.news-detail-area .news-detail .news-info span{font-size:1rem;font-weight:500}
.news-detail-area .text-list-wrap{padding:1rem}
.news-detail-area .text-list-wrap .text-list>li{font-size:0.875rem;line-height:160%}
.news-detail-area .text-list-wrap .text-list>li::before{top:30%}
.news-detail-area .news-image-wrapper{width:20rem;position:relative;height:11.4375rem}
.news-detail-area .news-image-wrapper img{height:100%}
.news-detail-area .news-detail-text{font-size:1rem;line-height:150%;border-bottom:1px solid #555758;padding-bottom:2rem}
.news-detail-area .news-pagination-wrap .pagination-tit-wrap>p{display:none}
.news-detail-area .news-pagination-wrap .news-pagination-left{align-items:center;padding:0.75rem 1rem;gap:1rem}
.news-detail-area .news-pagination-wrap .news-pagination-right{align-items:center;padding:0.75rem 1rem;gap:1rem}
.news-detail-area .news-pagination-wrap .news-pagination-btn{padding:0.375rem}
.news-detail-area .news-pagination-wrap .news-pagination-btn>img{width:1rem;height:1rem}
.news-detail-area .view-btn-wrap{margin:0 1.25rem;margin-bottom:6.25rem}
}