@media screen and (max-width: 1023px) {
 /* 지속가능경영(esgm) */
.esgm .cont-area-sect > section:first-child {padding-top: 2rem;}
.esgm .cont-area-info {padding-bottom: 4.75rem;}
.content-box {flex-direction: column; gap: 1.5rem;}
.content-box:not(:first-child) {margin-top: 2rem;}
.content-box:not(:first-child) .text-area {margin-top: 2rem;}
.content-box .text-area .sub {font-size: 1rem; font-weight: 600; color:var(--colorElement-light-text-text-primary); line-height: 1.5rem;}
.content-box .text-area .tit {font-size: 1.5rem; font-weight: 500; color:var(--colorElement-light-text-text-default01); line-height: 2.1rem; padding-top: 0.5rem;}
.content-box .text-area .desc {font-size: 1rem; font-weight: 400; color: var(--colorElement-light-text-text-default02); line-height: 1.5rem;}
.content-box .img-area {padding-top: 0;}
.content-box .img-area img {min-width: 20rem; height: auto;}

.cont-box-wrap .left-box {padding:0 1.25em; background: url(../../images/img/esgm01_tab2_bg1_mo.png) no-repeat 100% 100% / contain; height: 100%; display:block;}
.cont-box-wrap .left-box::before {display: none;}
.cont-box-wrap .left-box .intro-desc {padding: 1.56rem 0 0;}
.cont-box-wrap .left-box .sub-desc-wrap {width: 100%; color: var(--colorElement-light-text-text-default02); font-size: 1rem; line-height: 1.5rem; padding-top: 1.5rem;}
.cont-box-wrap .left-box .sub-desc-wrap ul > li:not(:last-child) {padding-bottom: 1.5rem;}
.cont-box-wrap .right-box {margin: 3.75rem 0; padding-top: 0; padding-right: 0; background: url(../../images/img/esgm01_tab2_bg2_mo.png) no-repeat center top / cover; height: 100%; display:block;}
.cont-box-wrap .right-box .keyword {font-size: 2.75rem; line-height: 3.85rem; text-align: center;}
.cont-box-wrap .right-box::before {content: ""; display:block; background: url(../../images/img/brace_left.png) no-repeat center center / contain; position: absolute; top:0; left: 1.25rem; width: 1.5625rem; height: 3.875rem;}
.cont-box-wrap .right-box::after {width: 1.5625rem; height: 3.875rem; background-image: url(../../images/img/brace_right_mo.png); top: 0; right: 1.25rem;}

.keyword-cont {padding: 1.5rem 1.25rem 1.69rem;}
.keyword-cont-list > li {border-radius: 1rem; background:rgba(255, 255, 255, 0.5); padding:1.25rem; backdrop-filter: blur(5.099999904632568px);}
.keyword-cont-list > li .keyword-box {display: flex; flex-direction: column;}
.keyword-cont-list > li .keyword-box:not(:last-child) {position: relative;}
.keyword-cont-list > li .keyword-box:not(:last-child)::after {content: ""; width: 100%; height: 1px; display: block; background-color: var(--colorElement-light-stroke-stroke-default04); margin: 1rem 0;}
.keyword-cont-list > li .keyword-box .title {font-size: 1.125rem; font-weight: 600; line-height: 1.8rem; margin-bottom: 0.5rem;}
.keyword-cont-list > li .keyword-box .text-list-wrap .text-list > li {font-size: 1rem; font-weight: 400; line-height: 1.5rem;}
.keyword-cont-list > li:not(:last-child) {margin-bottom: 1rem;}

.table-container {padding:0 1.25rem;}
.table-container .table-header {padding-bottom: 1rem;}
.fina .table-container {padding-right: 0;}
.table-header .table-title {font-size: 1.25rem; font-weight: 700; line-height: 1.75rem;}
.esgm .table-container .table-wrap table tr > td {padding: 0; border-bottom: 1px solid var(--colorElement-light-stroke-stroke-default04);}

.profile-info-box {display: block; padding: 1.5rem 0;}
.profile-info-box .profile-img-area {display: none;}
.profile-txt-area .profile-text .profile-info {gap: 0.75rem;}
.profile-txt-area .profile-text .name {font-size: 1.125rem; line-height: 1.575rem;}
.profile-txt-area .profile-text .position {font-size: 1rem; font-weight: 500; line-height: 1.6rem;}
.profile-txt-area .profile-text .date {font-size: 1rem; font-weight: 400; line-height: 1.5rem; padding-top: 0.5rem;}
.profile-txt-area .profile-history {padding-top: 1rem;}
.profile-txt-area .profile-history ul > li {font-size: 1rem; line-height: 1.5rem;}

/* 글로벌네트워크 (netw) */
.netw:not(.sub_p) .content-header {padding: 2rem 1.25rem 0.31rem; display: block;}
.netw .content-wrap {padding-top: 3.125rem;}
.netw .content-area-head-tab {position: sticky;}
.map-conts-area {display: block; padding: 1rem 1.25rem 0;}
.map-conts-area .map-img {display: none;}
.map-info {display: block;}
.map-conts-area .map-info .map-info-list {display: none;}



}