/* 중간사이즈 1400 css 필요 시 */
@media screen and (max-width: 1400px) {
/* 주식정보 (stif) - 중간사이즈 깨져서 임의로 일부영역 모바일 디자인으로 적용 */
.stif .stock-box {gap: 1.25rem; margin: 0 1.25rem; padding: 2rem 1.25rem; width: auto;}
.stif .stock-box .stock-info {flex-direction: column; gap: 2rem;}
.stif .stock-box .stock-info .info-big {flex-direction: column; align-items: flex-start; gap: 1.25rem; width: 100%;}
.stif .stock-box .stock-info .info-big > div {flex-direction: row; gap: 1.5rem; width: fit-content;}
.stif .stock-box .stock-info .info-big > div > p {gap: 1rem;}
.stif .stock-box .stock-info .info-wrap {padding-top: 2rem; border-top: 1px solid var(--colorElement-light-stroke-stroke-default03); width: 100%}
.stif .stock-box .stock-info .info-wrap > div {width: 100%; justify-content: center; border: none;}
}

/* 모바일 사이즈 css */
@media screen and (max-width: 1279px) {
 /* 지속가능경영(esgm) */
.esgm .cont-area-sect > section:first-child {padding-top: 2rem;}
.esgm .cont-area-info {padding-bottom: 4.75rem;}
.esgm .table-container .table-wrap table tr > td {padding: 0; border-bottom: 1px solid var(--colorElement-light-stroke-stroke-default04);}
.content-box {flex-direction: column; gap: 1.5rem;}
.content-box:not(:first-child) {margin-top: 2rem;}
.content-box:not(:first-child) .text-area {margin-top: 2rem;}
.content-box .text-area .sub {font-size: 1rem; font-weight: 600; color:var(--colorElement-light-text-text-primary); line-height: 1.5rem;}
.content-box .text-area .tit {font-size: 1.5rem; font-weight: 500; color:var(--colorElement-light-text-text-default01); line-height: 2.1rem; padding-top: 0.5rem;}
.content-box .text-area .desc {font-size: 1rem; font-weight: 400; color: var(--colorElement-light-text-text-default02); line-height: 1.5rem;}
.content-box .text-area .intro-txt {font-size: 1.375rem; font-weight: 400; line-height: 1.925rem;}
.content-box .text-area .intro-sub {font-size: 1.125rem; font-weight: 600; line-height: 1.75rem; margin-top: 1rem;}
.content-box .img-area {padding-top: 0;}
.content-box .img-area img {min-width: 20rem; height: auto;}



.content-box.type2 > div {width: 100%;}
.content-box.type2 .img-area {padding-top: 0; padding-bottom: 1.5rem;}
.content-box.type2 .img-area img {min-width: revert;}
.content-box.type2 .text-area .desc {padding-top: 1.5rem;}
.content-box.type2 .text-area .desc + .desc {padding-top: 0.5rem;}

.cont-box-wrap .left-box {padding:0 1.25rem; background: url(../../images/img/esgm01_tab2_bg1_mo.png) no-repeat 100% 100% / contain; height: 100%; display:block;}
.cont-box-wrap .left-box::before {display: none;}
.cont-box-wrap .left-box .intro-desc {padding: 1.56rem 0 0;}
.cont-box-wrap .left-box .sub-desc-wrap {width: 100%; color: var(--colorElement-light-text-text-default02); font-size: 1rem; line-height: 1.5rem; padding-top: 1.5rem;}
.cont-box-wrap .left-box .sub-desc-wrap ul > li:not(:last-child) {padding-bottom: 1.5rem;}
.cont-box-wrap .right-box {margin: 3.75rem 0; padding-top: 0; padding-right: 0; background: url(../../images/img/esgm01_tab2_bg2_mo.png) no-repeat center top / cover; height: 100%; display:block;}
.cont-box-wrap .right-box .keyword {font-size: 2.75rem; line-height: 3.85rem; text-align: center;}
.cont-box-wrap .right-box::before {content: ""; display:block; background: url(../../images/img/brace_left.png) no-repeat center center / contain; position: absolute; top:0; left: 1.25rem; width: 1.5625rem; height: 3.875rem;}
.cont-box-wrap .right-box::after {width: 1.5625rem; height: 3.875rem; background-image: url(../../images/img/brace_right_mo.png); top: 0; right: 1.25rem;}

.keyword-cont {padding: 1.5rem 1.25rem 1.69rem;}
.keyword-cont-list > li {border-radius: 1rem; background:rgba(255, 255, 255, 0.5); padding:1.25rem; backdrop-filter: blur(5.099999904632568px);}
.keyword-cont-list > li .keyword-box {display: flex; flex-direction: column;}
.keyword-cont-list > li .keyword-box:not(:last-child) {position: relative;}
.keyword-cont-list > li .keyword-box:not(:last-child)::after {content: ""; width: 100%; height: 1px; display: block; background-color: var(--colorElement-light-stroke-stroke-default04); margin: 1rem 0;}
.keyword-cont-list > li .keyword-box .title {font-size: 1.125rem; font-weight: 600; line-height: 1.8rem; margin-bottom: 0.5rem;}
.keyword-cont-list > li .keyword-box .text-list-wrap .text-list > li {font-size: 1rem; font-weight: 400; line-height: 1.5rem;}
.keyword-cont-list > li:not(:last-child) {margin-bottom: 1rem;}

.profile-info-box {display: block; padding: 1.5rem 0;}
.profile-info-box .profile-img-area {display: none;}
.profile-txt-area .profile-text .profile-info {gap: 0.75rem;}
.profile-txt-area .profile-text .name {font-size: 1.125rem; line-height: 1.575rem;}
.profile-txt-area .profile-text .position {font-size: 1rem; font-weight: 500; line-height: 1.6rem;}
.profile-txt-area .profile-text .date {font-size: 1rem; font-weight: 400; line-height: 1.5rem; padding-top: 0.5rem;}
.profile-txt-area .profile-history {padding-top: 1rem;}
.profile-txt-area .profile-history ul > li {font-size: 1rem; line-height: 1.5rem;}
/* 지속가능경영 > 사회 */
.bdr-box-wrap .list-container > li img.circle {width:30rem; height:15rem; ;}


/* 주식정보 (stif) */
.stif .stock-box .stock-tit {align-items: flex-start;}
.stif .stock-box .stock-tit .tit-wrap {flex-direction: column; align-items: flex-start; gap: 0;}
.stif .stock-box .stock-tit .title {font-size: 1.125rem; line-height: 1.575rem;}
.stif .stock-box .stock-tit .num {font-size: 0.875rem; line-height: 1.4rem;}
.stif .stock-box .stock-tit .date {font-size: 0.875rem; line-height: 1.4rem;}
.stif .stock-box .stock-info .info-big > p {gap: 0.5rem; font-size: 2.5rem; font-weight: 700; line-height: 3.5rem;}
.stif .stock-box .stock-info .info-big > p::before {width: 1.5rem; height: 1.5rem;}
.stif .stock-box .stock-info .info-big > div {gap: 1.25rem; width: 100%;}
.stif .stock-box .stock-info .info-big > div > p {justify-content: space-between; gap: 0; width: calc(50% - (1.25rem / 2)); font-size: 1rem; line-height: 1.5rem;}
.stif .stock-box .stock-info .info-big > div .up::before, .stif .stock-box .stock-info .info-big > div .down::before {width: 0.75rem; height: 0.75rem;}
.stif .stock-box .stock-info .info-wrap > div p {gap: 0.25rem; font-size: 0.875rem; font-weight: 700; line-height: 1.4rem;}

.stif .stock-chart {margin-inline: 1.28rem;}
.stif .stock-chart .title-wrap {align-items: flex-start; flex-direction: column; gap: 2rem;}
.stif .stock-chart .title-wrap .title-text {order: 1; flex-wrap: wrap; column-gap: 0.75rem; row-gap: 0;}
.stif .stock-chart .title-wrap .title-text .tit {font-size: 1.125rem; line-height: 1.575rem;}
.stif .stock-chart .title-wrap .title-text .num {font-size: 1.125rem; font-weight: 500; line-height: 1.8rem;}
.stif .stock-chart .title-wrap .title-text .date {font-size: 0.875rem; line-height: 1.4rem;}
.stif .stock-chart .title-wrap .radio-wrap:only-child {margin-left: 0;}
.stif .stock-chart .title-wrap .radio-wrap .wrap-form-box {flex-wrap: wrap;}
.stif .stock-chart .title-wrap + .chart-wrap {margin-top: 2rem;}
.stif section > .stock-table {margin-inline: 1.25rem;}
.stif .stock-sub-table-wrap {flex-direction: column; margin-inline: 1.25rem; gap: 2rem;}
.stif .stock-sub-table-wrap .flex-col {gap: 2rem;}
.stif .stock-sub-table-wrap .flex-row {flex-direction: column;}
.stif .stock-sub-box {padding-inline: 1.25rem; border-radius: 0.5rem;}
.stif .stock-sub-box > div {flex-direction: column; gap: 1.25rem; padding-block: 1.64rem;}
.stif .stock-sub-box > div > p {gap: 0.75rem;}
.stif .stock-sub-box > div .tit {font-size: 1.125rem; font-weight: 600; line-height: 1.75rem;}
.stif .stock-sub-box > div .num {font-size: 1.5rem; line-height: 2.1rem;}
.stif .cont-box-wrap:has(.left-box, .right-box) {display: flex; flex-direction: column-reverse; background-image: url(../../images/img/stif01_tab2_img_mo.png); background-repeat: no-repeat; background-size: contain; background-position: top 2.75rem right;}
.stif .cont-box-wrap .left-box {min-height: unset; background-image: none;}
.stif .cont-box-wrap .left-box .intro-desc {font-size: 1.25rem; font-weight: 700; line-height: 1.75rem;}
.stif .cont-box-wrap .left-box .sub-desc-wrap {padding-top: 1rem; font-size: 1rem; line-height: 1.5rem;}
.stif .asterisk-text {gap: 0; font-size: 0.875rem; line-height: 1.4rem;}
.stif .asterisk-text::before {content: "*\00a0"; display: block; margin: 0; width: auto; height: auto; background-image: none;}
.stif .cont-box-wrap .right-box {order: 0; background-image: none; margin: 0 0 3.75rem; padding-inline: 3.75rem;}
.stif .cont-box-wrap .right-box::before, .stif .cont-box-wrap .right-box::after {top: 50%; transform: translateY(-50%);}
.stif .cont-box-wrap .right-box .keyword {font-size: 2.5rem; font-weight: 700; line-height: 1.2; letter-spacing: -0.03125rem; text-align: left;}


/* 공시정보 (disc) */
.history-list > li {flex-direction: column; gap: 0.5rem; padding-inline: 1.25rem;}
.history-list > li + li {margin-top: 2rem;}
.history-list > li::before {content: none;}
.history-year {width: auto; padding: 0; font-size: 1.25rem; line-height: 1.75rem;}
.history-desc > li {padding: 1.25rem; border-bottom: none; border-radius: 0.5rem; background-color: var(--colorElement-light-fill-fill-default04);}
.history-desc > li + li {margin-top: 0.5rem;}
.history-desc > li > div {flex-direction: column; align-items: flex-start; gap: 0.25rem;}
.history-desc .history-date {width: auto; font-size: 0.875rem; line-height: 1.4rem;}
.history-desc .history-tit {font-size: 1.25rem; font-weight: 500; line-height: 1.875rem; color: var(--colorElement-light-text-text-default01);}
.history-btn {width: 2.5rem; height: 2.5rem; background-color: var(--colorElement-light-fill-fill-on-primary); background-size: 1.25rem 1.25rem;}
.history-list + .paging-wrap {margin-top: 2rem;}
.disc .paging-wrap + .btn-wrap {margin-top: 3.75rem;}


/* IR자료 (irdt) */
.irdt .cont-area-title {flex-direction: column; align-items: flex-start; gap: 0.5rem; padding: 0 1.25rem;}
.irdt .cont-area-title:has(> .select-box-wrap) {margin-bottom: 2rem;}
.irdt .cont-area-title .asterisk-text {font-size: 0.875rem; line-height: 1.4rem;}
.irdt .cont-area-title .selectbox-wrap {margin-top: 0.75rem; width: 100%;}
.irdt .history-list.type2 {margin-inline: 1.25rem;}
.irdt .history-list.type2 > li {gap: 0.25rem; margin-top: 0; padding: 1rem 1.5rem; border: none; border-radius: 0.5rem; background-color: var(--colorElement-light-fill-fill-default04);}
.irdt .history-list.type2 > li + li {margin-top: 0.5rem;}
.irdt .history-list.type2 > li:not(:first-child)::before {content: none;}
.irdt .history-list.type2 .history-desc > li {padding: 0; border-radius: 0; background-color: unset;}
.irdt .history-list.type2 .history-year {width: auto;}
.irdt .history-list.type2 .history-tit {font-size: 1rem; line-height: 1.5rem;}
.irdt .history-list.type2 .history-btn {position: absolute; top: 50%; right: 1.5rem; transform: translateY(-50%);}
.history-btn-wrap {gap: 0.5rem;}
.history-btn-wrap + .history-btn-wrap {margin-left: -0.13rem;}
.history-btn-wrap > span  {font-size: 0.8125rem; font-weight: 500; line-height: 1.1375rem;}
.history-btn-wrap .history-btn {width: 1.75rem; height: 1.75rem; background-size: 1rem 1rem;}

.box-container .history-btn-wrap {gap: 0;}
.box-container .history-btn-wrap > span  {font-size: 1rem; line-height: 1.4rem; flex-grow: 1;}

.history-desc > li:has(.history-btn-wrap) .history-tit {font-size: 1rem; line-height: 1.5rem;}
.history-desc > li:has(.history-btn-group) {flex-direction: column;}
.history-desc > li:has(.history-btn-group) > div {display: block; width: 100%;}
.history-desc > li > .history-btn-group {display: flex !important; flex-direction: row; justify-content: flex-start;}
.history-desc > li > .history-btn-group > a:not(:last-child) {padding-right: 1.25rem;}
.irdt .box-container {padding: 0 1.25rem;}
.irdt .box-container .article-tit {font-size: 1.125rem; font-weight: 600; line-height: 1.75rem;}
.irdt .box-container .accordion-content .table-area {padding-top: 2.5rem;}


/* 재무정보 (fina) */
.fina .box-container {padding: 0 1.25rem;}
.fina .box-container .content-box {display: block;}
.fina .box-container .content-box > li {padding: 1.5rem 1.25rem; border-radius: 0.5rem;}
.fina .box-container .content-box > li:not(:first-child) {margin-top: 1.5rem;}
.fina .box-container .content-box > li .box-text-wrap {margin-bottom: 1rem;}
.fina .box-container .content-box > li .box-text-wrap .box-title {font-size: 1.125rem; line-height: 1.75rem;}
.fina .box-container .content-box > li .box-text-wrap .box-year {font-size: 0.875rem; line-height: 1.4rem;}
.fina .box-container .content-box > li .box-item {flex-direction: column;  gap: 0.5rem;}
.fina .box-container .content-box > li .box-item > li {display:flex; width:100%; height: auto;  padding: 1.5rem 1.25rem; gap: 1.25rem; align-items: center;}
.fina .box-container .content-box > li .box-item > li .item-record {margin-bottom: 0; min-width: 4.5rem; font-size: 1.5rem; line-height: 2.1rem;}
.fina .box-container .content-box > li .box-item > li .item-text-wrap {text-align: left;}
.fina .box-container .content-box > li .box-item > li .item-title {font-size: 1rem; line-height: 1.5rem;}
.fina .box-container .content-box > li .box-item > li .item-desc {font-size: 1rem; line-height: 1.5rem;}
.fina .table-container {padding: 0;}
.fina .table-container .table-header {border-bottom: 0; padding: 0 1.25rem 1rem;}
.fina .table-container .table-wrap {padding: 0 1.25rem; }
.fina .table-header .table-title {font-size: 1.25rem; font-weight: 700; line-height: 1.75rem;}


.gray-box-area > ul {display: block; border-radius: 0.5rem; border: 1px solid var(--colorElement-light-stroke-stroke-default03); background:var(--colorElement-light-fill-fill-default04); padding: 1.75rem 1.5rem; margin-top: 2rem;}
.gray-box-area > ul > li {padding: 0; border-radius: 0; background-color: var(--colorElement-light-fill-fill-default04); width: 100%; height: auto;}
.gray-box-area > ul > li:not(:last-child)::after {content:""; display:block; width: 100%; height: 0.0625rem; background: var(--colorElement-light-stroke-stroke-default04); margin: 1.75rem 0;}
.gray-box-area > ul > li .box-wrap {align-items: center;}
.gray-box-area > ul > li .box-wrap:has(> .btn-group) {align-items: flex-start;}
.gray-box-area > ul > li .box-wrap .btn-group {flex-direction: column;}
.gray-box-area > ul > li .box-wrap a.icon-btn {width: 7.75rem; justify-content: center; background-color: #fff; height: 2.375rem;}
.gray-box-area > ul > li .box-wrap .title {font-size: 1rem; line-height: 1.5rem;}

.history-box {padding-top: 3rem;}
.history-box .history-list > li{padding-inline: 0;}
.history-box .history-desc {border-top: 2px solid var(--colorElement-light-stroke-stroke-default00);}
.history-box .history-list > li {gap: 1rem;}
.history-box .history-year {font-size: 1.375rem; line-height: 1.925rem;}
.history-box .history-tit {font-size: 1rem; line-height: 1.5rem; font-weight: 600;}
.history-box .history-desc > li {border-radius:0; background-color: transparent; border-bottom: 1px solid var(--colorElement-light-stroke-stroke-default03);}
.history-box .history-desc > li + li {margin-top: 0;}
.history-box .history-list > li + li {margin-top: 3rem;}


/* IR행사 */
.evt-schedule-top {padding-bottom: 3rem;}
.evt-schedule-top .schedule-head {margin-bottom: 1rem; padding: 0 1.28rem;}
.evt-schedule-top .schedule-head .year {font-size: 1.375rem; line-height: 1.925rem;}
.evt-schedule-top .schedule-month {overflow-x: scroll; margin: 0 1.25rem;}
.evt-schedule-top .schedule-month .item > a {width: 3.75rem; height: 3.75rem; border-radius: 0.5rem;}
.evt-schedule-top .schedule-month .item > a .month {font-size: 1.375rem; line-height: 1.925rem;}
.evt-schedule-top .schedule-month .item > a .month span {font-size: 0.875rem; line-height: 1.4rem; padding-left: 0;}
.evt-schedule-top .schedule-month .item.on > a {width: 5.5rem; height: 5.5rem; background: var(--colorElement-light-fill-fill-primary); border-color: var(--colorElement-light-fill-fill-primary);}
.evt-schedule-top .schedule-month .item.on > a .month {font-size: 2.5rem; line-height: 3.5rem;}
.evt-schedule-top .schedule-month .item.on > a .month span {font-size: 1rem; line-height: 1.5rem;}
.sort-wrap [class^=sort]::before {width: 0.375rem; height: 0.375rem;}
.schedule-head .sort-wrap {gap: 0.75rem;}
.schedule-head .sort-wrap [class^=sort] {padding-left: 0.75rem; font-size: 0.875rem; line-height: 1.4rem;}

.evt-schedule-bot {padding: 0 1.25rem;}
.evt-schedule-bot ul > li {padding: 1.25rem; border-radius: 0.5rem; display: inline-block; width: 100%; position: relative;}

.evt-schedule-bot ul > li .left-area {min-width: 100%; }
.evt-schedule-bot ul > li .left-area .date {display: inline-flex;}
.evt-schedule-bot ul > li .left-area .date p {font-size: 1.5rem; line-height: 2.1rem;}
.evt-schedule-bot ul > li .left-area .date p .day {font-size: 1rem; line-height: 1.6rem;}
.evt-schedule-bot ul > li .left-area .date em {font-size: 0.875rem; line-height: 1.4rem; padding: 0; margin: 0 0.25rem;}

.evt-schedule-bot ul > li .bar {width: 100%; height: 0.0625rem; margin: 1.25rem 0;}
.evt-schedule-bot ul > li .btn-badge {position: absolute; top: 1.25rem; right: 1.25rem; font-size: 0.75rem; line-height: 1rem; font-weight: 600; margin-top: 0.3rem;}
.evt-schedule-bot ul > li .center-area {display: block; max-width: 100%;}
.evt-schedule-bot ul > li .center-area .title {font-size: 1.125rem; line-height: 1.75rem; margin-bottom: 0.5rem;}
.evt-schedule-bot ul > li .right-area {text-align: left; min-width: 100%; width: 100%; margin-left: 0;}
.evt-schedule-bot ul > li .right-area .place {font-size: 0.875rem; line-height: 1.4rem;}

.evt-schedule-past {padding: 0 1.25rem;}
.evt-schedule-past .table-area {border-top: 2px solid #000;}
.evt-schedule-past .table-area .table-wrap colgroup {display: none;}
.evt-schedule-past .table-area .table-wrap thead {display: none;}
.evt-schedule-past .table-area .table-wrap tbody tr {display: flex; flex-direction: column; width: 100%; padding: 0 0.5rem;}
.evt-schedule-past .table-area .table-wrap tbody tr:first-child {padding-top: 1.25rem;}
.evt-schedule-past .table-area .table-wrap tbody tr::after {content:""; width: 100%; height: 1px; background:var(--colorElement-light-stroke-stroke-default03); display: block; margin: 1.25rem 0;}
.evt-schedule-past .table-area .table-wrap tbody tr:last-child::after {margin-bottom: 0;}
.evt-schedule-past .table-area .table-wrap tbody th,
.evt-schedule-past .table-area .table-wrap tbody td {border-bottom: 0; width: 100%; padding: 0; display: flex;}
.evt-schedule-past .table-area .table-wrap tbody td {font-size: 1rem; font-weight: 400; line-height: 1.5rem; color: var(--colorElement-light-text-text-default02);}
.evt-schedule-past .table-area .table-wrap .btn-group {flex-direction: column; align-items: flex-start; gap: 0.5rem;}
.evt-schedule-past .table-area .table-wrap .btn-group .title {font-size: 1.125rem; font-weight: 600; line-height: 1.75rem; margin-bottom: 0.5rem;}

/* 정도경영 (etmg) */
.etmg .cont-area-wrap .cont-area-intro .intro-desc {font-size: 1.125rem; font-weight: 600; line-height: 1.75rem;}
.etmg .cont-area-wrap .cont-area-intro .intro-desc > span {font-weight: 600;}
.etmg .cont-area-wrap .cont-area-intro .intro-desc:has(+ .sub-desc-wrap) {padding-bottom: 1rem;}
.etmg .cont-area-wrap .cont-area-intro .intro-banner {display: flex; flex-direction: column; gap: 1rem; padding-inline: 1.25rem;}
.etmg .cont-area-wrap .cont-area-intro .intro-banner::before {position: static; width: 3.125rem; height: 0.25rem;}
.etmg .cont-area-wrap .cont-area-intro .intro-banner > p {position: static; transform: unset; font-size: 2.5rem; line-height: 2.88rem; letter-spacing: -0.03125rem;}
.etmg .cont-area-wrap .cont-area-intro .intro-banner > p > span {color: unset;}
.etmg .cont-area-wrap .cont-area-intro .intro-banner > p > strong {font-size: 2.75rem; font-weight: 800;}
.etmg .cont-area-wrap .cont-area-intro .intro-banner .img-area {margin-left: 0; width: auto; margin-right: -1.25rem;}
.etmg .cont-area-wrap .cont-area-intro .intro-banner + .sub-desc-wrap {margin-top: 2rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap {margin-bottom: 1.5rem; padding-inline: 1.25rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap .sub-tit {font-size: 1rem; line-height: 1.5rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap > .sub-tit + ul {margin-top: 2rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap > ul {gap: 1rem;}
.etmg .cont-area-wrap .cont-area-intro .sub-desc-wrap .sub-desc {font-size: 0.875rem; line-height: 1.4rem;}
.etmg #tab1-content .cont-area-wrap.type2 .cont-area-intro .intro-desc {padding: 1.5rem 1.25rem 3.5rem;}
.etmg .info-text-area .subtit {font-size: 1.125rem; font-weight: 600; line-height: 1.75rem;}
.etmg .info-text-area .desc {font-size: 1rem; line-height: 1.5rem; margin-top: 1.5rem;}
.etmg .cont-area-wrap.type2 .cont-area-sect > section > .img-area {padding-bottom: 3.5rem; border-bottom: 1px solid var(--colorElement-light-stroke-stroke-default03);}
.etmg #tab1-content .cont-area-sect > section:first-child .img-area {margin-bottom: 3.5rem; padding-top: 0; padding-inline: 0;}
.etmg .info-text-area +.img-area {margin: 1.5rem auto; padding-inline: 0;}
.etmg #tab1-content .cont-area-wrap.type2 .cont-area-sect > section:last-child .info-text-area + .img-area {margin-top: 2rem; margin-bottom: 0;}
.etmg .accordion-list.type2 .accordion-btn {font-size: 1rem; line-height: 1.5rem;}
.etmg .accordion-list.type2.on .accordion-btn {font-size: 1.25rem; line-height: 1.75rem;}
.etmg .accordion-list.type2 .accordion-btn .acd-group {gap: 0.5rem;}
.etmg .accordion-list.type2 .accordion-btn .acd-group .acd-num {font-size: 1rem; line-height: 1.5rem;}
.etmg .accordion-list .accordion-content {margin-bottom: 0;}
.etmg .accordion-list .accordion-content .acd-con-tit {font-size: 1rem; line-height: 1.5rem;}
.etmg .acd-con-tit + .acd-desc-list {margin-top: 1.5rem;}
.etmg .acd-desc-list > li {flex-direction: column; gap: 0.5rem; margin-bottom: 1.5rem;}
.etmg .acd-desc-list > li + li {padding-top: 0; border: none;}
.etmg .acd-desc-list > li .acd-desc-num {width: auto; font-size: 1.125rem; line-height: 1.75rem;}
.etmg .acd-desc-list > li .acd-desc-con {display: flex; flex-direction: column; gap: 0.5rem;}
.etmg .acd-desc-list > li .acd-desc-con > li {font-size: 1rem; line-height: 1.5rem;}
.etmg .accordion-list + .btn-wrap {margin-top: 3rem;}
.etmg #tab3-content .cont-area-wrap.type2 .cont-area-intro .intro-desc {padding: 2rem 1.25rem 1.63rem;}
.etmg .desc-list-col2 {grid-template-columns: 1fr; gap: 1rem;}
.etmg .desc-col2 {padding: 2rem 1.25rem;}
.etmg .desc-col2.tit {font-size: 1.25rem; font-weight: 700; line-height: 1.875rem;}
.etmg .desc-col2.desc {font-size: 1rem; line-height: 1.6rem;}
.etmg .desc-col2 .tit + .desc {margin-top: 1rem;}
.etmg .desc-col2 .img-area {width: 6.25rem;}
.etmg .desc-box {gap: 0.62rem; padding: 1.5rem 1.25rem;}
.etmg .desc-box > li {align-items: flex-start; gap: 0.62rem;}
.etmg .desc-box .desc-box-tit {width: 5.62rem; gap: 0.5rem; font-size: 0.875rem; line-height: 1.3125rem;}
.etmg .desc-box .desc-box-tit img {width: 1.25rem; height: 1.25rem;}
.etmg .desc-box .desc-box-text {font-size: 0.875rem; line-height: 1.4rem;}
.etmg .desc-box + .box-link-list {margin-top: 2rem;}
.etmg .box-link-list {flex-direction: column; gap: 0.5rem;}
.etmg .box-link-list > li {max-width: unset;}
.etmg .box-link {flex-direction: row; justify-content: flex-start; padding: 1.25rem; font-size: 1rem; line-height: 1.6rem;}
.etmg .box-link .link-img {width: 3.75rem; height: 3.75rem;}
.etmg .box-link .link-img img {width: 2.34375rem;}
.etmg .box-link .link-text {display: flex; justify-content: space-between; width: 100%;}
.etmg .box-link .link-text::after {width: 1.5rem; height: 1.5rem;}


/* 회사소개 소개 CI (comp) */
.comp .intro-img-desc {padding-inline: 1.25rem;}
.comp .intro-img-desc {flex-direction: column; gap: 1.5rem;}
.comp .intro-img-desc .desc > p {font-size: 1.25rem; line-height: 1.925rem;}
.comp .intro-img-desc .desc > span {font-size: 1rem; line-height: 1.5rem; color: var(--colorElement-light-text-text-default02);}
.comp .intro-img-desc .img-area {width: 100%; padding-block: 3rem; border-radius: 0.5rem;}
.comp .intro-img-desc .img-area img {width: 7rem;}
.comp .ci-cont .ci-tit {font-size: 1.25rem; font-weight: 700; line-height: 1.75rem;}
.comp .ci-cont .ci-text {font-size: 1rem; line-height: 1.5rem;}
.comp .ci-cont + .ci-logo-wrap {margin-top: 1.5rem;}
.comp .ci-logo-wrap {flex-direction: column;}
.comp .ci-logo-wrap .ci-logo-tit {font-size: 1rem; font-weight: 600; line-height: 1.5rem;}
.comp .ci-logo-wrap .img-area {height: auto; padding-block: 2rem; border-radius: 0.5rem;}
.comp .ci-logo-wrap .img-area > img {height: 2rem;}
.comp .ci-logo-wrap .ci-logo-tit + .img-area {margin-top: 0.5rem;}
.comp .ci-color-wrap {flex-direction: column; gap: 1.5rem; padding-inline: 1.25rem;}
.comp .ci-color-wrap > div:not(.ci-cont) {flex-direction: column; padding-top: 0; width: 100%;}
.comp .ci-color-wrap .ci-color {flex-direction: row; height: 6rem; padding: 1rem;}
.comp .ci-color-wrap .ci-color .tit {font-size: 1.25rem; line-height: 1.75rem;}
.comp .ci-color-wrap .ci-color .text {font-size: 0.75rem; line-height: 1.2rem; text-align: right;}
/* mo 디자인 누락 */
.comp .ci-terms-wrap {padding-inline: 1.25rem;}
.comp .ci-terms-wrap .ci-cont + .acdItem {margin-top: 1.5rem;}
.comp .ci-terms-wrap .terms-wrap {display: flex; flex-direction: column; gap: 2rem;}
.comp .ci-terms-wrap .terms-wrap + .terms-wrap {margin-top: 2rem;}
.comp .ci-terms-wrap .terms-tit {font-size: 1.125rem; line-height: 1.68rem;}
.comp .ci-terms-wrap .terms-list { font-size: 1rem; line-height: 1.563rem;}
.comp .ci-terms-wrap .terms-list > li {display: flex; flex-direction: column; gap: 0.5rem;}
.comp .ci-terms-wrap .terms-list > li + li {margin-top: 1.5rem;}
.comp .ci-terms-wrap .terms-list > li > ol {margin-left: 1.5rem;}
/* // mo 디자인 누락 */


/* 글로벌네트워크 (netw) */
.netw .content-wrap {padding-top: 3.125rem;}
.netw .content-area-head-tab {position: sticky;}
.map-conts-area {display: block; padding: 1rem 1.25rem 13.69rem; background: var(--colorElement-light-fill-fill-default04);}
.map-conts-area .map-img {display: none;}
.map-conts-area .map-info .map-info-list {position: static; width: 100%; height: 100%; background: none; overflow: revert; padding:0 0 1rem;}

.map-info .map-info-list .selectbox-wrap.type2 {margin: 0;}
.map-info .map-info-list .selectbox-wrap.type2 .select-cate > button {min-width: 100%; max-width: 100%; background-color: #fff;}
.map-info {display: block;}
.map-info .map-info-content-box {position: static; width: 100%; height: 100%; opacity: 1; backdrop-filter: revert; box-shadow: revert; border: 1px solid var(--colorElement-light-stroke-stroke-default04); border-radius: 0.5rem; padding: 1.5rem;}
.map-info-content .map-info-content-box:not(:last-child) {margin-bottom: 1rem;}
.map-info-content-box .info-content-body .img-area {margin: 1rem 0; height: 5rem;}
.map-info-content-box .info-content-body .img-area img {width: 100%; height: 100%; border-radius: 0.5rem;}
.map-info-content-box .info-content-head .sort li {font-size: 0.875rem; line-height: 1.4rem;}
.map-info-content-box .info-content-head .sort li.badge {font-size: 0.75rem; line-height: 1.2rem;}
.map-info-content-box .info-content-head .title {font-size: 1.25rem; line-height: 1.75rem;}
.map-info-content-box .info-content-body > ul {gap:0.53rem;}
.map-info-content-box .info-content-body > ul > li p {font-size: 0.875rem; font-weight: 400; line-height: 1.4rem; color: var(--colorElement-light-text-text-default02);}
.map-info-content-box .info-content-body > ul > li img {margin: 0.12rem 0;}
.map-info-content-box .info-content-body .sns-area > ul > li {width: 2rem; height: 2rem;}
.map-info-content-box .info-content-body .sns-area > ul > li > a {width: 100%; height: 100%;}

/* 뉴스룸 */
.news h3{font-size:1.875rem;font-weight:700;margin: 2rem 0;}

.news-content-area{padding:0 1.25rem;margin-bottom:6.25rem; margin-top: 5.25rem;}
.news-content-area .top-bar{flex-direction:column-reverse;align-items:flex-start;gap:1.5rem;margin-bottom:1rem; width: 100%;}
.news-content-area .top-bar .mo-only {width: 100%;}
.news-content-area .top-bar .search-box{width:100%; box-sizing: border-box; padding: 1rem 1rem 1rem 1.5rem;}
.news-content-area .top-bar .search-box>button{width:2.5rem;padding:0.5rem}
.news-content-area .top-bar .search-box>input{width: 100%; flex: 1; }
.news-content-area .top-bar .search-box > input::placeholder {font-size: 1rem;}
.news-content-area .top-bar .total-count{font-size:1rem}
.news-content-area .news-list{margin-bottom:2rem}
.news-content-area .news-list .news-item{display:flex;flex-direction:column;gap:1rem;padding:2rem 0}
.news-content-area .news-list .news-item .news-image{width:100%;height:auto;aspect-ratio:320/183}
.news-content-area .news-list .news-item .news-content{gap:0}
.news-content-area .news-list .news-item .news-content>span{font-size:0.875rem;margin-bottom:0.5rem}
.news-content-area .news-list .news-item .news-content .news-title{font-size:1.125rem;line-height:1.75rem;margin-bottom:1rem;}
.news-content-area .news-list .news-item .news-content .news-title:has(+ .pc-only){margin-bottom:0;}
.news-content-area .news-list .news-item .news-content>p{font-size:1rem}
.news-content-area .news-list .news-item .news-image-wrapper>a{font-size:0.8125rem;padding:0.5rem 1rem}
.news-content-area .news-list .news-item .news-image-wrapper>a>img{width:1rem}

.news-content-area .search-result{display:flex;align-items:center;gap:1rem;justify-content:baseline;margin-bottom:3rem;padding-bottom:1.5rem;border-bottom:1px solid #C9CED1;width:auto; margin-top: 2rem;}
.news-content-area .search-result>input{font-size:1.375rem;width:100%;font-weight:600}
.news-content-area .search-result>input::placeholder {font-size: 1.375rem;}
.news-content-area .search-result>img{width:1.75rem}
.news-content-area .search-result>button>img{padding:0.41875rem;width:1.375rem}
.news-content-area .top-bar .total-result{border-bottom:0;margin-bottom:0;padding-bottom:0}
.news-content-area .top-bar .no-result{padding:4rem 0;margin-bottom:1rem}
.news .view-list-btn{width:100%;justify-content:center;font-size:1rem;padding:0.6875rem}
.news .view-list-btn>img{width:0.8125rem}
.news-detail-area{padding:0;background-color:#fff}
.news-detail-area .news-detail {margin-top: 5.25rem;}
.news-detail-area .news-detail .news-detail-tit{font-size:1.25rem;line-height:150%; font-weight: 700;}
.news-detail-area .news-detail{padding:0 1.25rem;gap:1rem;margin-bottom:1.5rem}
.news-detail-area .news-detail .news-info{padding-bottom:1rem;border-bottom:2px solid #555758}
.news-detail-area .news-detail .news-info button { padding: 0.5rem; }
.news-detail-area .news-detail .news-info button > img { width: 1.25rem; }
.news-detail-area .news-detail .news-info img { width: 1rem; }
.news-detail-area .news-detail .news-info span { font-size: 0.875rem; font-weight: 500; }
.news-detail-area .text-list-wrap { padding: 1rem; }
.news-detail-area .text-list-wrap .text-list > li { font-size: 0.875rem; line-height: 150%; }
.news-detail-area .text-list-wrap .text-list > li::before { top: 30%; }
.news-detail-area .news-image-wrapper { width: 100%; position: relative; display: flex; align-items: flex-end; flex-direction: column; }
.news-detail-area .news-image-wrapper img { height: 100%; }
.news-detail-area .news-image-wrapper .mo-only { display: flex !important; position: relative; margin-top: 1rem; width: fit-content; background-color: #171819; font-size: 0.8125rem; }

.news-detail-area .news-detail-text{font-size:1rem;line-height:160%;border-bottom:1px solid #555758;padding-bottom:2rem; color: #171819;}
.news-detail-area .news-pagination-wrap .pagination-tit-wrap>p{display:none}
.news-detail-area .news-pagination-wrap .news-pagination-left{align-items:center;padding:0.75rem 1rem;gap:1rem}
.news-detail-area .news-pagination-wrap .news-pagination-right{align-items:center;padding:0.75rem 1rem;gap:1rem}
.news-detail-area .news-pagination-wrap .news-pagination-btn{padding:0.375rem}
.news-detail-area .news-pagination-wrap .news-pagination-btn>img{width:1rem;height:1rem}
.news-detail-area .view-btn-wrap{margin:0 1.25rem;margin-bottom:6.25rem}

/* R&D */

/* FAQ */
.faq h3 {margin-top: 1.5rem; margin-bottom: 0;}
.faq .tab-content-box {padding: 1.5rem 0 2rem; margin-top: 1.5rem;}
.faq .paging-wrap {padding-bottom: 6rem;}
.faq .content-area {padding-top: 0;}
.faq .head-area,
.faq .content-area .tab-content{max-width: revert; width: 100%; padding: 0 1.25rem;}
.faq .tab-cate-wrap {padding: 0 0 0 1.25rem;}

.faq .tab-cate-wrap .tab-category {padding: 0; height: auto; gap: 0.5rem;}
.faq .tab-cate-wrap .tab-category > li button {padding: 0.53rem 1.5rem;} 
.faq .tab-cate-wrap .tab-category > li:last-child {padding-right: 1.25rem;}
.faq .news-content-area .search-result {border-bottom: 0; margin: 0; padding:2.16rem 0;}
.faq .news-content-area .search-result>img {width: 2rem;}
.faq .news-content-area .search-result>input {font-size: 1.25rem;}
.faq .news-content-area .search-result>input::placeholder {font-size: 1.25rem; line-height: 1.925rem;}
.faq .desc-wrap > button {margin-top: 1.5rem;}
.paging-wrap > .paging.mo-only {display: flex !important; justify-content: center;}
.paging-wrap > .paging.mo-only > li:not(.arrow) a  {width: 1.875rem; height: auto;}
.paging-wrap > .paging.mo-only > li a {font-size: 1rem; font-weight: 600; line-height: 1.5rem; margin: 0.125rem 0;}
.paging-wrap > .paging.mo-only > li a > img {width: 1.5rem; height: 1.5rem;}
.paging-wrap > .paging.mo-only > li.arrow.prev {margin-right: 1rem;}
.paging-wrap > .paging.mo-only > li.arrow.next {margin-left: 1rem;}

}