<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name=" format-detection" content="telephone=no">
  <title>LG에너지솔루션</title>
  <link type="text/css" rel="stylesheet" href="../../inc/css/swiper.min.css" />
  <link type="text/css" rel="stylesheet" href="../../inc/css/common.css" />
</head>

<body>
  <div class="skip-navigation">
    <a href="#container">본문 바로가기</a>
  </div>
  <div class="wrap">
    <!-- header -->
    <header class="header-wrap">
      <div class="header-cont">
        <div class="header-item">
          <h1 class="logo">
          </h1>
          <div class="sitemap-wrap">
            <button class="mo-only nav-btn" title="메뉴 열기">
              <span class="line"></span>
              <span class="line"></span>
            </button>
            <nav class="nav-wrap">
              <ul class="gnb__tab-btn-wrap">
                <li>
                  <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <a class="header-inquiry_btn">간편문의</a>
        </div>
        <div class="utile-wrap">
          <div class="utile-cont">
            <div class="utile-item">
             
            </div>
            <div class="utile-item02">
              <ul class="utile-list">
                <li>
                  <a href="#"></a>
                </li>
                <li>
                  <a href="#"></a>
                </li>
                <li>
                  <a href="#"></a>
                </li>
                <li>
                  <a href="#"></a>
                </li>
                <li>
                  <a href="#"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- //header -->
    <!-- section -->
    <section id="container" class="content-wrap">
      <div class="content-header">
        <div class="content-header-cont">
          <div class="subp-tit-area">
            <p class="subp-txt">Introduction to LGens Service</p>
            <h3 class="subp-tit">LG에너지솔루션 소개</h3>
          </div>
          <ul class="page-map-wrap">
            <li><a href="/">홈</a></li>
            <li><a href="#">회사소개</a></li>
            <li>
              <button>LG에너지솔루션 소개</button>
              <ul class="page-map">
                <li><a herf="#">메뉴 명</a></li>
                <li><a herf="#">메뉴 명</a></li>
                <li><a herf="#">메뉴 명</a></li>
                <li><a herf="#">메뉴 명</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="content-header_bg">
          <!-- <div class="white_bg"></div> -->
          <img src="../../inc/images/img/INT_001_img_submain.png" alt="">
        </div>
      </div>
      <div class="content-area">
        <!-- content-item01 -->
        <div class="content-item01">
        </div>
        <!-- //content-item01 -->
        <!-- content-item02 -->
        <div class="content-item02">
        </div>
        <!-- //content-item02 -->
        <!-- content-item03 -->
        <div class="content-item03">
        </div>
        <!-- //content-item03 -->
      </div>
    </section>
    <!-- // section -->
    <!-- footer -->
    <footer class="footer-wrap">
      <div class="footer-area">
        <a class="footer-logo">
          <img src="../../inc/images/img/img_logo.svg" alt="LG에너지솔루션" />
        </a>
        <a class="footer-inquiry_btn mo-only">간편문의</a>
        <div class="footer-item01">
          <ul class="footer-site_map">
            <li>
              <p class="footer-site_map-tit">회사소개</p>
              <ul>
                <li><a href="#">LG에너지솔루션 소개</a></li>
                <li><a href="#">우리의 비전</a></li>
                <li><a href="#">대표이사 인사말</a></li>
                <li><a href="#">조직도</a></li>
                <li><a href="#">연혁</a></li>
                <li><a href="#">CI 소개</a></li>
                <li><a href="#">찾아오시는 길</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="footer-item02">
          <div class="select-wrap">
            <button class="select-btn select-js">관계사 사이트</button>
            <ul class="select-cont">
              <li><a herf="#"></a></li>
              <li><a herf="#"></a></li>
              <li><a herf="#"></a></li>
              <li><a herf="#"></a></li>
              <li><a herf="#"></a></li>
              <li><a herf="#"></a></li>
              <li><a herf="#"></a></li>
              <li><a herf="#"></a></li>
              <li><a herf="#"></a></li>
              <li><a herf="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <ul class="footer-util">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li>대표전화 <span class="pc-only"></span><a class="mo-only" href="tel:"></a>
          </li>
        </ul>
        <div class="footer-info">
          <address></address>
          <p class="copyright"></p>
        </div>
      </div>
    </footer>
    <!-- // footer -->
    <!-- article - pop-wrap -->
    <article class="pop-wrap">

    </article>
    <!-- //article - popup -->
  </div>

  <script type="text/javascript" src="../../inc/js/jquery-3.7.1.slim.min.js"></script>
  <script type="text/javascript" src="../../inc/js/swiper.min.js"></script>
  <!-- <script type="text/javascript" src="../../inc/js/plugins.js"></script> -->
  <script type="text/javascript" src="../../inc/js/com-ui.js"></script>
</body>

</html>