<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>LG에너지솔루션 | Component - Calendar</title>
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/shCoreDefault.css" />
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/guide.css" />
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/swiper.min.css" />    
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/common.css" />
    <body>
        <div class="skip-navigation">
            <a href="#container">본문 바로가기</a>
        </div>
        <div class="guide-wrapper">
          <div class="wrap cyanogen">
            <section class="guide-section intro">
              <div class="guide-header">
                <p class="guide-title-h3">Calendar : 문의하기 폼에 사용중</p>
                <div class="btn-wrap">
                  <a href="../ui-guide.html" class="txt-btn02 txt-btn-sm">Component 페이지로 돌아가기</a>
                </div>
              </div>
              <h3 class="guide-title-h3 color-type-black">* 컴포넌트 사용시 유의사항</h3>
              <ul class="guide-list">
                <li>                                             
                  <p>캘린더팝업 id값 정의시: 대상 캘린더 버튼과 id값 동일 + Calendar 명명규칙 맞춰서 사용할것 </p>
                </li>
                <li>
                  <p>ex)캘린더 버튼 id가 supply-input이면 캘린더팝업 id supply-inputCalendar로 정의 </p>
                </li>
              </ul>
            </section>

            <section class="guide-section">
                
                <div class="wrap-form-input">
                    <div class="input-wrap">
                        <label for="supply-input">공급 예상 시기</label>
                        <div class="supply-input-wrap">
                            <!-- 캘린더 버튼-->
                            <div class="calendar-wrap">
                                <button type="button" class="calendar-btn" id="supply-input"> <!-- 대상 캘린더팝업 id와 동일명으로 매핑 -->
                                    <p class="title">날짜를 입력해주세요.</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- 
                * 컴포넌트 사용시 유의사항
                 캘린더팝업 id값 정의시: 대상 캘린더 버튼과 id값 동일 + Calendar 명명규칙 맞춰서 사용할것 
                 ex)캘린더 버튼 id가 supply-input이면 캘린더팝업 id supply-inputCalendar로 정의 -->
                <table class="calendar-box scriptCalendar" id="supply-inputCalendar">
                    <thead>
                        <tr class="calendar-head">
                            <td class="calendar-arr btn-prev" id="btnPrevCalendar"></td>
                            <td colspan="5" class="calendar-title">
                                <span id="calYear">YYYY</span>년
                                <span id="calMonth">MM</span>월
                            </td>
                            <td class="calendar-arr btn-next" id="nextNextCalendar"></td>
                        </tr>
                        <tr class="calendar-day">
                            <td>일</td><td>월</td><td>화</td><td>수</td><td>목</td><td>금</td><td>토</td>
                        </tr>
                    </thead>
                    <tbody class="box-day"></tbody>
                </table>
            </section>
          </div> <!-- //wrap-->
        </div> <!-- //guide-wrapper -->

    </body>
    <script type="text/javascript" src="../../public/inc/js/jquery-3.7.1.slim.min.js"></script>
    <script type="text/javascript" src="../../public/inc/js/swiper.min.js"></script>
    <script type="text/javascript" src="../../public/inc/js/pub-ui.js"></script>
</head>


</body>
</html>