<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>LG에너지솔루션 | Component - popup</title>
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/shCoreDefault.css" />
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/guide.css" />
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/swiper.min.css" />    
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/common.css" />
    </head>

    <body>
        <div class="skip-navigation">
            <a href="#container">본문 바로가기</a>
        </div>
        <div class="guide-wrapper">
          <div class="wrap cyanogen">
            <section class="guide-section intro">
              <div class="guide-header">
                <p class="guide-title-h3">Popup : tooltip 수정 필요...</p>
                <div class="btn-wrap">
                  <a href="../ui-guide.html" class="txt-btn02 txt-btn-sm">Component 페이지로 돌아가기</a>
                </div>
              </div>
              <ul class="guide-list">
                <li>
                  <p>팝업 컴포넌트의 마크업은 .wrap 바깥에 위치합니다.</p>
                </li>
                <li>
                  <p>
                    팝업에 있는 ID를 버튼의 "id" 에 적용합니다.
                  </p>
                </li>
              </ul>
            </section>

            <section class="guide-section">
              <p class="guide-title-h3">1. alert popup - .alert</p>                  
              <div class="btn-wrap">
                  <button type="button" class="act-btn-sm btn-primary01" id="popupAlertBtn1" onclick="pubUi.popUp.open('#popupAlert1','#popupAlertBtn1');">
                    popup alert
                  </button>
              </div>
              <div class="btn-wrap">
                  <button type="button" class="act-btn-sm btn-primary01" id="popupAlertBtn2" onclick="pubUi.popUp.open('#popupAlert2','#popupAlertBtn2');">
                    popup alert2
                  </button>
              </div>
            </section>
            <section class="guide-section">
              <p class="guide-title-h3">2. dialog popup - .dialog</p>                  
              <div class="btn-wrap">
                  <button type="button" class="act-btn-sm btn-primary01" id="popupDialogBtn1" onclick="pubUi.popUp.open('#popupDialog1','#popupDialogBtn1');">
                    popup dialog - 버튼 1개 케이스
                  </button>
              </div>
              <div class="btn-wrap">
                  <button type="button" class="act-btn-sm btn-primary01" id="popupDialogBtn2" onclick="pubUi.popUp.open('#popupDialog2','#popupDialogBtn2');">
                    popup dialog - 버튼 2개 케이스
                  </button>
              </div>
            </section>
            <section class="guide-section">
              <p class="guide-title-h3">3. full popup - .full</p>                  
              <div class="btn-wrap">
                  <button type="button" class="act-btn-sm btn-primary01" id="popupFullBtn1" onclick="pubUi.popUp.open('#popupFull1','#popupFullBtn1');">
                    popup full
                  </button>
              </div>
            </section>
            <section class="guide-section">
              <p class="guide-title-h3">4. tooltip popup - .tooltip</p>                  
              <div class="btn-wrap">
                  <button type="button" class="act-btn-sm btn-primary01" id="popupTooltipBtn1-1" onclick="pubUi.popUp.open('#popupTooltip1-1',this);"> <!-- ★ tooltip일 경우는, 버튼 onclick="pubUi.popUp.open()" 이벤트 실행시 후위 파라미터 this로 넘길 것 -->
                    tooltip Layer popup - 하단 좌측 노출
                  </button>
              </div>
              <div class="btn-wrap">
                <button type="button" class="act-btn-sm btn-primary01" id="popupTooltipBtn1-2" onclick="pubUi.popUp.open('#popupTooltip1-2',this);"> <!-- ★ tooltip일 경우는, 버튼 onclick="pubUi.popUp.open()" 이벤트 실행시 후위 파라미터 this로 넘길 것 -->
                  tooltip Layer popup - 하단 우측 노출
                </button>
              </div>
              <div class="btn-wrap">
                  <button type="button" class="act-btn-sm btn-primary01" id="popupTooltipBtn2-1" onclick="pubUi.popUp.open('#popupTooltip2-1',this);"> <!-- ★ tooltip일 경우는, 버튼 onclick="pubUi.popUp.open()" 이벤트 실행시 후위 파라미터 this로 넘길 것 -->
                    tooltip Layer popup - 상단 좌측 노출
                  </button>
              </div>
              <div class="btn-wrap">
                <button type="button" class="act-btn-sm btn-primary01" id="popupTooltipBtn2-2" onclick="pubUi.popUp.open('#popupTooltip2-2',this);"> <!-- ★ tooltip일 경우는, 버튼 onclick="pubUi.popUp.open()" 이벤트 실행시 후위 파라미터 this로 넘길 것 -->
                  tooltip Layer popup - 상단 우측 노출
                </button>
              </div>
            </section>
          </div> <!-- //wrap-->
        </div> <!-- //guide-wrapper -->
        
        <!-- popup -->
        <!-- toast popup -->
        <div class="modal-pop toast" id="popupToast1">
          <div class="pop-wrap">
              <div class="pop-content">                
                <div class="title">
                  <h3>URL이 복사되었습니다. 원하는 곳에 붙여 넣으세요.</h3>
                </div>
              </div>
          </div>
        </div>

        <!-- popupAlert1-->
        <div class="modal-pop alert" id="popupAlert1">
          <div class="pop-wrap">
              <div class="pop-content">
                <div class="img-wrap">
                  <img src="" alt="" onerror="this.onerror=null; this.src='../../public/inc/images/img/img_dummy_square.png';">
                </div>
                <div class="title">
                  <h3>제목을 입력하세요</h3>
                </div>
                <p class="desc">LG에너지솔루션은 고객의 기대를 위해 끊임없이 노력하고 있습니다.</p>
                <div class="btn-wrap">
                  <a href="#" class="txt-btn01 txt-btn-sm">Button</a>
                </div>
              </div>
              <div class="pop-footer">
                <div class="btn-wrap">
                  <div class="btn-group">
                    <button type="button" class="act-btn-md btn-outline01 btn-cancel" onclick="pubUi.popUp.close('#popupAlert1', '#popupAlertBtn1')">취소</button>
                    <button type="button" class="act-btn-md btn-primary01 btn-confirm">확인</button>
                  </div>
                </div>
              </div>
              <!-- <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupDialog1','#popupDialogBtn1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button> -->
          </div>
        </div>

        <!-- popupAlert2 : pop-header 존재하는 케이스 -->
        <div class="modal-pop alert" id="popupAlert2">
          <div class="pop-wrap">
              <div class="pop-header">
                <h3 class="title">제목을 입력하세요</h3>
              </div>
              <!-- <div class="pop-content">
                <div class="img-wrap">
                  <img src="" alt="" onerror="this.onerror=null; this.src='../../public/inc/images/img/img_dummy_square.png';">
                </div>
                <div class="title">
                  <h3>제목을 입력하세요</h3>
                </div>
                <p class="desc">LG에너지솔루션은 고객의 기대를 위해 끊임없이 노력하고 있습니다.</p>
                <div class="btn-wrap">
                  <a href="#" class="txt-btn01 txt-btn-sm">Button</a>
                </div>
              </div> -->
              <div class="pop-footer">
                <div class="btn-wrap">
                  <div class="btn-group">
                    <button type="button" class="act-btn-md btn-outline01 btn-cancel" onclick="pubUi.popUp.close('#popupAlert2', '#popupAlertBtn2')">취소</button>
                    <button type="button" class="act-btn-md btn-primary01 btn-confirm">확인</button>
                  </div>
                </div>
              </div>
              <!-- <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupDialog1','#popupDialogBtn1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button> -->
          </div>
        </div>

        <!-- popupDialog : confirm dialog(Maximum) : button 1개 -->
        <div class="modal-pop dialog" id="popupDialog1">
          <div class="pop-wrap">
              <div class="pop-header">
                  <h3 class="title">제목을 입력하세요</h3>
              </div>
              <div class="pop-content">
                <div class="img-wrap ty-rect">
                  <img src="" alt="" onerror="this.onerror=null; this.src='../../public/inc/images/img/img_dummy_rectangle.png';">
                </div>
                <p class="desc">LG에너지솔루션은 고객의 기대를 뛰어넘는 제품 품질을 제공하기 위해 끊임없이 노력하고 있습니다. 철저한 품질경영시스템을 구축하고 모든 제조공정에서 품질과 안전성을 높이기 위한 활동을 전개해 나가고 있으며, 지속적인 개선 노력과 노하우를 공유해 임직원 및 협력회사가 함께 품질관리를 위한 협력을 강화해 나가고 있습니다.</p>
                <div class="btn-wrap">
                  <a href="#" class="txt-btn01 txt-btn-lg">Button</a>
                </div>
              </div>
              <div class="pop-footer">
                <div class="btn-wrap">
                  <button type="button" class="act-btn-lg btn-primary01" onclick="pubUi.popUp.close('#popupDialog1','#popupDialogBtn1');">확인</button>
                </div>
              </div>
              <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupDialog1','#popupDialogBtn1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button>
          </div>
        </div>

        <!-- popupDialog : confirm dialog(Maximum) : button 2개 -->
        <div class="modal-pop dialog" id="popupDialog2">
          <div class="pop-wrap">
              <div class="pop-header">
                  <h3 class="title">제목을 입력하세요</h3>
              </div>
              <div class="pop-content">
                <div class="img-wrap ty-rect">
                  <img src="" alt="" onerror="this.onerror=null; this.src='../../public/inc/images/img/img_dummy_rectangle.png';">
                </div>
                <p class="desc">LG에너지솔루션은 고객의 기대를 뛰어넘는 제품 품질을 제공하기 위해 끊임없이 노력하고 있습니다. 철저한 품질경영시스템을 구축하고 모든 제조공정에서 품질과 안전성을 높이기 위한 활동을 전개해 나가고 있으며, 지속적인 개선 노력과 노하우를 공유해 임직원 및 협력회사가 함께 품질관리를 위한 협력을 강화해 나가고 있습니다.</p>
                <div class="btn-wrap">
                  <a href="#" class="txt-btn01 txt-btn-lg">Button</a>
                </div>
              </div>
              <div class="pop-footer">
                <div class="btn-wrap">
                  <div class="btn-group">
                    <button type="button" class="act-btn-lg btn-outline01 btn-cancel" onclick="pubUi.popUp.close('#popupDialog2','#popupDialogBtn2')">취소</button>
                    <button type="button" class="act-btn-lg btn-primary01 btn-confirm" onclick="pubUi.popUp.close('#popupDialog2','#popupDialogBtn2');">확인</button>
                  </div>
                </div>
              </div>
              <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupDialog2','#popupDialogBtn2');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button>
          </div>
        </div>

        <!-- popup full : fullpage popup -->
        <div class="modal-pop full" id="popupFull1">
          <div class="pop-wrap">
              <div class="pop-header">
                  <h3 class="title">팝업 타이틀</h3>
              </div>
              <div class="pop-content">
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <!-- <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p> -->
              </div>
              <div class="pop-footer">
                <div class="btn-wrap">
                  <button type="button" class="act-btn-md btn-primary01" onclick="pubUi.popUp.close('#popupFull1','#popupFullBtn1');">확인</button>
                </div>
              </div>
              <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupFull1','#popupFullBtn1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button>
          </div>
        </div>

        <!-- popup tooltip : tooltip Layer popup -->
        <!-- 클릭한 영역 하단 노출 / 툴팁 화살표 위치 left(default) -->
        <div class="modal-pop tooltip" id="popupTooltip1-1">          
          <div class="tooltip-arrow"></div>
          <div class="pop-wrap">              
              <div class="pop-header">
                  <h3 class="title">제목을 입력하세요</h3>
              </div>
              <div class="pop-content">
                <p class="desc">LG에너지솔루션은 고객의 기대를 뛰어넘는 제품 품질을 제공하기 위해 끊임없이 노력하고 있습니다. 철저한 품질경영시스템을 구축하고 모든 제조공정에서 품질과 안전성을 높이기 위한 활동을 전개해 나가고 있으며, 지속적인 개선 노력과 노하우를 공유해 임직원 및 협력회사가 함께 품질관리를 위한 협력을 강화해 나가고 있습니다.</p>
              </div>
              <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupTooltip1-1', '#popupTooltipBtn1-1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button> 
          </div>
        </div>       

        <!-- 클릭한 영역 하단 노출 / 툴팁 화살표 위치 right(right 클래스 추가 필요) -->
        <div class="modal-pop tooltip" id="popupTooltip1-2">          
          <div class="tooltip-arrow right"></div>
          <div class="pop-wrap">              
              <div class="pop-header">
                  <h3 class="title">제목을 입력하세요</h3>
              </div>
              <div class="pop-content">
                <p class="desc">LG에너지솔루션은 고객의 기대를 뛰어넘는 제품 품질을 제공하기 위해 끊임없이 노력하고 있습니다. 철저한 품질경영시스템을 구축하고 모든 제조공정에서 품질과 안전성을 높이기 위한 활동을 전개해 나가고 있으며, 지속적인 개선 노력과 노하우를 공유해 임직원 및 협력회사가 함께 품질관리를 위한 협력을 강화해 나가고 있습니다.</p>
              </div>
              <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupTooltip1-2', '#popupTooltipBtn1-2');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button> 
          </div>
        </div>

        <!-- 클릭한 영역 상단 노출 / 툴팁 화살표 위치 left : top 클래스 추가 필요 -->
        <div class="modal-pop tooltip" id="popupTooltip2-1">          
          <div class="tooltip-arrow top"></div>
          <div class="pop-wrap">
              <div class="pop-header">
                  <h3 class="title">제목을 입력하세요</h3>
              </div>
              <div class="pop-content">
                <p class="desc">LG에너지솔루션은 고객의 기대를 뛰어넘는 제품 품질을 제공하기 위해 끊임없이 노력하고 있습니다. 철저한 품질경영시스템을 구축하고 모든 제조공정에서 품질과 안전성을 높이기 위한 활동을 전개해 나가고 있으며, 지속적인 개선 노력과 노하우를 공유해 임직원 및 협력회사가 함께 품질관리를 위한 협력을 강화해 나가고 있습니다.</p>
              </div>
              <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupTooltip2-1', '#popupTooltipBtn1-1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button> 
          </div>
        </div>

        <!-- 클릭한 영역 상단 노출 / 툴팁 화살표 위치 right(top, right 클래스 추가 필요) -->
        <div class="modal-pop tooltip" id="popupTooltip2-2">          
          <div class="tooltip-arrow top right"></div>
          <div class="pop-wrap">              
              <div class="pop-header">
                  <h3 class="title">제목을 입력하세요</h3>
              </div>
              <div class="pop-content">
                <p class="desc">LG에너지솔루션은 고객의 기대를 뛰어넘는 제품 품질을 제공하기 위해 끊임없이 노력하고 있습니다. 철저한 품질경영시스템을 구축하고 모든 제조공정에서 품질과 안전성을 높이기 위한 활동을 전개해 나가고 있으며, 지속적인 개선 노력과 노하우를 공유해 임직원 및 협력회사가 함께 품질관리를 위한 협력을 강화해 나가고 있습니다.</p>
              </div>
              <button type="button" class="pop-close" data-action="close" onclick="pubUi.popUp.close('#popupTooltip2-2', '#popupTooltipBtn1-2');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button> 
          </div>
        </div>



        <script type="text/javascript" src="../../public/inc/js/jquery-3.7.1.slim.min.js"></script>
        <!-- <script type="text/javascript" src="../../public/inc/js/swiper.min.js"></script> -->
        <!-- <script type="text/javascript" src="../../public/inc/js/plugins.js"></script> -->
        <script type="text/javascript" src="../../public/inc/js/com-ui.js"></script>
        <script type="text/javascript" src="../../public/inc/js/pub-ui.js"></script>
    </body>
</html>
