<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>LG에너지솔루션 | Component - popup</title>
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/shCoreDefault.css" />
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/guide.css" />
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/swiper.min.css" />    
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/common.css" />
    </head>

    <body>
        <div class="skip-navigation">
            <a href="#container">본문 바로가기</a>
        </div>
        <div class="guide-wrapper">
          <div class="wrap">
            <section class="guide-section intro">
              <div class="guide-header">
                <p class="guide-title-h3">Popup Component (작업중)</p>                
                <div class="btn-wrap">
                  <a href="../ui-guide.html" class="txt-btn02 txt-btn-sm">이전페이지로 돌아가기</a>
                </div>
              </div>
              <ul class="guide-list">
                <li>
                  <p>팝업 컴포넌트의 마크업은 .wrap 바깥에 위치합니다.</p>
                </li>
                <li>
                  <p>
                    팝업에 있는 ID를 버튼의 "id" 에 적용합니다.
                  </p>
                </li>
              </ul>
            </section>

            <section class="guide-section">
              <p class="guide-title-h3">1. alert popup - .alert</p>                  
              <div class="btn-wrap">
                  <button type="button" class="act-btn-sm btn-primary01" id="popupAlertBtn1" onclick="popUp.open('#popupAlert1','#popupAlertBtn1');">
                    popup alert
                  </button>
              </div>              
            </section>
            <section class="guide-section">
              <p class="guide-title-h3">2. dialog popup - .dialog</p>                  
              <div class="btn-wrap">
                  <button type="button" class="act-btn-sm btn-primary01" id="popupDialogBtn1" onclick="popUp.open('#popupDialog1','#popupDialogBtn1');">
                    popup dialog
                  </button>
              </div>
            </section>
          </div> <!-- //wrap-->

        </div>
        <!-- popup -->
        <!-- popupAlert1-->
        <div class="modal-pop alert" id="popupAlert1">
          <div class="pop-wrap">
              <div class="pop-header">
                  <h3>팝업 타이틀</h3>
              </div>
              <div class="pop-content">
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
              </div>
              <div class="pop-footer">
                <div class="btn-wrap">
                  <button type="button" class="act-btn-lg btn-primary01">확인</button>
                </div>
              </div>
              <button type="button" class="pop-close" data-action="close" onclick="popUp.close('#popupDialog1','#popupDialogBtn1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button>
          </div>
        </div>

        <!-- popupDialog : confirm dialog(Maximum) -->
        <div class="modal-pop dialog" id="popupDialog1">
          <div class="pop-wrap">
              <div class="pop-header">
                  <h3>팝업 타이틀</h3>
              </div>
              <div class="pop-content">
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
                <p>내용을 입력해주세요</p>
              </div>
              <div class="pop-footer">
                <div class="btn-wrap">
                  <button type="button" class="act-btn-lg btn-primary01" onclick="popUp.close('#popupDialog1','#popupDialogBtn1');">확인</button>
                </div>
              </div>
              <button type="button" class="pop-close" data-action="close" onclick="popUp.close('#popupDialog1','#popupDialogBtn1');" title="팝업 닫기"><span class="blind">팝업 닫기</span></button>
          </div>
        </div>

        <script type="text/javascript" src="../../public/inc/js/jquery-3.7.1.slim.min.js"></script>
        <!-- <script type="text/javascript" src="../../public/inc/js/swiper.min.js"></script> -->
        <!-- <script type="text/javascript" src="../../public/inc/js/plugins.js"></script> -->
        <script type="text/javascript" src="../../public/inc/js/com-ui.js"></script>
        <script type="text/javascript" src="../../public/inc/js/pub-ui.js"></script>
    </body>
</html>
