<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>LG에너지솔루션 | Component - swiper</title>
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/shCoreDefault.css" />
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/guide.css" />
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/swiper.min.css" />  <!-- swiper.js 라이브러리 사용시 추가 필요 -->  
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/common.css" />
    </head>

    <body>
        <div class="skip-navigation">
            <a href="#container">본문 바로가기</a>
        </div>
        <div class="guide-wrapper">
          <div class="wrap">
            <section class="guide-section intro">
              <div class="guide-header">
                <p class="guide-title-h3">swiper</p>
                <div class="btn-wrap">
                  <a href="../ui-guide.html" class="txt-btn02 txt-btn-sm">Component 페이지로 돌아가기</a>
                </div>
              </div>
              <ul class="guide-list">
                <li>
                  <p>swiper.js 라이브러리를 사용</p>
                </li>
                <li>
                  <p>
                    swiper.js 적용하고자하는 마크업 위치에 하단의 타입별 class를 부여하여 사용
                  </p>
                </li>
              </ul>
            </section>

            <section class="guide-section">
                <p class="guide-title-h3">type01Swiper : 기본 타입 클래스 : 뉴스룸 상세 사용중</p>              
                <!-- 추후 페이지네이션 추가해야함 -->
                <div class="swiper type01Swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../public/inc/images/img/newsroom02_cont1.png" class='news-image' alt="뉴스 이미지">
                        <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn pc-only">
                            이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                        </a>
                        <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn mo-only">
                            전체 이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../public/inc/images/img/newsroom02_cont1.png" class='news-image' alt="뉴스 이미지">
                        <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn pc-only">
                            이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                        </a>
                        <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn mo-only">
                            전체 이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../public/inc/images/img/newsroom02_cont1.png" class='news-image' alt="뉴스 이미지">
                        <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn pc-only">
                            이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                        </a>
                        <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn mo-only">
                            전체 이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../public/inc/images/img/newsroom02_cont1.png" class='news-image' alt="뉴스 이미지">
                        <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn pc-only">
                            이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                        </a>
                        <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn mo-only">
                            전체 이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                        </a>
                    </div>
                </div>
                <div class="swiper-paging-wrap">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
                </div>
            </section>
          </div> <!-- //wrap-->
        </div> <!-- //guide-wrapper -->

        <script type="text/javascript" src="../../public/inc/js/jquery-3.7.1.slim.min.js"></script>
        <script type="text/javascript" src="../../public/inc/js/swiper.min.js"></script> <!-- swiper.js 사용시 추가 필요 -->
        <script type="text/javascript" src="../../public/inc/js/com-ui.js"></script>
        <script type="text/javascript" src="../../public/inc/js/pub-ui.js"></script>
    </body>
</html>
