<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>LG에너지솔루션 | Component - swiper</title>
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/shCoreDefault.css" />
    <link type="text/css" rel="stylesheet" href="../../guide/inc/css/guide.css" />
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/swiper.min.css" />  <!-- swiper.js 라이브러리 사용시 추가 필요 -->  
    <link type="text/css" rel="stylesheet" href="../../public/inc/css/common.css" />
    </head>

    <body>
        <div class="skip-navigation">
            <a href="#container">본문 바로가기</a>
        </div>
        <div class="guide-wrapper">
          <div class="wrap">
            <section class="guide-section intro">
              <div class="guide-header">
                <p class="guide-title-h3">swiper</p>
                <div class="btn-wrap">
                  <a href="../ui-guide.html" class="txt-btn02 txt-btn-sm">Component 페이지로 돌아가기</a>
                </div>
              </div>
              <ul class="guide-list">
                <li>
                  <p>swiper.js 라이브러리를 사용</p>
                </li>
                <li>
                  <p> 
                    swiper.js 적용하고자하는 마크업 위치에 하단의 타입별 class를 부여하여 사용
                  </p>
                </li>
              </ul>
            </section>

            <section class="guide-section">
                <p class="guide-title-h3">type01Swiper : 기본 타입 클래스 : 뉴스룸 상세 사용중</p>                              
                <div class="swiper type01Swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../public/inc/images/img/newsroom02_cont1.png" class='news-image' alt="뉴스 이미지">
                            <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn pc-only">
                                이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                            </a>
                            <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn mo-only">
                                전체 이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../public/inc/images/img/newsroom02_cont1.png" class='news-image' alt="뉴스 이미지">
                            <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn pc-only">
                                이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                            </a>
                            <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn mo-only">
                                전체 이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../public/inc/images/img/newsroom02_cont1.png" class='news-image' alt="뉴스 이미지">
                            <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn pc-only">
                                이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                            </a>
                            <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn mo-only">
                                전체 이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../public/inc/images/img/newsroom02_cont1.png" class='news-image' alt="뉴스 이미지">
                            <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn pc-only">
                                이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                            </a>
                            <a href="../../public/inc/images/img/newsroom02_cont1.png" download class="swiper-download-btn mo-only">
                                전체 이미지<img src="../../public/inc/images/icon/icon_arrow_download_wh.svg" alt="이미지 다운로드">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-paging-wrap">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
            <section class="guide-section">
                <p class="guide-title-h3">type02Swiper : 회사소개 > 회사개요 사용중</p>              
                <div class="content-item02 bg-skyblue">
                  <div class="content-wrap">
                      <h2 class="title-h2">사업영역</h2> <!-- title-h2 (서브타이틀)-->
                      <div class="swiper type02Swiper">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <div class="content-sect">
                                      <div class="flex-box">
                                          <div class="left-area">
                                              <div class="img-wrap">
                                                  <div class="number">
                                                      <img src="../../public/inc/images/img/number_01.png" alt="01">
                                                  </div>
                                                  <div class="content">
                                                      <img src="../../public/inc/images/img/comp_swiper1_img01.png" alt="">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="sect-box">
                                              <p class="sub-title">Advanced Automotive Battery</p>
                                              <h2 class="title-h1">자동차전지</h2>
                                              <p class="info-desc">세계 최고의 배터리 기술력과 강력한 글로벌 생산능력으로, 전기차 대중화와<br class="pc-only">
                                                  함께 미래 모빌리티 혁신을 이끌어갑니다.</p>
                                              <div class="info-box">
                                                  <p class="desc">
                                                      에너지 밀도를 극대화하고 주행거리를 높인 ‘롱셀’ 배터리와 같이 세계 최고의 기술이 집약된 <br class="pc-only">
                                                      제품과 안정적인 글로벌 생산 능력을 바탕으로 글로벌 Top-Tier의 완성차 업체와 전략적 파트너십을<br class="pc-only">
                                                      구축하며 글로벌 전기차 시장을 선도하고 있습니다.
                                                  </p>
                                                  <p class="desc">
                                                      셀, 모듈, BMS(Battery Management System), 팩은 물론 기술 지원까지 가능한 토탈 배터리 <br class="pc-only">
                                                      솔루션과 차별화된 배터리 성능을 기반으로 전기버스, 전기트럭, 전기선박, UAM 등 배터리 분야의 <br class="pc-only">
                                                      신시장을 개척하며 미래 모빌리티 혁신에도 앞장서고 있습니다. <br class="pc-only">
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="content-sect">
                                      <div class="flex-box">
                                          <div class="left-area">
                                              <div class="img-wrap">
                                                  <div class="number">
                                                      <img src="../../public/inc/images/img/number_02.png" alt="02">
                                                  </div>
                                                  <div class="content">
                                                      <img src="../../public/inc/images/img/comp_swiper1_img02.png" alt="">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="sect-box">
                                              <p class="sub-title">IT & New Application Battery Division</p>
                                              <h2 class="title-h1">소형전지</h2>
                                              <p class="info-desc">소재 기술을 기반으로 한 압도적인 배터리 퍼포먼스와 플렉서블한<br class="pc-only"> 배터리 디자인으로 IT기기, LEV 등 다양한 디바이스에 적용해<br class="pc-only"> Battery of Thing(BOT) 시대를 열어갑니다.</p>
                                              <div class="info-box">
                                                  <p class="desc">
                                                      세계 최초로 개발한 자유로운 모양의 프리폼 배터리와 고성능의 표준화 배터리로 IT디바이스, 가전, <br class="pc-only">
                                                      LEV(Light Electric Vehicle) 등 다양한 제품에 탑재되며 소형 배터리 시장을 선도하고 있습니다. 
                                                  </p>
                                                  <p class="desc">
                                                      첨단소재 기술과 공정 혁신이 적용된 고용량·고출력·초슬림을 충족시키는 제품 기술력을 바탕으로 <br class="pc-only">
                                                      드론, 로봇, 전기차 등 미래기술 분야에 배터리를 적용시키며 일상 속 모든 제품에 배터리가 있는 <br class="pc-only">
                                                      Battery of Thing(BOT) 시대를 만들어 가는데 기여하고 있습니다. 
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="content-sect">
                                      <div class="flex-box">
                                          <div class="left-area">
                                              <div class="img-wrap">
                                                  <div class="number">
                                                      <img src="../../public/inc/images/img/number_03.png" alt="03">
                                                  </div>
                                                  <div class="content">
                                                      <img src="../../public/inc/images/img/comp_swiper1_img03.png" alt="">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="sect-box">
                                              <p class="sub-title">ESS Battery Division</p>
                                              <h2 class="title-h1">ESS전지</h2>
                                              <p class="info-desc">오랜 기간 축적해 온 배터리 제조 역량과 노하우가 적용된 <br class="pc-only">
                                                  ESS 제품 라인업을 바탕으로 탄소중립을 실천할 수 있도록 <br class="pc-only">
                                                  신재생에너지 보급 확대 및 스마트그리드 시대를 만들어갑니다. </p>
                                              <div class="info-box">
                                                  <p class="desc">
                                                      고성능, 고품질의 배터리와 양산 능력으로 전력망/상업/UPS용 등 다양한 ESS 용도 고객과 <br class="pc-only">
                                                      긴밀한 파트너십을 맺으며 신재생에너지 보급 확대 기여와 함께  ESS 시장을 선도하고 있습니다.
                                                  </p>
                                                  <p class="desc">
                                                      오랜 기간 축적한 기술과 노하우로 폐배터리를 ESS배터리로 재사용(Reuse)하는 기술 확보에<br class="pc-only">
                                                      박차를 가하며, 에너지 효율을 높이는 스마트그리드를 구축하는데 주축이 되고 있습니다. 
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="content-sect">
                                      <div class="flex-box">
                                          <div class="left-area">
                                              <div class="img-wrap">
                                                  <div class="number">
                                                      <img src="../../public/inc/images/img/number_04.png" alt="04">
                                                  </div>
                                                  <div class="content">
                                                      <img src="../../public/inc/images/img/comp_swiper1_img04.png" alt="">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="sect-box">
                                              <p class="sub-title">New Business</p>
                                              <h2 class="title-h1">신사업</h2>
                                              <p class="info-desc">축적된 배터리 생애주기 데이터를 기반으로 IT 기술과 융합해 배터리의 <br class="pc-only">
                                                  새로운 가치를 창출함으로써, 배터리 순환 생태계의 새로운 가능성을 만들어 갑니다.  </p>
                                              <div class="info-box">
                                                  <p class="desc">
                                                      BaaS(Battery-as-a-Service)는 배터리 생애주기 전반에 걸쳐 새로운 가치를 창출하는 사업으로, <br class="pc-only">
                                                      전기이륜차 배터리 교환 스테이션(BSS, Battery Swapping Station) 서비스 플랫폼 사업과 <br class="pc-only">
                                                      전기차 사용자를 대상으로 전기차 상시 모니터링 서비스 B-Lifecare, 기존 BMS를 뛰어 넘어 <br class="pc-only">
                                                      클라우드 및 AI 기술이 결합된 안전진단, 퇴화/수명예측 등 소프트웨어 중심 차량(SDV·Software-Defined Vehicle) 플랫폼을 BMTS 사업을 전개하고 있습니다.
                                                  </p>
                                                  <p class="desc">
                                                      EaaS(Energy-as-a-Service)는 재생에너지 전력망을 통합관리하는 사업으로 가상발전소 <br class="pc-only">
                                                      (VPP, Virual Power Plant, VPP)사업자로 재생에너지 입찰제도에 참여하여 재생에너지의 확대보급 및 전력 계통 안정화에 기여하고 있습니다. 
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-paging-wrap">
                              <div class="swiper-button-next"></div>
                              <div class="swiper-button-prev"></div>                                                
                          </div>
                          <div class="swiper-pagination"></div>
                      </div><!-- //type02Swiper -->
                  </div>
              </div><!-- //content-item02 -->
            </section>

            <section class="guide-section">
                <p class="guide-title-h3">mainPopBnrSwiper : 메인 > 메인배너팝업 사용중</p>              
                <div class="swiper mainPopBnrSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide banr-item">
                            <div class="img-area">
                                <img src="../../public/inc/images/img/evt_pop_img.png" alt="pc image">
                                <!-- <img src="../../public/inc/images/img/evt_pop_img_mo.png" alt="mobile image"> mobile 일때 -->
                            </div>
                        </div>
                        <div class="swiper-slide banr-item">
                            <div class="img-area">
                                <img src="../../public/inc/images/img/evt_pop_img.png" alt="pc image">
                                <!-- <img src="../../public/inc/images/img/evt_pop_img_mo.png" alt="mobile image"> mobile 일때 -->
                            </div>
                        </div>
                        <div class="swiper-slide banr-item">
                            <div class="img-area">
                                <img src="../../public/inc/images/img/evt_pop_img.png" alt="pc image">
                                <!-- <img src="../../public/inc/images/img/evt_pop_img_mo.png" alt="mobile image"> mobile 일때 -->
                            </div>
                        </div>
                    </div>                    
                    <div class="swiper-paging-wrap">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-pagination"></div>
                    </div>                        
                </div><!-- //mainPopBnrSwiper -->
            </section>
          </div> <!-- //wrap-->
        </div> <!-- //guide-wrapper -->

        <script type="text/javascript" src="../../public/inc/js/jquery-3.7.1.slim.min.js"></script>
        <script type="text/javascript" src="../../public/inc/js/swiper.min.js"></script> <!-- swiper.js 사용시 추가 필요 -->
        <script type="text/javascript" src="../../public/inc/js/com-ui.js"></script>
        <script type="text/javascript" src="../../public/inc/js/pub-ui.js"></script>
    </body>
</html>
