.skip-navigation{display: none;}

.wrap.cyanogen,
.wrap {
    height:100%;
    overflow-y: auto;;    
}

.w100 {width: 100% !important; max-width: 100% !important; margin: 0 !important;}
.noScroll {touch-action:none; -webkit-overflow-scrolling:none; overflow:hidden; overscroll-behavior:none;}
.grid{position:relative;left:50%;transform: translateX(-50%);width:90rem;max-width:90rem;}
.mo-only {display: none !important;}

/* 메인 페이지 */
.main_p .header-wrap{background:transparent;}
.main_p .header-wrap *{color:#fff;}
.main_p .search-btn{background-image:url(../../images/icon/icon_head_searc_wh.svg)}
.main_p .lang-button .select-btn-right-icon{background: url(../../images/icon/icon_arrow_bottom_wh_head.svg)no-repeat;}
.main_p .nav-btn .line{background-color:#fff;}
.main_p .nav-btn .x-line{background-color:#fff;}
.main_p .content-wrap{padding-top:0;}

.main_p .nav-wrap .gnb__tab-btn-wrap{opacity: 0;position:relative;top:-1000px;}
.main_p .header-wrap.on{background:#fff;}
.main_p .header-wrap.on .nav-wrap .gnb__tab-btn-wrap{opacity: 1;top:0px;}
.main_p .header-wrap.on *{color: var(--text-text-default-01, #171819);}
.main_p .header-wrap.on .search-btn{background-image:url(../../images/icon/icon_head_search.svg)}
.main_p .header-wrap.on .lang-button .select-btn-right-icon{background: url(../../images/icon/icon_arrow_bottom_head.svg)no-repeat;}
.main_p .header-wrap.on .nav-btn .line{background-color: var(--text-text-default-01, #171819);}
.main_p .header-wrap.on .nav-btn .x-line{background-color: var(--text-text-default-01, #171819);}
.main_p .header-wrap.scroll-on{background:#fff;}
.main_p .header-wrap.scroll-on .header-area{height:6.825rem;}
.main_p .header-wrap.scroll-on .nav-wrap .gnb__tab-btn-wrap{opacity: 1;top:0px;}
.main_p .header-wrap.scroll-on *{color: var(--text-text-default-01, #171819);}
.main_p .header-wrap.scroll-on .search-btn{background-image:url(../../images/icon/icon_head_search.svg)}
.main_p .header-wrap.scroll-on .lang-button .select-btn-right-icon{background: url(../../images/icon/icon_arrow_bottom_head.svg)no-repeat;}
.main_p .header-wrap.scroll-on .nav-btn .line{background-color: var(--text-text-default-01, #171819);}
.main_p .header-wrap.scroll-on .nav-btn .x-line{background-color: var(--text-text-default-01, #171819);}


/* content-header */
.main_p .content-header{position:relative;width:100%;height:100vh;overflow: hidden;}
.main_p .content-header .bg-video-wrap video{width:100vw;}
.main_p .content-header .content-header-cont{height:100%; position:absolute;top:0;z-index: 1;}
.main_p .content-header .cont-area{position:absolute;bottom:13.12rem;color:#fff;}
.main_p .content-header .cont-area h3.tit{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-LT1, 4.5rem);font-weight: 300;line-height: var(--line-height-desktop-LT1, 6.3rem);letter-spacing: var(--letter-spacing-xsmal, -0.125rem);}
.main_p .content-header .cont-area h3.tit span{display: block;font-size: var(--size-desktop-LT1, 4.5rem);font-weight: 700;line-height: var(--line-height-desktop-LT1, 6.3rem);letter-spacing: var(--letter-spacing-small, -0.03125rem);}
.main_p .content-header .cont-area p.txt{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H4, 1.5rem);font-weight: 400;line-height: var(--line-height-desktop-H4, 2.25rem); letter-spacing: var(--letter-spacing-default, 0rem);margin-top:2rem;}
.main_p .content-header .video-btn{position:absolute;bottom:5rem;left:0;width:4rem;height:4rem;display: inline-flex;padding: 0.875rem;align-items: flex-start;border-radius: 62.4375rem;border: 2px solid var(--stroke-stroke-on-primary, #FFF);background: url(../../images/icon/icon_pause.svg)no-repeat center;}


/* content-area */
.main_p [class*=content-item]{width:100%; padding:6.825rem 0;}
.main_p [class*=content-item] img{width:auto;}
.main_p [class*=content-item] .tit-area{width:100%;}
.main_p [class*=content-item] .tit-area .tit{font-size: var(--size-desktop-LT3, 3.5rem);font-weight: 700;line-height: var(--line-height-desktop-LT3, 4.9rem);letter-spacing: var(--letter-spacing-small, -0.03125rem);}
.main_p .content-item01{background:url(../../images/img/main_cont1.png)no-repeat;background-size:cover;}
.main_p .content-item01 .tit-area .tit{color: var(--fill-fill-on-primary, #FFF);display:flex;justify-content: space-between;align-items:flex-end;}
.main_p .content-item01 .tit-area .tit span{color: var(--icon-icon-on-primary, #FFF);text-align: right;font-size: var(--size-desktop-B2, 1rem);font-weight: 400;line-height: var(--line-height-desktop-B2, 1.6rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item01 .area1{display: flex;gap:7.25rem;margin-top:2.5rem;}
.main_p .content-item01 .area1_1{display: flex;align-items: flex-start;width: 32rem;height: 10rem;padding: 1.25rem 0rem 0rem 1.25rem;justify-content: space-between;flex-shrink: 0;border-top: 1px solid var(--stroke-stroke-default-04, #E1E7EA);
backdrop-filter: blur(7px);}
.main_p .content-item01 .area1_1 .tit{color: #FFF;font-size: var(--size-desktop-H4, 1.5rem);font-weight: 600;line-height: var(--line-height-desktop-H4, 2.25rem); letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item01 .area1_1 .txt{color: var(--icon-icon-on-primary, #FFF);font-size: var(--size-desktop-H4, 1.5rem);font-weight: 400;line-height: var(--line-height-desktop-H4, 2.25rem); letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item01 .area1_1 .txt span{font-size: 5.96106rem;font-weight: 800;line-height: 6.84375rem; /* 114.808% */letter-spacing: -0.04138rem;}
.main_p .content-item01 .area1 ul{display:flex;flex-wrap: wrap;gap: 0 3.25rem;justify-content: space-between;}
.main_p .content-item01 .area1 ul li{display: flex;flex:0 calc(50% - (4.5rem / 2));height: 21rem;padding: 1.25rem 0rem 0rem 1.25rem;justify-content: space-between;align-items: flex-start;position:relative;border-top: 1px solid var(--stroke-stroke-default-04, #E1E7EA);
backdrop-filter: blur(7px);}
.main_p .content-item01 .area1 ul li img{position:absolute;left:1.25rem;bottom:7rem;}
.main_p .content-item01 ul .tit{color: #FFF;font-family: var(--family-Head, Pretendard);font-size: var(--size-desktop-H4, 1.5rem);font-weight: 600;line-height: var(--line-height-desktop-H4, 2.25rem); letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item01 ul .txt{color: var(--icon-icon-on-primary, #FFF);font-size: var(--size-desktop-H4, 1.5rem);font-weight: 400;line-height: var(--line-height-desktop-H4, 2.25rem); letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item01 ul .txt span{color: var(--icon-icon-on-primary, #FFF);text-align: right;font-size: var(--size-desktop-LT3, 3.5rem);font-style: normal;font-weight: 800;line-height: var(--line-height-desktop-LT3, 4.9rem); /* 140% */letter-spacing: var(--letter-spacing-small, -0.03125rem);}


.main_p .content-item02{background: var(--fill-fill-on-primary, #FFF);}
.main_p .content-item02 .tit-area{display: flex; gap:10.75rem;}
.main_p .content-item02 .tit-area p{color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-H2, 2rem);font-weight: 400;line-height: var(--line-height-desktop-H2, 3rem); /* 150% */letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item02 .area1{display:flex;position:relative;overflow: hidden;width:100%;height:700px;}
.main_p .content-item02 .area1 .video-wrap{position:absolute;left:49.5%;transform: translateX(-50%);top:0;z-index:0;width:110%;max-width:120rem;}
.main_p .content-item02 .area1 .video-wrap video{width:100%;}
.main_p .content-item02 .area1 .grid{display:flex;}
.main_p .content-item02 [class*= event-item]{height:42.5rem;flex:1;margin-top:6.18rem;position: relative;z-index: 1;}




.main_p .content-item03{background: linear-gradient(103deg, #FFF 31.98%, rgba(153, 153, 153, 0.20) 93.34%);opacity: 0.8;position:relative;height:55.5rem;}
.main_p .content-item03 .position-txt{position:absolute;top:-2.9;color: var(--text-text-default-03, #858889);font-size: 14.375rem;font-weight: 800;line-height: 19.417rem; /* 135.075% */letter-spacing: -0.10375rem;opacity: 0;}
.main_p .content-item03 .tab{position:absolute;top:3rem;right:0;opacity: 0;}
.main_p .content-item03 .image-txt{position:absolute;top:17rem;opacity: 0;}
.main_p .content-item03 .image-01{position:absolute;top:20.05rem;right:16.43rem;z-index:1;opacity: 0;}
.main_p .content-item03 .image-02{position:absolute;top:13.5rem;right:8.4rem;opacity: 0;}
.main_p .content-item03.scroll-on .position-txt{top:-4.9rem;opacity: 0.2;transition: all .4s;}
.main_p .content-item03.scroll-on .tab{top:1rem;opacity: 1;transition: all .6s .4s;}
.main_p .content-item03.scroll-on .image-txt{top:15rem;opacity: 1;transition: all .6s .6s;}
.main_p .content-item03.scroll-on .image-01{top:18.05rem;opacity: 1;transition: all .6s .8s;}
.main_p .content-item03.scroll-on .image-02{top:11.5rem;opacity: 1;transition: all .6s 1s;}


.main_p .content-item04{background: var(--fill-fill-on-primary, #FFF);}
.main_p .content-item04 .cont-area{max-width:120rem;width:100%;padding:0 5rem;position: relative;left:50%;transform: translateX(-50%);height: 46rem;flex-shrink: 0;color:var(--fill-fill-on-primary, #FFF);margin-top:3.6rem;}
.main_p .content-item04 .cont-area > div{width:100%;position:relative;height:100%;}
.main_p .content-item04 .cont-area div [class*="cont"]{border-radius: var(--radius-06, 2.5rem);height: 46rem;position:absolute;top:0;padding:5.25rem 2rem 4.5rem 5rem;width:21.75rem;overflow: hidden; animation: width-action02 .6s ;transition: all .4s;}
.main_p .content-item04 .cont-area div [class*="cont"] > img{max-width:calc(120%);position:absolute;right:10%;top:45%; transform: translate(0, -50%);}
.main_p .content-item04 .cont-area div [class*="cont"] .tit{width:100%;display:flex;justify-content: space-between;align-items: center;color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H2, 2rem);font-weight: 700;line-height: var(--line-height-desktop-H2, 3rem); /* 150% */letter-spacing: var(--letter-spacing-default, 0rem);padding-left:2rem; transition: all ease .4s;}
.main_p .content-item04 .cont-area div [class*="cont"] .tit .more{width: 2rem;height: 2rem;flex-shrink: 0;position:relative}
.main_p .content-item04 .cont-area div [class*="cont"] .tit .more::after,
.main_p .content-item04 .cont-area div [class*="cont"] .tit .more::before{content:"";display:block; width:calc(2rem - 10px);height:3px;border-radius: 3px;;background:#fff;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);transition: all ease .3s;}
.main_p .content-item04 .cont-area div [class*="cont"] .tit .more::after{transform:translate(-50%,-50%) rotateZ(450deg);}
.main_p .content-item04 .cont-area div [class*="cont"] .txt,
.main_p .content-item04 .cont-area div [class*="cont"] .txt_on{padding-top:23.31rem;color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H5, 1.25rem);font-weight: 400;line-height: var(--line-height-desktop-H5, 1.875rem); /* 150% */letter-spacing: var(--letter-spacing-default, 0rem);padding-left:2rem;}
.main_p .content-item04 .cont-area div [class*="cont"] .txt_on {display:none}
.main_p .content-item04 .cont-area div [class*="cont"] .more-link{opacity: 0; transition: all .4s;}
.main_p .content-item04 .cont-area div [class*="cont"].on{width:77rem;padding:5.5rem 10rem 4.5rem;animation: width-action .6s ease;}
.main_p .content-item04 .cont-area div [class*="cont"].on .tit{font-size: var(--size-desktop-H1, 2.5rem); padding:0}
.main_p .content-item04 .cont-area div [class*="cont"].on .tit .more::after,
.main_p .content-item04 .cont-area div [class*="cont"].on .tit .more::before{content:"";display:block; width:calc(2rem - 10px);height:3px;border-radius: 3px;;background:#fff;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
.main_p .content-item04 .cont-area div [class*="cont"].on .txt_on {display:block;padding-left:0;}
.main_p .content-item04 .cont-area div [class*="cont"].on .txt{display: none;}
.main_p .content-item04 .cont-area div [class*="cont"].on >img{left:50%;right:auto;top:45%; transform: translate(-50%,-50%);}
.main_p .content-item04 .cont-area div [class*="cont"].on .more-link{opacity: 1;margin-top:3.5rem; transition: all .4s .3s;}

.main_p .content-item04 .cont01{background: #2E3750;left:-12rem;z-index:2;opacity:0 ;}
.main_p .content-item04 .cont02{background: #484995;flex-shrink: 0;left:55.5rem;z-index:1;opacity:0 ;}
.main_p .content-item04 .cont03{background: #1196A3;flex-shrink: 0;right:20rem;opacity:0 ;}
.main_p .content-item04 .cont-area div .cont02.on{padding-left:18.92rem;padding-right:7.5rem;}
.main_p .content-item04 .cont-area div .cont02.on >img{left:36%;top:50%; transform: translate(-50%,-50%);}
.main_p .content-item04 .cont-area div .cont03.on{padding-left:17.62rem;padding-right:7.5rem;}
.main_p .content-item04 .cont-area div .cont03.on >img{left:41%;top:50%; transform: translate(-50%,-50%);}
.main_p .content-item04 .cont-area div .cont01{padding:5.5rem 2rem 4.5rem 2rem;width:21.75rem;overflow: hidden;}
.main_p .content-item04 .cont-event2 .cont02{right:auto;left: 16.5rem !important;}
.main_p .content-item04 .cont-event3 .cont02{right:auto;left: 16.5rem !important;}
.main_p .content-item04.scroll-on .cont01{left:0rem;opacity: 1;}
.main_p .content-item04.scroll-on .cont02{left:71.5rem;opacity: 1;}
.main_p .content-item04.scroll-on .cont03{right:0rem;opacity: 1;}

@keyframes width-action{
    0% {width:21.75rem;}
    80% {width:80rem;}
    100% {width:77rem;}
}
@keyframes width-action02{
    0% {width:77rem;}
    100% {width:21.75rem;}
}


.main_p .content-item05{background-blend-mode: luminosity;background:url(../../images/img/main_cont5_bg.svg) no-repeat;background-size:cover;position:relative}
.main_p .content-item05 .opa{opacity: 0.4;background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);position: absolute;top:0;width:100%;height:100%;}
.main_p .content-item05 .tit-area {display:flex;justify-content: space-between;}
.main_p .content-item05 .tit-area .tit{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-LT3, 3.5rem);font-weight: 700;line-height: var(--line-height-desktop-LT3, 4.9rem); /* 140% */letter-spacing: var(--letter-spacing-small, -0.03125rem);}
.main_p .content-item05 .tit-area div p{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H5, 1.25rem);font-weight: 500;line-height: var(--line-height-desktop-H5, 1.875rem); /* 150% */letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item05 .tit-area div p + p{margin-top:1.19rem;}
.main_p .content-item05 .tit-area div{padding-right:6.75rem;}
.main_p .content-item05 .tit-area div span{color: var(--cyan-200, #ADECF2);font-size: var(--size-desktop-H2, 2rem);font-weight: 700;line-height: var(--line-height-desktop-H2, 3rem); /* 150% */letter-spacing: var(--letter-spacing-default, 0rem); padding-bottom:1.19rem;}
.main_p .content-item05 .area1{display:flex;justify-content: space-between;gap:1.25rem;margin-top:2.75rem;}
.main_p .content-item05 [class*="area2"]{display:flex;flex-wrap:wrap;}
.main_p .content-item05 [class*="area2"] div{display:flex;gap:1.25rem;}
.main_p .content-item05 [class*="area2"] div{position: relative;height:min-content;overflow: hidden;}
.main_p .content-item05 [class*="area2"] div .text-img{position:absolute;left:4.25rem;top:4.25rem;}
.main_p .content-item05 .area2_2{background: linear-gradient(305deg, rgba(0, 0, 0, 0.00) 58.71%, rgba(0, 0, 0, 0.10) 87.05%);
mix-blend-mode: darken;width: 29.1875rem;height: 38.625rem;flex-shrink: 0;border-radius: 1.5rem;
background: #FFF;overflow: hidden;position: relative;}
.main_p .content-item05 .area2_2 .text-img{position:absolute; top:4.3rem;left:4rem; z-index: 1;}
.main_p .content-item05 .area2_2 .video-wrap{position:absolute; bottom:0; left:45px;width:550px;}
.main_p .content-item05 .area2_2 .video-wrap video{width:100%;}

.main_p .content-item05 .action01{position:relative;top:10px; opacity:0 ;transition: all .8s;}
.main_p .content-item05 .action02{position:relative;top:10px; opacity:0 ;transition: all .8s .15s;}
.main_p .content-item05 .action03{position:relative;top:10px; opacity:0 ;transition: all .8s .3s;}
.main_p .content-item05 .action04{position:relative;top:10px; opacity:0 ;transition: all .8s .45s;}
.main_p .content-item05 .action05{position:relative;top:10px; opacity:0 ;transition: all .8s .6s;}
.main_p .content-item05 .action06{position:relative;top:10px; opacity:0 ;transition: all .8s .9s;}
.main_p .content-item05 .action07{position:relative;top:10px; opacity:0 ;transition: all .8s 1.2s;}

.main_p .content-item05.scroll-on .action01{top:0px; opacity:1;}
.main_p .content-item05.scroll-on .action02{top:0px; opacity:1;}
.main_p .content-item05.scroll-on .action03{top:0px; opacity:1;}
.main_p .content-item05.scroll-on .action04{top:0px; opacity:1;}
.main_p .content-item05.scroll-on .action05{top:0px; opacity:1;}
.main_p .content-item05.scroll-on .action06{top:0px; opacity:1;}
.main_p .content-item05.scroll-on .action07{top:0px; opacity:1;}






.main_p .content-item06{min-height:58rem;position:relative;overflow: hidden;padding-top:6.5rem;background:url("../../images/img/main_cont6_1.png") no-repeat bottom; background-size: cover; color: var(--text-text-on-primary, #FFF);}
.main_p .content-item06 .position-txt{position:absolute;left:2.69rem;top:0;color: var(--text-text-on-primary, #FFF);font-size: 8.91588rem;font-weight: 800;line-height: 15.91913rem; /* 178.547% */letter-spacing: -0.08506rem;text-align:left;opacity: 0.15;}
.main_p .content-item06 .position-txt p:first-of-type{padding-right:26rem;}
.main_p .content-item06 .position-txt p:last-of-type{margin-top:-9.2rem;}
.main_p .content-item06 .area1{position:absolute;right:10.87rem;top:6.5rem;}
.main_p .content-item06 .area1 p{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H3, 1.75rem);font-weight: 400;line-height: var(--line-height-desktop-H3, 2.625rem); /* 150% */letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item06 .area1 p strong{font-size: var(--size-desktop-H3, 1.75rem);font-weight: 700;line-height: var(--line-height-desktop-H3, 2.625rem);display:block;}
.main_p .content-item06 .area1 a.more{border-bottom: 1px solid var(--stroke-stroke-on-primary, #FFF);display: inline-flex;padding-bottom: 0.5rem;align-items: center;gap: 3.5rem;margin-top:3.25rem;}
.main_p .content-item06 .area1 a.more:after{content:"";display:block;width: 1.01231rem;height: 1.01231rem;background:url(../../images/icon/Icon_more_wh.svg) no-repeat center;}
.main_p .content-item06 .area2{display: flex;justify-content: space-between;flex-direction: column;width: 44.1875rem;height: 22.0625rem;padding-top:22.5rem;gap:2.25rem;}
.main_p .content-item06 .area2 > div{display:flex;justify-content: space-between;}
.main_p .content-item06 .area2 > div p{color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-B1, 1.125rem);font-weight: 600;line-height: var(--line-height-desktop-B1, 1.8rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0rem);text-indent: -5rem; padding-left:5rem;}
.main_p .content-item06 .area2 > div p + p::before{content:"";display: block;;width: 0;height: 0.125rem;position: relative;left: -14.5125rem;top: 4.75rem;opacity: 0.2;background: var(--stroke-stroke-default-03, #C9CED1);}
.main_p .content-item06 .area2 > div span:first-of-type{color: var(--text-text-on-primary, #fff);font-size: 6rem;font-weight: 800;line-height: var(--line-height-desktop-LT1, 6.3rem); /* 105% */letter-spacing: var(--letter-spacing-small, -0.03125rem);margin-right:1.25rem;padding-left:1.7rem;}
.main_p .content-item06 .area2 > div span.color-primary{color: var(--text-text-primary, #3EC2CF);
}
.main_p .content-item06 .area2 > div span:last-child{color: var(--text-text-default-03, #858889);font-size: var(--size-desktop-B2, 1rem);font-weight: 600;line-height: var(--line-height-desktop-B2, 1.6rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item06.scroll-on .area2 > div p + p::before{width: 13.5rem;transition:all .5s .8s;}





.main_p .content-item06 .action01{position:relative;left:5rem;opacity:0;transition:all .8s ;}
.main_p .content-item06 .action02{position:relative;left:5rem;opacity:0;transition:all .8s .2s;}
.main_p .content-item06 .action03{position:absolute;right:8.87rem;top:0;opacity:0;transition:all .8s .4s ;}
.main_p .content-item06 .action04{opacity:0;transition:all .8s .6s;}
.main_p .content-item06 .action05{opacity:0;transition:all .8s .6s;}
.main_p .content-item06 .action06{opacity:0;transition:all .8s .6s;}
/* .main_p .content-item06 .action07{position:relative;left:-5rem;opacity:0;transition:all .8s 1.5;} */


.main_p .content-item06.scroll-on .action01{opacity:1;left:0rem}
.main_p .content-item06.scroll-on .action02{opacity:1;left:11.3rem}
.main_p .content-item06.scroll-on .action03{opacity:1;right:10.87rem;}
.main_p .content-item06.scroll-on .action04{opacity:1;}
.main_p .content-item06.scroll-on .action05{opacity:1;}
.main_p .content-item06.scroll-on .action06{opacity:1;}
.main_p .content-item06.scroll-on .action07{opacity:1;left:0rem}



.main_p .content-item07{background: var(--fill-fill-default-04, #F3F5F7);height:48.2rem;padding-bottom:3.19rem}
.main_p .content-item07 .grid{height:100%;}
.main_p .content-item07 .tit-area .tit{display: flex;align-items: center;justify-content: space-between;}
.main_p .content-item07 .tit-area .tit a{display: flex; align-items: center;height:100%;}
.main_p .content-item07 .area-box{margin-top:3.12rem;display:flex;gap:1.25rem;align-items: center;position:absolute;bottom:0;padding-bottom:1.1rem;height: 32.5rem;}
.main_p .content-item07 .area-box li{height: 29.375rem;padding:1.88rem;border-radius: var(--radius-04, 1.5rem);transition: all .4s;background: var(--fill-fill-on-primary, #FFF);display: flex;width: 21.5625rem;padding: 1.875rem;flex-direction: column;justify-content: space-between;align-items: flex-end;transform-origin: bottom;cursor: pointer;position: relative;}
.main_p .content-item07 li:hover{height: 32.5rem;border-radius: var(--radius-04, 1.5rem);background: var(--fill-fill-primary, #3EC2CF);box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.20);}
.main_p .content-item07 .area-box li a{display: flex;justify-content: space-between;flex-direction: column;height:100%;}
.main_p .content-item07 .area-box li:hover a *{color:#fff !important;}
.main_p .content-item07 .area-box li a *{transition: all .4s;}

.main_p .content-item07 .area-box li a .date{color: var(--text-text-primary, #3EC2CF);font-size: var(--size-desktop-H5, 1.25rem);font-weight: 800;line-height: var(--line-height-desktop-H5, 1.875rem); /* 150% */letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item07 .area-box li a .txt{margin-top:1.25rem;;color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-B1, 1.125rem);font-weight: 600;line-height: var(--line-height-desktop-B1, 1.8rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0rem);}
.main_p .content-item07 .area-box li a .more{opacity: 0;height:0; display:flex;align-items: flex-start; border-bottom:1px solid var(--text-text-on-primary, #FFF);position: absolute;top:11.69rem;;right:1.88rem;}
.main_p .content-item07 .area-box li:hover a .more{opacity: 1;height:2rem;}
.main_p .content-item07 .area-box li:hover a .date{color:#fff}
.main_p .content-item07 .area-box li:hover a .txt{color:#fff}
.main_p .content-item07 .area-box li:hover a .more{color:#fff}
/* aside */
aside{position:fixed;bottom:100px;right:30px;display: none; z-index:100}
aside > img{cursor: pointer;}

/* 서브 페이지 */
.sub_p .lang-button{color:var(--text-text-default-01, #171819);}

















/* 해더 */
/*  */
.header-wrap{position: absolute;display:flex;height:6.25rem;width:100%;;justify-content: space-between;margin:0 auto;z-index: 900; transition: height 0.3s;background-color: #fff;}
.header-area{width:100%;height:6.25rem;}
.header-wrap.on .header-area{height:6.825rem;border-bottom: 1px solid var(--stroke-stroke-default-03, #C9CED1);}
.header-wrap.on{height:500px;}
.header-wrap.scroll-on{height:6.825rem;}
.header-cont{position:relative;left:50%;transform: translateX(-50%);width:100%;max-width:120rem;height:6.25rem;display:flex;align-items: center;justify-content: space-between;padding:1.25rem 3.75rem ;}
.header-wrap.on .header-cont,
.header-wrap.scroll-on .header-cont{height:6.825rem;}
.sitemap-wrap{display:flex;align-items: center;}
.gnb__tab-btn-wrap{display:flex;gap:5.25rem;}
.gnb__tab-btn-wrap .depth01{position:relative; display:flex;flex-direction: column;}
.gnb__tab-btn-wrap .depth01 > a {color: var(--text-text-default-01, #171819);color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-H5, 1.25rem);font-weight: 500;line-height: var(--line-height-desktop-H5, 1.875rem);letter-spacing: var(--letter-spacing-default, 0rem);text-align:center}
.nav-wrap .gnb__tab-btn-wrap ul {position: absolute;top:calc(100% + 2.13rem + 1.75rem);left: 50%;transform: translateX(-50%);display: none;}
.header-wrap.on .nav-wrap .gnb__tab-btn-wrap ul.on {display:block;text-align: center;}
.header-wrap.on .nav-wrap .gnb__tab-btn-wrap ul li{padding-top:0.88rem;}
.header-wrap.on .nav-wrap .gnb__tab-btn-wrap ul li:first-child{padding-top:0}
li.depth02 a {display: block;position: relative;width: max-content;text-align: center;margin: 0 auto;color: var(--text-text-default-01, #171819);font-size: var(--size-desktop-B1, 1.125rem);font-weight: 400;line-height: var(--line-height-desktop-B1, 1.8rem); /* 160% */letter-spacing: var(--letter-spacing-default, 0rem);}
.utile-cont{display:flex;align-items: center; gap:1.88rem;}
.utile-cont .utile-item{display:flex;align-items: center;}
.search-btn{width: 1.75rem;height: 1.75rem;background-image:url(../../images/icon/icon_head_search.svg);}
.lang-button{padding-right:1rem;position:relative;color: var(--text-text-on-primary, #FFF);font-size: var(--size-desktop-H5, 1.25rem);font-weight: 600;line-height: var(--line-height-desktop-H5, 1.875rem); letter-spacing: var(--letter-spacing-default, 0rem);}
.lang-button .select-btn-right-icon{display:block;width: 0.5rem;height: 0.375rem;background: url(../../images/icon/icon_arrow_bottom_head.svg)no-repeat;}
.nav-btn{width: 2.25rem;height: 2.25rem;padding:5px;position:relative;display:flex;justify-content: center;align-items:flex-start;flex-direction:column;gap:5px;}
.nav-btn .x-icon{position:absolute;width:26px;height:26px;right:50%;top:50%;transform: translate(50%,-50%);display:flex;justify-content: center;align-items:flex-end;flex-direction:column;gap:.25rem;}
.nav-btn .line{display:block;width:100%;height:2px;border-radius:2px;background-color: var(--text-text-default-01, #171819); transition: width .2s .1s;}
.nav-btn .line:nth-of-type(2){width:80%;}
.nav-btn .x-line{display: block;width:0%;height:2px;border-radius:2px;background-color: var(--text-text-default-01, #171819);transform:rotateZ(45deg)translateX(-15%);transition: width .2s;}
.nav-btn .x-line:first-of-type{transform:rotateZ(135deg) translateX(15%);}
.nav-btn.on .line{width:0%; transition: width .2s;}
.nav-btn.on .x-line{width:100%; transition: width .2s;}
/* .content-header{position:relative;} */
.content-header_bg{background-color: #000;}
.page-map-wrap{position:sticky;top:0px; background-color: yellow;margin-top:-20px; width:80%;}
.page-map-wrap > ul{display:flex;}
ul.page-map{display:none;}
.content-area-head-tab{position:sticky;top:20px;background-color:#fff;}

.lang-wrap {position: relative;}
.lang-wrap .lang-button {line-height: 1; color: var(--colorElement-light-text-text-default01);}
.lang-wrap .lang-button > img {width: 1.75rem; height: 1.75rem;}

.lang-wrap .lang-button.active .select-btn-right-icon {transform: translateY(-2px) rotate(-180deg);}
.lang-wrap .select-menu {padding: 1rem 1.5rem; width: 4.6875rem; top: 2rem; left: -1rem;}
.lang-wrap .select-menu > li > a {font-size: 1.125rem; font-weight: 400; line-height: 1.8rem; color:var(--colorElement-light-text-text-default03);}
.lang-wrap .select-menu > li:not(:last-child) {padding-bottom: 0.5rem;}

.util-item-cs {display: flex; align-items: center; gap: 0.62rem;}
.util-item-cs .icon-cs {width: 1.5rem; height: 1.5rem;}
.util-item-cs .menu-title {color: var(--colorElement-light-text-text-primary); font-size: 1.125rem; font-weight: 600; line-height: 1.8rem;}



/* footer */

/* 컨텐츠 */
.content-wrap{padding-top:6.25rem;}
.wrap:not(.sub_p, .main_p) .content-item01 {max-width: 90rem; margin: 0 auto;}
.wrap:not(.sub_p, .main_p) .content-item01.w100 section:not(.full-bg) {max-width: 90rem; margin: 0 auto;}
.full-bg {background-color: var(--colorElement-light-fill-fill-default04); padding: 0;}
.full-bg > div {max-width: 90rem; margin: 0 auto; padding-block: 6.25rem;}
/* .content-item01{background:#000}
.content-item02{background:#218927}
.content-item03{background:#658733} */

.wrap:not(.main_p) .content-header {max-width: 90rem; margin: 0 auto; padding:5rem 0 3.75rem;}
.wrap:not(.main_p) .content-header .subp-tit {color:#171819; font-size: 2rem; font-weight: 600; line-height: 3rem;}

footer{border-top: 1px solid var(--stroke-stroke-default-04, #E1E7EA);background: var(--fill-fill-on-primary, #FFF); }
footer img{max-width:2400px;margin: -2px auto 0 auto;display: block;}