/* 지속가능경영(esgm) */
.esgm .cont-area-info {padding-bottom: 11.25rem;}
.content-box {display: flex; gap: 3.75rem; align-items: center; position: relative;}
.content-box:not(:first-child) {margin-top: 3.75rem; border-top: 1px solid #d9d9d9;}
.content-box:not(:first-child) .text-area {margin-top: 3.75rem;}
.content-box .text-area .sub {font-size: 1.5rem; font-weight: 700; color:var(--colorElement-light-text-text-default01); line-height: 2.25rem;}
.content-box .text-area .tit {font-size: 3.5rem; font-weight: 300; color:var(--colorElement-light-text-text-default01); line-height: 4.9rem; padding-top: 2rem;}
.content-box .text-area .desc {font-size: 1.125rem; font-weight: 400; color: var(--colorElement-light-text-text-default02); line-height: 1.8rem; padding-top: 1.5rem;}
.content-box .img-area {padding-top: 2.19rem;}
.content-box .img-area img {min-width: 28.75rem; height: 17.5rem;}

.cont-box-wrap .left-box {padding-left: 8.94rem; position: relative; display: flex; justify-content: flex-start; flex-direction: column;}
.cont-box-wrap .left-box::before {content: ""; display:block; width: 6rem; height: 18.125rem; background: url(../../images/img/brace_left.png) no-repeat center center / contain; position: absolute; top:4.5rem; left:0;}
.cont-box-wrap .left-box .intro-desc {padding: 5.81rem 0 0;}
.cont-box-wrap .left-box .sub-desc-wrap {width: 80%; color: var(--colorElement-light-text-text-default02); font-size: 1.125rem; font-weight: 400; line-height: 1.8rem; padding-top: 2.5rem;}
.cont-box-wrap .left-box .sub-desc-wrap ul > li:not(:last-child) {padding-bottom: 1rem;}
.cont-box-wrap .right-box {display: flex; justify-content: flex-end; position: relative; padding-top: 2.69rem; padding-right: 10rem;}
.cont-box-wrap .right-box .keyword {font-size: 10rem; font-weight: 800; line-height: 11.25rem; color: var(--colorElement-light-text-text-default02); text-align: right;  flex-grow: 1;}
.cont-box-wrap .right-box::after {content: ""; display:block; width: 3.75rem; height: 10.75rem; background: url(../../images/img/brace_right.png) no-repeat center center / contain; position: absolute; top:3.44rem; right:0;}

.table-container .table-header {display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid var(--colorElement-light-stroke-stroke-default00); padding-bottom: 1.25rem;}
.table-header .table-title {font-size: 1.5rem; font-weight: 600; line-height: 2.25rem; text-align: left; width: 100%;}
.table-header .table-subtit {font-size: 1rem; font-weight: 400; line-height: 1.5rem; color:var(--colorElement-light-text-text-default02); white-space: nowrap;}

.profile-info-box {display: flex; padding: 1.81rem 0; gap: 1.88rem;}
.profile-info-box .profile-img-area {width: 8.125rem; height: 9.375rem;}
.profile-txt-area .profile-text .profile-info {display: flex; align-items: center; gap: 0.62rem;}
.profile-txt-area .profile-text .name {font-size: 1.25rem; font-weight: 600; line-height: 1.875rem;}
.profile-txt-area .profile-text .position {font-size: 1.125rem; font-weight: 600; line-height: 1.8rem;}
.profile-txt-area .profile-text .date {font-size: 1.125rem; font-weight: 400; line-height: 1.8rem; padding-top: 0.62rem;}
.profile-txt-area .profile-history {padding-top: 1.25rem;}
.profile-txt-area .profile-history ul > li {font-size: 1.125rem; font-weight: 400; line-height: 1.8rem; color: var(--colorElement-light-text-text-default02);}


/* 재무정보 */