/* 지속가능경영(esgm) */
.esgm .cont-area-info {padding-bottom: 11.25rem;}
.content-box {display: flex; gap: 3.75rem; align-items: center; position: relative;}
.content-box:not(:first-child) {margin-top: 3.75rem; border-top: 1px solid #d9d9d9;}
.content-box:not(:first-child) .text-area {margin-top: 3.75rem;}
.content-box .text-area .sub {font-size: 1.5rem; font-weight: 700; color:var(--colorElement-light-text-text-default01); line-height: 2.25rem;}
.content-box .text-area .tit {font-size: 3.5rem; font-weight: 300; color:var(--colorElement-light-text-text-default01); line-height: 4.9rem; padding-top: 2rem;}
.content-box .text-area .desc {font-size: 1.125rem; font-weight: 400; color: var(--colorElement-light-text-text-default02); line-height: 1.8rem; padding-top: 1.5rem;}
.content-box .img-area {padding-top: 2.19rem;}
.content-box .img-area img {min-width: 28.75rem; height: 17.5rem;}

.cont-box-wrap .left-box {padding-left: 8.94rem; position: relative; display: flex; justify-content: flex-start; flex-direction: column;}
.cont-box-wrap .left-box::before {content: ""; display:block; width: 6rem; height: 18.125rem; background: url(../../images/img/brace_left.png) no-repeat center center / contain; position: absolute; top:4.5rem; left:0;}
.cont-box-wrap .left-box .intro-desc {padding: 5.81rem 0 0;}
.cont-box-wrap .left-box .sub-desc-wrap {width: 80%; color: var(--colorElement-light-text-text-default02); font-size: 1.125rem; font-weight: 400; line-height: 1.8rem; padding-top: 2.5rem;}
.cont-box-wrap .left-box .sub-desc-wrap ul > li:not(:last-child) {padding-bottom: 1rem;}
.cont-box-wrap .right-box {display: flex; justify-content: flex-end; position: relative; padding-top: 2.69rem; padding-right: 10rem;}
.cont-box-wrap .right-box .keyword {font-size: 10rem; font-weight: 800; line-height: 11.25rem; color: var(--colorElement-light-text-text-default02); text-align: right;  flex-grow: 1;}
.cont-box-wrap .right-box::after {content: ""; display:block; width: 3.75rem; height: 10.75rem; background: url(../../images/img/brace_right.png) no-repeat center center / contain; position: absolute; top:3.44rem; right:0;}

.table-container .table-header {display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid var(--colorElement-light-stroke-stroke-default00); padding-bottom: 1.25rem;}
.table-header .table-title {font-size: 1.5rem; font-weight: 600; line-height: 2.25rem; text-align: left; width: 100%;}
.table-header .table-subtit {font-size: 1rem; font-weight: 400; line-height: 1.5rem; color:var(--colorElement-light-text-text-default02); white-space: nowrap;}

.profile-info-box {display: flex; padding: 1.81rem 0; gap: 1.88rem;}
.profile-info-box .profile-img-area {width: 8.125rem; height: 9.375rem;}
.profile-txt-area .profile-text .profile-info {display: flex; align-items: center; gap: 0.62rem;}
.profile-txt-area .profile-text .name {font-size: 1.25rem; font-weight: 600; line-height: 1.875rem;}
.profile-txt-area .profile-text .position {font-size: 1.125rem; font-weight: 600; line-height: 1.8rem;}
.profile-txt-area .profile-text .date {font-size: 1.125rem; font-weight: 400; line-height: 1.8rem; padding-top: 0.62rem;}
.profile-txt-area .profile-history {padding-top: 1.25rem;}
.profile-txt-area .profile-history ul > li {font-size: 1.125rem; font-weight: 400; line-height: 1.8rem; color: var(--colorElement-light-text-text-default02);}


/* 재무정보 */


/* 글로벌네트워크 */
.map-conts-area {display:flex; width: 100%; position: relative; overflow: hidden;}
.map-conts-area .map-img {position:relative; height: 53.75rem;} 
.map-conts-area .map-img .active_img {opacity:0;}
.map-conts-area .map-img .active_img img {transition: transform 0.5s ease;}
.map-conts-area .map-img .active_mark {display: none; position:absolute; top:50%; left:40%; transform: translate(-50%, -50%);}
.map-conts-area .map-img.on .active_img{opacity:1;}
.map-conts-area .map-img.on .active_img img{transform: scale(1.2);}
.map-conts-area .map-img.on .default_img{display: none;}
.map-conts-area .map-info .map-info-list {width: 33rem; height: 53.75rem; padding: 2.5rem 0; text-align: left; overflow-y: auto; position:absolute; background:#fff; top:0; right:0; transition: 0.5s linear; z-index:10;}

.map-filter {position:absolute; left:2rem; bottom: 2rem; z-index:10;}
.map-filter .map-filter-list {display: flex; text-align:left; flex-direction: column; gap: 0.625rem; align-items: center;}
.map-filter .map-filter-list > li {width:11.25rem; height:3.5rem; padding: 0.625rem 1rem 0.625rem 1.25rem; border-radius: 5.625rem; box-shadow: 0px 0.25rem 0.5rem 0px rgba(0, 0, 0, 0.10); background-color:#fff;  display:flex; align-items:center; justify-content: space-between;}
.map-filter .map-filter-list > li[class^=filter-]::after {content:''; display:block; min-width: 1.25rem; height:1.25rem; background-color:#f5f5f5; border-radius:6.25rem;}
.map-filter .map-filter-list > li[class^=filter-][class*=type1]::after {background-color: #555758;}
.map-filter .map-filter-list > li[class^=filter-][class*=type2]::after {background-color: #276EF2;}
.map-filter .map-filter-list > li[class^=filter-][class*=type3]::after {background-color: #3EC2CF;}
.map-filter .map-filter-list > li[class^=filter-][class*=type4]::after {background-color: #E12991;}
.map-filter .map-filter-list > li > button {font-size: 1rem; font-weight: 600; line-height: 1.6rem; display: block; width: 100%; text-align: left;}

.map-info {display: flex; position: relative;}
.map-info .map-info-list .selectbox-wrap.type2 {margin:0 2.5rem;}
.map-info .map-info-list .selectbox-wrap.type2 .select-cate > button {max-width: 28rem; min-width: 28rem;}
.map-info .map-info-list .select-cate .select-menu {top:4.375rem; width: 100%; max-width: 28rem;}


.map-info .map-info-list .map-info-item {margin-top: 1rem;}
.map-info .map-info-list .map-info-item > li:not(:last-child) {border-bottom:1px solid #e1e7ea;}
.map-info .map-info-list .map-info-item > li > a {font-size: 1.125rem; font-weight: 600; line-height: 1.8rem; padding: 1rem 2.5rem; display:block;}
.map-info .map-info-list .map-info-item > li > a:hover,
.map-info .map-info-list .map-info-item > li > a:active,
.map-info .map-info-list .map-info-item > li > a.active {background-color:#3ec2cf; color:#fff;}
.map-info .map-info-content-box {position:absolute; top:0; right:0; width:26.25rem; height:53.75rem; padding:2.5rem; background:#fff; box-shadow: -0.25rem 0px 1.25rem 0px rgba(0, 0, 0, 0.10); backdrop-filter: blur(3px); opacity:0; transition:opacity 0.5s linear;}
.map-info .map-info-content-box .btn-close {width:20.5rem; height:20.5rem; display:block;}
.map-info .btn-close button {width:1.75rem; height:1.75rem; position:absolute; right: 2.5rem; top:2.5rem;}
.map-info.on .map-info-content-box {right:0; opacity:1; transition:opacity 0.5s linear;}
.map-info.on .map-info-list {right:26.25rem; transition: 0.5s linear;} /* right:41rem 이면, 스크롤바 숨겨진상태로 노출됨 */

.map-info-content-box .info-content-head .sort {display: flex; gap: 1rem; align-items: center;}
.map-info-content-box .info-content-head .sort li {position: relative; font-size: 1rem; font-weight: 400; line-height: 1.6rem; color:#555758;}
.map-info-content-box .info-content-head .sort li:not(:last-child):after {content:""; width:1px; height:0.875rem; display:inline-block; background:#e1e7ea; position:absolute; top:50%; transform: translateY(-50%); right:-0.5rem; }
.map-info-content-box .info-content-head .sort li:first-child:after {display: none;}
.map-info-content-box .info-content-head .sort li:first-child {color: #fff; font-size: 0.875rem; font-weight: 600; line-height: 1.4rem; padding: 0.25rem 1rem; border-radius:6.25rem; background:#3EC2CF;}
.map-info-content-box .info-content-head .sort li.country {color: #171819; font-weight: 600;}
.map-info-content-box .info-content-head .title {font-size: 1.5rem; font-weight: 700; line-height: 2.25rem; margin-top: 0.5rem; text-align: left;}
.map-info-content-box .info-content-body::before{content:''; width: 100%; height: 1px; display:block; margin: 1.5rem 0; background-color: #c9ced1;}
.map-info-content-box .info-content-body > ul {display:flex; gap:1rem; flex-direction: column;}
.map-info-content-box .info-content-body > ul > li {display:flex; justify-content: flex-start; gap:0.5rem;}
.map-info-content-box .info-content-body > ul > li img {width: 1.25rem; height: 1.25rem; margin:0.25rem 0;}
.map-info-content-box .info-content-body > ul > li p {font-size: 1rem; font-weight: 400; line-height: 1.6rem; color: #171819; text-align: left;}
.map-info-content-box .info-content-body .img-area {margin: 1.5rem 0; display: flex; }
.map-info-content-box .info-content-body .img-area img {width: 32.5rem; height: 12.5rem;  flex-grow:1;}
.map-info-content-box .info-content-body .sns-area > ul {display: flex; justify-content: flex-end; gap:0.5rem; flex-direction: row;}
.map-info-content-box .info-content-body .sns-area > ul > li > a {width: 2.5rem; height: 2.5rem; border-radius: 4rem; background-color : #858889;}
