<footer>
    <div class="footer-wrap">
        <div class="">
            <div>
                <ul>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이메일무단수집거부</a></li>
                    <li><a href="#">정도경영 사이버신문고</a></li>
                    <li><a href="#">협력사 상생고</a></li>
                </ul>
                <div>
                    <address>
                        대표이사  김동명<br />
                        07335 서울특별시 영등포구 여의대로 108<br />
                        대표번호 02-3777-1114  
                    </address>
                    <div class="site-map_wrap">
                        <button></button>
                        
                    </div>
                </div>
                
            </div>
            <div></div>
        </div>
        
        <div class="pop-header"></div>
        <div class="pop-area">
            <div class="pop-content">
                <div class="pop-txt-area">
                    <h3></h3>
                    <p></p>
                </div>
                <div class="pop-btn-area"></div>
            </div>
            <div class="pop-footer"></div>
        </div>
    </div>
</footer>
