<footer class="footer-wrap">
  <div class="footer-container">
    <div class="footer-content01">
      <ul class="footer-util">
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">이메일무단수집거부</a></li>
        <li><a href="#">정도경영 사이버신문고</a></li>
        <li><a href="#">협력사 상생고</a></li>
      </ul>
      <div class="footer-info">
        <address>
          대표이사 김동명<br />
          07335 서울특별시 영등포구 여의대로 108<br />
          대표번호 02-3777-1114
        </address>
        <div class="site_map-wrap">
          <button>Family Site <i class="icon-acco"></i></button>
          <div class="site_map-cont">
            <dl>
              <dt>LG그룹</dt>
              <dd class="bu-hyphen"><a href="#">(주)LG</a></dd>
              <dd class="bu-hyphen"><a href="#">LG화학</a></dd>
              <dd class="bu-hyphen"><a href="#">LG전자</a></dd>
            </dl>
            <dl>
              <dt>패밀리사이트</dt>
              <dd class="bu-hyphen"><a href="#">배터리인사이드</a></dd>
              <dd class="bu-hyphen"><a href="#">ESS전지 사이트</a></dd>
              <dd class="bu-hyphen"><a href="#">미국법인</a></dd>
              <dd class="bu-hyphen"><a href="#">폴란드법인</a></dd>
              <dd class="bu-hyphen"><a href="#">디지털 가상전시관</a></dd>
              <dd class="bu-hyphen"><a href="#">오픈 이노베이션</a></dd>
            </dl>
            <dl>
              <dt>비즈니스</dt>
              <dd class="bu-hyphen"><a href="#">KOOROO</a></dd>
              <dd class="bu-hyphen"><a href="#">B-Lifecare</a></dd>
              <dd class="bu-hyphen"><a href="#">구매포탈시스템</a></dd>
              <dd class="bu-hyphen"><a href="#">파트너 보안 포탈</a></dd>
              <dd class="bu-hyphen"><a href="#">지급계좌등록시스템</a></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content02">
      <div class="copyright">
        ©LG Energy Solution.
      </div>
      <div class="footer-sns-wrap">
        <a href="#" title=""></a>
        <a href="#" title=""></a>
        <a href="#" title=""></a>
        <a href="#" title=""></a>
        <a href="#" title=""></a>
        <a href="#" title=""></a>
      </div>
    </div>
  </div>
</footer>