@charset "utf-8";

/* Font */
@import url(../../../public/inc/css/font.css);

html,
body {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  color: #666;
}
body {
  line-height: 1.2;
  word-break: break-all;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
select,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
optgroup,
strong {
  font-weight: normal;
}
em,
span,
strong,
i {
  font-size: 100%;
}
img,
legend,
fieldset {
  border: none;
}
em,
address {
  font-style: normal;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
legend {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
ul,
ol,
li {
  list-style-type: none;
}
hr {
  display: none;
}
legend,
caption,
hr {
  display: none;
}
br,
p {
  letter-spacing: normal;
}
a {
  color: #777;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Common */
#guideWrap {
  position: relative;
  width: 100%;
  overflow-y: auto;
  height: 100vh;
  font-family: "Pretendard", sans-serif;
}
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  bottom: auto;
  left: auto;
  right: auto;
  background: #fff;
  width: 100%;
  border-bottom: 2px solid #999;
  z-index: 10000;
}
#guideHeader {
  width: 100%;
  min-height: 50px;
  background: #3EC2CF;
  box-shadow: 0 2px 5px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#guideHeader > div {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
}
#guideHeader div .total {
  color: #fff;
  margin-right: 20px;
}
#guideHeader div .total strong {
  margin-right: 5px;
}

#guideWrap #footer {
  padding: 15px 0 10px 0;
  border: 0;
  background: #3EC2CF;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

/* Path */

.nav-wrap {
  margin: 50px 0 10px 0;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
}
.nav-wrap .nav {
  display: flex;
  justify-content: space-between;
  min-width: 480px;
}
.nav-wrap .nav li a {
  font-size: 16px;
  font-weight: 700;
  color: #999;
  padding: 5px 4px;
  display: block;
}
.nav-wrap .nav li a:hover {
  border-bottom: 2px solid #999;
}
.nav-wrap .nav li a.on {
  color: #000;
}
.nav-wrap .nav li a.on {
  border-bottom: 2px solid #000;
}

.pathNavMenu > ul > li {
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 20px;
  text-align: left;
  position: relative;
  padding-bottom: 5px;
}
.pathNavMenu > ul > li a:after {
  display: block;
  content: "";
  position: absolute;
  left: 0%;
  bottom: 2px;
  width: 0%;
  height: 2px;
  background: #ff0000;
  transition: width 0s;
}
.pathNavMenu > ul > li a.on:after {
  transition: width 1s;
  width: 100%;
}
.pathNavMenu > ul > li a.on:hover:after {
  transition: width 1s;
  width: 100%;
}
.pathNavMenu > ul > li a:hover:after {
  transition: width 1s;
  width: 50%;
  left: 0;
  right: auto;
}
.pathNavMenu > ul > li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.pathNavMenu .allMenu,
.pathNavMenu .menu {
  font-size: 14px;
  font-family: "Pretendard", sans-serif;
  color: #000;
}
.pathNavMenu .menu .countWrap .progress {
  font-size: 12px;
  color: #777;
}
.pathList .pathTbl {
  width: 100%;
  border-bottom: 2px solid #7a7a7a;
}
.pathList .pathTbl thead tr th {
  padding: 15px 0;
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #ddd;
  font-size: 13px;
  color: #000;
}
.pathList .pathTbl thead tr th:first-child {
  border-left: 0;
}
.pathList .pathTbl tbody tr th,
.pathList .pathTbl tbody tr td {
  padding: 10px;
  font-size: 12px;
  color: #000;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.pathList .pathTbl tbody th {
  background: #f2f2f2;
}
.pathList .pathTbl tbody th > .txt,
.pathList .pathTbl tbody td > .txt {
  margin-top: 5px;
  color: #888;
}
.pathList .pathTbl tr.on th,
.pathList .pathTbl tr.on td {
  background: #f2f2f2;
}
.pathList .pathTbl .url a {
  color: #009e00;
}
.pathList .pathTbl .url a:hover {
  text-decoration: underline;
}
.pathList .pathTbl .dep1 {
  padding-top: 15px;
  vertical-align: top;
  font-family: "Pretendard", sans-serif;
}
/* .pathList .pathTbl .dep2,
.pathList .pathTbl .dep3,
.pathList .pathTbl .dep4 {
  vertical-align: top;
} */
.pathList .pathTbl .dep2,
.pathList .pathTbl .dep3,
.pathList .pathTbl .dep4,
.pathList .pathTbl .dep5 {
  padding-top: 15px;
  vertical-align: top;
  word-break: break-word;
  position: relative;
}
.pathList .pathTbl .date {
  font-size: 12px;
}
.pathList .pathTbl .date p {
}
.pathList .pathTbl .date a {
  font-size: 10px;
}
.pathList .pathTbl .date a:hover {
  color: #ff0000;
}
.pathList .pathTbl .txt {
  border-right: 0;
}
.pathList .pathTbl .txt ul li {
  margin-top: 5px;
}
.pathList .pathTbl .txt ul li:first-child {
  margin-top: 0;
}
.pathList .pathTbl tbody tr td.check {
  padding: 0;
  font-size: 17px;
  text-align: center;
}
.pathList .pathTbl tbody tr.del .tit,
.pathList .pathTbl tbody tr.del .url a {
  text-decoration: line-through;
  color: #ff0000;
}

/* Guide */
#guideHeader h1 {
  margin-left: 30px;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  color: #fff;
}
#guideHeader .left {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
  padding-left: 10px;
  border-left: 1px solid #fff;
  font-size: 20px;
  color: #fff;
}
#guideContents {
  padding: 20px;
}
.guideTit {
  padding-left: 15px;
  font-family: "Pretendard", sans-serif;
  font-size: 26px;
  color: #000;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 0;
  background: #fff;
  z-index: 1;
}
.guideTit::before {
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  background: #1c4196;
  margin-right: 10px;
}
.guideSubTit {
  margin: 15px 0;
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #222;
  font-weight: 400;
}
.guideSubTit::before {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  content: "";
  background: #1c4196;
  margin-right: 5px;
}
.section {
  padding-bottom: 40px;
  border-bottom: 1px dashed #000;
  /* display: none; */
}
.section > .info {
  margin: 0 0 0 10px;
  font-size: 16px;
  color: #333;
}
.section > .info em {
  color: #ff0000;
}
.section > .info > .subSection {
  margin: 20px 0;
  border: 1px solid #7a7a7a;
  padding: 10px;
  border-radius: 5px;
}
.section > .info > .subSection:last-child {
  margin-bottom: 0;
}
.subSection > p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}
.subSection .code + .code {
  margin-top: 18px;
}
.subSection .discription {
  margin-bottom: 10px;
  padding: 0;
  font-size: 13px;
  color: #0066cc;
}
.subSection .imgContainer {
  margin: 10px 0;
}
.subSection .link {
  font-size: 14px;
  text-decoration: underline;
  color: #0066cc;
}

.listDot {
  margin: 15px 0 0 15px;
}
.listDot > li {
  margin-top: 10px;
  padding-left: 10px;
  background: url(../images/bul_dot_small.gif) no-repeat 0 6px;
}
.listDot > li em {
  color: #ff0000;
}
.listDot > li:first-child {
  margin-top: 0;
}
.listInfo > li + li {
  margin-top: 30px;
}
.listInfo > li .listTit {
  margin-bottom: 10px;
  font-size: 14px;
}
.listInfo > li .listTit:before {
  display: inline-block;
  content: "#";
  margin-right: 5px;
}
.listInfo > li .listTxt {
  margin-bottom: 10px;
  font-size: 13px;
}
.listInfo > li .listTxt + .listTxt {
  color: #666;
}
.listNumber {
  counter-reset: listCounter;
}
.listNumber li {
  font-size: 13px;
}
.listNumber li:before {
  float: left;
  margin-right: 3px;
  content: counters(listCounter, "") ".";
  counter-increment: listCounter;
}
.listNumber li + li {
  margin-top: 17px;
}
.icon-state {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 1px solid #000;
  margin: 0 auto;
}

.path-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.mark-wrap {
  display: flex;
  flex: 0 0 350px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.mark-wrap li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mark-wrap li .icon-state {
  margin-left: 15px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .mark-wrap li .icon-state::after {
  content: ":";
  padding-left: 13px;
} */

.icon-state.comp {
  background-color: #0142b3;
  border-color: #0142b3;
}
.icon-state.wait {
  background-color: #888;
  border-color: #888;
}
.icon-state.retouch {
  animation-name: retouchBg;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.icon-state.examine {
  background-color: #845aea;
  border-color: #845aea;
}
.icon-state.working {
  background-color: #53b100;
  border-color: #53b100;
}

@-webkit-keyframes retouchBg {
  0% {
    background-color: #ffbbbb;
    border-color: #ffbbbb;
  }
  50% {
    background-color: red;
    border-color: red;
  }
  100% {
    background-color: #ffbbbb;
    border-color: #ffbbbb;
  }
}

#guideContents.guide-content {
  padding: 0;
  display: flex;
  width: 100vw;
  height: calc(100vh - 145px);
}
.guide-content nav {
  padding: 30px 0 0 20px;
  background: #f9f9f9;
  flex: 0 0 200px;
}

.ui-page.ui-page-active {
  height: auto;
  overflow: visible;
  overflow-x: hidden;
}

pre {
  margin: 0;
  font-size: 13px;
}

nav .object-list li {
  margin-top: 10px;
}

nav .object-list li:first-child {
  margin-top: 0;
}

nav .object-list li a {
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-bottom: 3px;
}
nav .object-list li a:hover {
  color: #000;
}

nav .object-list li a.on {
  color: #000;
}

nav .object-list li a::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: #000;
  transition: width 0.5s;
}

nav .object-list li a.on::after {
  display: block;
  content: "";
  width: 100%;
}

nav .title {
  margin-top: 35px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

nav .layout-list {
  margin-top: 15px;
}

nav .layout-list li {
  margin-top: 15px;
}

nav .layout-list li:first-child {
  margin-top: 10px;
}

nav .layout-list li a {
  font-size: 14px;
  color: blue;
  border-bottom: 1px solid blue;
}

nav .layout-list li:first-child a {
  margin-top: 0;
}

.contset-wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.section {
  padding: 20px 20px;
}

.section h2.guide-tit {
  color: #000;
  margin-top: 60px;
  padding-left: 20px;
  position: relative;
  font-size: 25px;
}

.section h2.guide-tit:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #24abf7;
}

.section:first-of-type h2.guide-tit {
  margin-top: 0;
}

.section .cont-type .ui-item {
  position: relative;
  border: 1px solid #e5e5e5;
  min-height: 50px;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
  padding: 15px 10px;
}

.section .ui-item {
  margin: 20px 0;
}
/* .section .ui-item > * {
  margin: 20px 0;
} */

.section .ui-item > .table-wrap:not(:last-child) {
  margin-bottom: 1rem;
}

.section .cont-type .ui-item .guide-txt {
  margin-top: 15px;
  font-size: 15px;
}

.section .cont-type .ui-item > *:first-child {
  margin-top: 0 !important;
}

.section .cont-type pre {
  margin-top: 10px;
  background: #efefef;
  min-height: 50px;
  padding: 10px;
}

.ui-item .fix-btn-wrap {
  position: relative;
}

.ico-stat-wrap {
  padding: 20px;
}

#guideContents.guide_cont_wrap {
  height: calc(100vh - 144px);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0;
}

[class*="color-type"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: bold;
  /* mix-blend-mode: exclusion; */
  color: #fff;
}
.color-type01 {
  background: #3EC2CF;
}
.color-type02 {
  background: #554596;
}
.color-type03 {
  background: #E12991;
}
.color-type04 {
  background: #F1593F;
}
.color-type05 {
  background: #303188;
}
.color-type06 {
  background: #A6CE39;
}
.color-type07 {
  background: #858889;
}
.color-type-black {
  background: #000000;
}
.color-type-white {
  background: #FFFFFF;
  color: #171819;
}

/* guide-title font 크기 설정시 추가하여 사용 */
[class^="guide-title"] {margin-bottom: 0.625rem;}
[class^="guide-title"][class*="-h3"] {font-size: 1.5rem; line-height: 2.25rem; font-weight: 600;}

.guide-wrapper {padding:1rem;}
.guide-content .selectbox-wrap {margin-top: 1rem;}
.guide-header {display: flex; justify-content: space-between; align-items: center;}
.guide-section.intro {border-bottom: 1px solid #ccc; padding-bottom: 24px;}
.guide-section.intro [class^="guide-title"] {color: seagreen; }
.guide-section:not(:last-child) {margin-bottom: 24px;}
.guide-list {padding-top:12px;}
.guide-list > li {position: relative; font-size: 1rem; padding-left: 8px;}
.guide-list > li:not(:last-child) {padding-bottom:8px;}
.guide-list > li::before {content:''; display:inline-block; width: 4px; height: 4px; background-color: #acacac; border-radius: 50%; position: absolute; top:50%; left:0; transform: translateY(-50%);}